# Visualization Code for OddLot

This Jupyter Notebook will hold all of the code for deriving the data in Charon SSG's slide deck.


## Base Code
This base code will be needed for all of the visualizations. So I'm putting it right at the start. This includes things such as importing needed modules and reading in and cleaning the data.

Estimated return is simply shares buying back/outstanding shares, discretized by the increments

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime

# Constants
####
# TODO: get montly treasury rate and average that across year
RISK_FREE_RATE = .0469 # MEAN 20 YEAR TREASURY RATE
####

odd_lot_data = pd.read_csv('./data/cleaned-data/url_data.csv')

# Remove any data rows where there have been errors or duplicates
odd_lot_data.dropna(subset=['exp date', 'trading px'], inplace=True)
odd_lot_data.drop_duplicates(subset=['cik', 'date'], inplace = True)

# Add average price
odd_lot_data['avg'] = (odd_lot_data['high'] - odd_lot_data['low']) / 2 + odd_lot_data['low']

# Make the date columns into actual python datetimes
odd_lot_data['date'] = pd.to_datetime(odd_lot_data['date'])
odd_lot_data['exp date'] = pd.to_datetime(odd_lot_data['exp date'])
odd_lot_data['px date'] = pd.to_datetime(odd_lot_data['px date'])
odd_lot_data['pay date'] = pd.to_datetime(odd_lot_data['exp date']).apply(lambda date: date +  datetime.timedelta(days=6))
# odd_lot_data['year'] = pd.DatetimeIndex(odd_lot_data['date']).year

# Only look at data inside of date range
start_date = pd.to_datetime('20000101', format='%Y%m%d', errors='ignore')
end_date = pd.to_datetime('20181231', format='%Y%m%d', errors='ignore')
odd_lot_data = odd_lot_data[(odd_lot_data['date'] > start_date) & (odd_lot_data['pay date'] < end_date)]
# print(odd_lot_data)

# Cast price cap and share cap as ints
odd_lot_data['price cap'] = odd_lot_data['price cap'].astype(float, errors='ignore') 
odd_lot_data['share cap'] = odd_lot_data['share cap'].astype(float, errors='ignore')
print(odd_lot_data)


odd_lot_data.sort_values('date', inplace=True)
odd_lot_data.reset_index(drop=True, inplace=True)

# Initialize fonts
georgia_font = {'fontname':'Georgia'}

              cik       date  \
0            1750 2015-04-27
1            2135 2006-02-09
2            2491 2011-04-08
3            3370 2007-11-21
4            3545 2018-09-05
5            5117 2005-09-07
6           12978 2005-03-30
7           14693 2003-02-04
8           14846 2010-09-22
9           78749 2007-08-21
10          78890 2006-03-09
11         315858 2018-03-20
13         318154 2011-11-08
14         350698 2006-03-10
15         701288 2001-11-26
17         701288 2003-03-18
18         703351 2006-08-29
19         716459 2000-09-29
20         722104 2006-08-14
21         723209 2006-11-20
22         723209 2007-08-15
23         733269 2006-08-07
24         733269 2018-11-13
25         760498 2007-08-03
26         782842 2011-09-14
27         812482 2008-05-19
28         824803 2003-04-23
30         830656 2004-12-27
32         832488 2015-11-02
33         835540 2008-10-20
..            ...        ...
663  "0001362925" 2016-03-14
668  "0001371446" 2011-08-02
673  "0001371446" 2011-12-01
674  "0001371446" 2012-05-09
675  "0001371446" 2012-11-05
676  "0001371446" 2013-05-21
677  "0001371446" 2014-07-24
679  "0001371489" 2016-03-10
684  "0001380393" 2016-02-05
688  "0001398659" 2014-03-06
689  "0001401564" 2016-07-13
690  "0001402902" 2017-11-20
696  "0001426506" 2014-10-30
698  "0001432150" 2012-03-28
703  "0001434621" 2010-11-18
704  "0001437226" 2012-02-07
706  "0001444363" 2018-10-09
707  "0001452217" 2010-11-08
709  "0001473597" 2014-01-31
710  "0001475841" 2015-07-06
711  "0001476246" 2017-06-23
713  "0001494904" 2012-05-09
714  "0001495479" 2014-11-12
722  "0001509223" 2015-04-02
723  "0001519061" 2016-03-28
725  "0001520566" 2016-02-11
727  "0001569391" 2015-05-04
730  "0001587755" 2016-01-12
731  "0001610114" 2015-12-17
733  "0001675033" 2017-04-06

                                                   url error   exp date  \
0    https://www.sec.gov//Archives/edgar/data/1750/...   NaN 2015-05-22
1    https://www.sec.gov//Archives/edgar/data/2135/...   NaN 2006-03-10
2    https://www.sec.gov//Archives/edgar/data/2491/...   NaN 2011-05-06
3    https://www.sec.gov//Archives/edgar/data/3370/...   NaN 2007-12-19
4    https://www.sec.gov//Archives/edgar/data/3545/...   NaN 2018-10-03
5    https://www.sec.gov//Archives/edgar/data/5117/...   NaN 2005-10-04
6    https://www.sec.gov//Archives/edgar/data/12978...   NaN 2005-04-28
7    https://www.sec.gov//Archives/edgar/data/14693...   NaN 2003-03-04
8    https://www.sec.gov//Archives/edgar/data/14846...   NaN 2010-10-20
9    https://www.sec.gov//Archives/edgar/data/78749...   NaN 2007-09-19
10   https://www.sec.gov//Archives/edgar/data/78890...   NaN 2006-04-06
11   https://www.sec.gov//Archives/edgar/data/31585...   NaN 2018-04-17
13   https://www.sec.gov//Archives/edgar/data/31815...   NaN 2011-12-07
14   https://www.sec.gov//Archives/edgar/data/35069...   NaN 2006-04-12
15   https://www.sec.gov//Archives/edgar/data/70128...   NaN 2001-12-21
17   https://www.sec.gov//Archives/edgar/data/70128...   NaN 2003-04-14
18   https://www.sec.gov//Archives/edgar/data/70335...   NaN 2006-09-26
19   https://www.sec.gov//Archives/edgar/data/71645...   NaN 2000-10-31
20   https://www.sec.gov//Archives/edgar/data/72210...   NaN 2006-09-12
21   https://www.sec.gov//Archives/edgar/data/72320...   NaN 2006-12-19
22   https://www.sec.gov//Archives/edgar/data/72320...   NaN 2007-09-13
23   https://www.sec.gov//Archives/edgar/data/73326...   NaN 2006-09-12
24   https://www.sec.gov//Archives/edgar/data/73326...   NaN 2018-12-12
25   https://www.sec.gov//Archives/edgar/data/76049...   NaN 2007-09-04
26   https://www.sec.gov//Archives/edgar/data/78284...   NaN 2011-11-02
27   https://www.sec.gov//Archives/edgar/data/81248...   NaN 2008-06-20
28   https://www.sec.gov//Archives/edgar/data/82480...   NaN 2003-05-21
30   https://www.sec.gov//Archives/edgar/data/83065...   NaN 2005-01-26
32   https://www.sec.gov//Archives/edgar/data/83248...   NaN 2015-12-01
33   https://www.sec.gov//Archives/edgar/data/83554...   NaN 2008-11-17
..                                                 ...   ...        ...
663  https://www.sec.gov//Archives/edgar/data/13629...   NaN 2016-04-11
668  https://www.sec.gov//Archives/edgar/data/13714...   NaN 2011-08-29
673  https://www.sec.gov//Archives/edgar/data/13714...   NaN 2011-12-28
674  https://www.sec.gov//Archives/edgar/data/13714...   NaN 2012-06-06
675  https://www.sec.gov//Archives/edgar/data/13714...   NaN 2012-12-03
676  https://www.sec.gov//Archives/edgar/data/13714...   NaN 2013-06-18
677  https://www.sec.gov//Archives/edgar/data/13714...   NaN 2014-08-20
679  https://www.sec.gov//Archives/edgar/data/13714...   NaN 2016-04-07
684  https://www.sec.gov//Archives/edgar/data/13803...   NaN 2016-03-04
688  https://www.sec.gov//Archives/edgar/data/13986...   NaN 2014-04-02
689  https://www.sec.gov//Archives/edgar/data/14015...   NaN 2016-08-09
690  https://www.sec.gov//Archives/edgar/data/14029...   NaN 2017-12-19
696  https://www.sec.gov//Archives/edgar/data/14265...   NaN 2014-12-01
698  https://www.sec.gov//Archives/edgar/data/14321...   NaN 2012-04-24
703  https://www.sec.gov//Archives/edgar/data/14346...   NaN 2010-12-17
704  https://www.sec.gov//Archives/edgar/data/14372...   NaN 2012-03-07
706  https://www.sec.gov//Archives/edgar/data/14443...   NaN 2018-11-06
707  https://www.sec.gov//Archives/edgar/data/14522...   NaN 2010-12-08
709  https://www.sec.gov//Archives/edgar/data/14735...   NaN 2014-02-28
710  https://www.sec.gov//Archives/edgar/data/14758...   NaN 2015-07-31
711  https://www.sec.gov//Archives/edgar/data/14762...   NaN 2017-08-02
713  https://www.sec.gov//Archives/edgar/data/14949...   NaN 2012-06-08
714  https://www.sec.gov//Archives/edgar/data/14954...   NaN 2014-12-10
722  https://www.sec.gov//Archives/edgar/data/15092...   NaN 2015-04-29
723  https://www.sec.gov//Archives/edgar/data/15190...   NaN 2016-04-25
725  https://www.sec.gov//Archives/edgar/data/15205...   NaN 2016-03-11
727  https://www.sec.gov//Archives/edgar/data/15693...   NaN 2015-06-02
730  https://www.sec.gov//Archives/edgar/data/15877...   NaN 2016-02-10
731  https://www.sec.gov//Archives/edgar/data/16101...   NaN 2016-01-19
733  https://www.sec.gov//Archives/edgar/data/16750...   NaN 2017-05-05

     trading px    px date  tender px    low   high  increment     price cap  \
0       30.1400 2015-04-24        NaN  29.00  32.00      0.100  1.350000e+08
1       56.2400 2006-01-25        NaN  56.00  63.00      0.250           NaN
2       37.6800 2011-04-07        NaN  34.50  40.00      0.250  4.000000e+08
3       10.7700 2007-11-19        NaN  13.00  15.00      0.250  2.950000e+08
4       32.3000 2018-08-31      34.00    NaN    NaN        NaN           NaN
5        2.4500 2005-09-06       1.92    NaN    NaN        NaN           NaN
6       33.2100 2005-03-29        NaN  30.00  34.00        NaN           NaN
7       64.9000 2003-01-31        NaN  63.00  73.00      0.500           NaN
8        5.1600 2010-09-20       6.30    NaN    NaN        NaN           NaN
9       15.6300 2007-08-20        NaN  16.25  18.50      0.250           NaN
10      47.9800 2005-11-15        NaN  47.50  52.50      0.100           NaN
11       9.1800 2018-03-13       9.25    NaN    NaN        NaN           NaN
13      55.1700 2011-11-07        NaN  54.00  60.00      0.250  5.000000e+09
14      20.8900 2006-03-06      23.00    NaN    NaN        NaN           NaN
15      32.0247 2001-11-20      34.50    NaN    NaN        NaN           NaN
17      18.0000 2003-02-26      23.00    NaN    NaN        NaN           NaN
18      36.8200 2006-08-28        NaN  35.25  38.50      0.250           NaN
19      16.5000 2000-09-25        NaN  18.00  20.00      0.125           NaN
20       5.5900 2006-08-11        NaN   5.80   6.80      0.100           NaN
21      15.0100 2006-11-15      16.25    NaN    NaN        NaN           NaN
22      14.8500 2007-08-10      14.00    NaN    NaN        NaN           NaN
23      24.4900 2006-08-04        NaN  25.00  27.00      0.250           NaN
24      45.8900 2018-11-12        NaN  44.50  49.00      0.100  5.000000e+08
25      40.5900 2007-08-01        NaN  39.50  45.00      0.250           NaN
26       1.0400 2011-09-12        NaN   1.30   1.55      0.050           NaN
27      35.0000 2008-05-13      40.00    NaN    NaN        NaN           NaN
28      15.8700 2003-04-22        NaN  15.00  17.50      0.250           NaN
30       3.0700 2004-12-20       3.50    NaN    NaN        NaN           NaN
32       6.2400 2015-10-30       7.50    NaN    NaN        NaN           NaN
33       3.5100 2008-10-17        NaN   4.00   5.00      0.125           NaN
..          ...        ...        ...    ...    ...        ...           ...
663      3.4300 2016-03-11        NaN   3.20   3.60      0.100  1.500000e+07
668      2.9300 2011-08-01       3.05    NaN    NaN        NaN           NaN
673      2.0300 2011-11-29        NaN   1.80   2.00      0.050           NaN
674      2.6800 2012-05-07        NaN   2.75   3.00      0.050           NaN
675      2.9800 2012-11-02        NaN   3.00   3.25      0.050           NaN
676     22.0000 2013-05-20        NaN  22.50  23.50      0.050           NaN
677     25.3000 2014-07-21        NaN  28.00  29.00      0.200           NaN
679      3.3100 2016-03-09        NaN   3.30   4.00      0.100  1.200000e+07
684      4.0100 2016-02-04        NaN   4.25   4.75      0.050  1.000000e+08
688     16.7100 2014-03-05        NaN  16.50  18.00      0.250  3.000000e+08
689     13.5000 2016-07-11        NaN  13.00  14.00      0.100  4.000000e+07
690      8.3900 2017-11-17        NaN   9.23   9.65      0.060  2.000000e+08
696      2.0700 2014-10-29       2.41    NaN    NaN        NaN  1.609484e+07
698      2.7000 2012-03-27        NaN   2.85   3.10      0.010  2.000000e+06
703      6.8600 2010-11-17        NaN   7.25   7.75      0.100  1.500000e+07
704      4.5700 2012-02-06        NaN   4.65   5.50      0.050           NaN
706      6.9100 2018-10-08        NaN   7.24   7.94      0.050  5.000000e+07
707     27.9700 2010-11-03        NaN  24.50  27.50      0.250  1.300000e+08
709      1.4700 2014-01-30        NaN   1.00   1.54      0.050  3.000000e+07
710     20.6700 2015-07-02        NaN  19.60  22.50      0.100  1.000000e+08
711     39.6500 2017-06-09        NaN  38.00  45.00      0.100           NaN
713     19.3400 2012-05-08        NaN  19.25  22.00      0.250  6.100000e+07
714     14.4400 2014-11-06        NaN  12.50  14.50      0.100  5.000000e+07
722      2.4100 2015-03-31        NaN   2.40   2.75      0.050  5.000000e+07
723     37.8600 2016-03-18      35.63    NaN    NaN        NaN           NaN
725      8.6100 2016-02-10        NaN   8.20   9.40      0.100  1.000000e+08
727     12.8400 2015-04-30        NaN  13.50  14.00      0.100  3.300000e+08
730      7.0300 2016-01-11        NaN   9.00  10.00      0.100  5.000000e+07
731      9.5100 2015-12-16        NaN   9.00  10.00      0.100  3.000000e+07
733     11.0200 2017-03-29        NaN  11.50  12.17      0.110  1.000000e+07

      share cap  shares outstanding     avg   pay date
0           NaN          39661386.0  30.500 2015-05-28
1    55500000.0         118302227.0  59.500 2006-03-16
2           NaN          52916823.0  37.250 2011-05-12
3           NaN         116021508.0  14.000 2007-12-25
4      588235.0           8199957.0     NaN 2018-10-09
5     2864584.0          17204134.0     NaN 2005-10-10
6    23500000.0          93852590.0  32.000 2005-05-04
7     1500000.0          28891260.0  68.000 2003-03-10
8     2500000.0          14080186.0     NaN 2010-10-26
9     6000000.0          31437014.0  17.375 2007-09-25
10   10000000.0          58724211.0  50.000 2006-04-12
11    6486486.0          85709163.0     NaN 2018-04-23
13          NaN         876795191.0  57.000 2011-12-13
14   50000000.0         262705497.0     NaN 2006-04-18
15     500000.0           2079050.0     NaN 2001-12-27
17     350000.0           1838571.0     NaN 2003-04-20
18   11688311.0          82716539.0  36.875 2006-10-02
19    1668329.0          16683294.0  19.000 2000-11-06
20   10000000.0          61870000.0   6.300 2006-09-18
21     246154.0            674191.0     NaN 2006-12-25
22     300000.0            414617.0     NaN 2007-09-19
23   11111111.0          88033832.0  26.000 2006-09-18
24          NaN          78846830.0  46.750 2018-12-18
25     500000.0          15724536.0  42.250 2007-09-10
26   10000000.0         127553267.0   1.425 2011-11-08
27     600000.0           6348781.0     NaN 2008-06-26
28   15000000.0         102194940.0  16.250 2003-05-27
30    5500000.0           6872915.0     NaN 2005-02-01
32    2000000.0          14434887.0     NaN 2015-12-07
33     600000.0           6813007.0   4.500 2008-11-23
..          ...                 ...     ...        ...
663         NaN          51821800.0   3.400 2016-04-17
668   5000000.0          60736007.0     NaN 2011-09-04
673   5000000.0          54784406.0   1.900 2012-01-03
674   4000000.0          55355212.0   2.875 2012-06-12
675   4000000.0          48952185.0   3.125 2012-12-09
676   1250000.0          11805359.0  23.000 2013-06-24
677   1000000.0          10088200.0  28.500 2014-08-26
679         NaN          37292989.0   3.650 2016-04-13
684         NaN         221183518.0   4.500 2016-03-10
688         NaN         231716562.0  17.250 2014-04-08
689         NaN          13327916.0  13.500 2016-08-15
690         NaN         168892385.0   9.440 2017-12-25
696         NaN           8561997.0     NaN 2014-12-07
698         NaN          21587343.0   2.975 2012-04-30
703         NaN          11080929.0   7.500 2010-12-23
704    608000.0           3569102.0   5.075 2012-03-13
706         NaN          44273583.0   7.590 2018-11-12
707         NaN          18255698.0  26.000 2010-12-14
709         NaN          41886915.0   1.270 2014-03-06
710         NaN          35053339.0  21.050 2015-08-06
711   5580000.0          24634512.0  41.500 2017-08-08
713         NaN          16396965.0  20.625 2012-06-14
714         NaN          18656701.0  13.500 2014-12-16
722         NaN         128583734.0   2.575 2015-05-05
723   1165000.0          47177934.0     NaN 2016-05-01
725         NaN         102823731.0   8.800 2016-03-17
727         NaN         109040224.0  13.750 2015-06-08
730         NaN          45219380.0   9.500 2016-02-16
731         NaN          85447551.0   9.500 2016-01-25
733         NaN          12550746.0  11.835 2017-05-11

[485 rows x 16 columns]

## Flag Outliers

If an offer has crazy high return, I've flagged it so that we can take a look at it and make sure the values are correct.

In [2]:
# def calculate_sell_price(row):
#     if np.isnan(row['low']):
#         return row['tender px']
#     else:
#         return row['low']

# sell_prices = odd_lot_data.apply(lambda row: calculate_sell_price(row), axis=1)
# odd_lot_data['buy_low_px_spread'] = sell_prices - odd_lot_data['trading px']
# odd_lot_data['low_norm_return'] = odd_lot_data['buy_low_px_spread'] / odd_lot_data['trading px']

# highest_returns = odd_lot_data.sort_values(by='low_norm_return').tail(15)
# print(highest_returns)

## Simulation Variables
This section will handle any variables that we want to test, so that we can see what their effect is on returns.

In [3]:
### SET SIMULATOR VARIABLES
# Decide whether we are using a one account limit per company
one_account_limit = False
# tender_price_appreciation - how close doed a tender price gets to the low price
tender_price_appreciation = 0 # (increments: [0, .25, .5, .75, 1])
# Failure rates - what percent of tender offers do I have to sell back at market px
failure_rate = 0 # (increments: [0, .05, .1, .25, .5, .75])
failure_penalty_rate = 0 # (increments: [.01, .02, .05, .1])
# The percentage of the share cap we can take at max
share_cap_modifier = .25 # (increments: [.1, .25, .5, .75])
# Fee rates - The fee rate for making a transaction
fee_rate = .1 # (increments: [0, .01, .02, .05, .1])

def get_appreciated_price(row):
    result = np.NaN
    if not np.isnan(row['low']):
        if row['low'] > row['trading px']:
            result = round(row['trading px'] + tender_price_appreciation * (row['low'] - row['trading px']), 2)
        else:
            result = row['trading px']
    else:
        if row['tender px'] > row['trading px']:
            result = round(row['trading px'] + tender_price_appreciation * (row['tender px'] - row['trading px']), 2)
        else:
            result = row['trading px']
    return result
#     print(row['low'])
#     print(row['tender px'])
#     print(row['trading px'])
#     print(result)
#     print('~~~~~~')

def get_our_share_cap(row, outlook='avg'):
    # Get sell price
    sell_price = row[outlook]
    if np.isnan(sell_price) or sell_price is None:
        sell_price = row['tender px']
        
    # If there is a share cap and price cap, pick the most limiting of the two given the outlook, as our share cap
    if row['share cap'] is not None and row['price cap'] is not None \
        and not np.isnan(row['share cap']) and not np.isnan(row['price cap']):
        price_share_cap = np.floor(float(row['price cap']) / float(sell_price))

        # Pick the most limiting of the two
        if row['share cap'] < price_share_cap:
            return np.double(row['share cap'] * share_cap_modifier)
        else:
            return price_share_cap * share_cap_modifier
        
    # If there is a no price cap, but there is a share cap, use that as our share cap
    elif row['share cap'] is not None and not np.isnan(row['share cap']):
        return row['share cap'] * share_cap_modifier
    
    # If there is a no share cap, but there is a share cap, use that as our share cap
    elif row['price cap'] is not None and not np.isnan(row['price cap']):
        price_share_cap = np.floor(row['price cap'] / sell_price)
        return price_share_cap * share_cap_modifier
    
    else:
        raise Exception("Must have a value for either the 'share cap' or 'price cap' columns")
        
if tender_price_appreciation > 0:
    odd_lot_data['trading px'] = odd_lot_data.apply(get_appreciated_price, axis=1)
odd_lot_data['our_share_cap'] = odd_lot_data.apply(get_our_share_cap, outlook='avg', axis=1)
odd_lot_data['fee_cost_per_share'] = fee_rate * odd_lot_data['trading px']
print(odd_lot_data)

              cik       date  \
0    "0001032208" 2000-01-26
1    "0000096879" 2000-01-26
2    "0000787250" 2000-02-04
3    "0000033488" 2000-02-24
4    "0000046080" 2000-02-28
5    "0001021575" 2000-03-01
6    "0000912766" 2000-03-21
7    "0000785815" 2000-03-21
8    "0000909954" 2000-04-17
9    "0001036615" 2000-04-24
10   "0000763744" 2000-05-01
11   "0001059131" 2000-06-05
12        1019439 2000-07-31
13   "0000919568" 2000-08-01
14   "0000912766" 2000-08-10
15   "0000706698" 2000-08-18
16   "0000776867" 2000-08-21
17   "0000032020" 2000-09-08
18   "0000083402" 2000-09-26
19   "0001012771" 2000-09-26
20   "0000716459" 2000-09-29
21         716459 2000-09-29
22   "0000769520" 2000-10-23
23   "0000318189" 2000-10-27
24   "0001006265" 2000-10-31
25   "0000930420" 2000-11-06
26   "0000108079" 2000-11-09
27   "0000813298" 2000-11-15
28   "0000216039" 2000-12-15
29   "0000785024" 2000-12-15
..            ...        ...
455       1515156 2017-05-08
456  "0000701869" 2017-05-26
457  "0001476246" 2017-06-23
458  "0000814586" 2017-06-26
459  "0000077776" 2017-08-11
460  "0000776867" 2017-08-17
461  "0001180262" 2017-08-21
462  "0000868278" 2017-08-25
463  "0001282977" 2017-09-27
464  "0000868278" 2017-11-20
465  "0001402902" 2017-11-20
466  "0000096793" 2017-11-21
467  "0000020212" 2018-01-10
468  "0000944075" 2018-02-02
469  "0001282977" 2018-02-13
470  "0000023111" 2018-03-16
471        315858 2018-03-20
472  "0000776867" 2018-04-10
473  "0001180262" 2018-04-18
474  "0001171825" 2018-04-26
475  "0000106640" 2018-04-26
476       1551152 2018-05-01
477        913277 2018-05-08
478  "0001056358" 2018-05-18
479  "0000804328" 2018-07-31
480       1379785 2018-08-07
481  "0001112920" 2018-08-22
482          3545 2018-09-05
483  "0001444363" 2018-10-09
484        733269 2018-11-13

                                                   url error   exp date  \
0    https://www.sec.gov//Archives/edgar/data/10322...   NaN 2000-02-25
1    https://www.sec.gov//Archives/edgar/data/96879...   NaN 2000-02-23
2    https://www.sec.gov//Archives/edgar/data/78725...   NaN 2000-03-03
3    https://www.sec.gov//Archives/edgar/data/33488...   NaN 2000-03-24
4    https://www.sec.gov//Archives/edgar/data/46080...   NaN 2000-03-27
5    https://www.sec.gov//Archives/edgar/data/10215...   NaN 2000-03-29
6    https://www.sec.gov//Archives/edgar/data/91276...   NaN 2000-04-17
7    https://www.sec.gov//Archives/edgar/data/78581...   NaN 2000-04-19
8    https://www.sec.gov//Archives/edgar/data/90995...   NaN 2000-05-15
9    https://www.sec.gov//Archives/edgar/data/10366...   NaN 2000-05-19
10   https://www.sec.gov//Archives/edgar/data/76374...   NaN 2000-05-31
11   https://www.sec.gov//Archives/edgar/data/10591...   NaN 2000-07-05
12   https://www.sec.gov//Archives/edgar/data/10194...   NaN 2000-08-30
13   https://www.sec.gov//Archives/edgar/data/91956...   NaN 2000-08-28
14   https://www.sec.gov//Archives/edgar/data/91276...   NaN 2000-09-07
15   https://www.sec.gov//Archives/edgar/data/70669...   NaN 2000-09-15
16   https://www.sec.gov//Archives/edgar/data/77686...   NaN 2000-09-18
17   https://www.sec.gov//Archives/edgar/data/32020...   NaN 2000-10-05
18   https://www.sec.gov//Archives/edgar/data/83402...   NaN 2000-10-24
19   https://www.sec.gov//Archives/edgar/data/10127...   NaN 2000-10-26
20   https://www.sec.gov//Archives/edgar/data/71645...   NaN 2000-10-31
21   https://www.sec.gov//Archives/edgar/data/71645...   NaN 2000-10-31
22   https://www.sec.gov//Archives/edgar/data/76952...   NaN 2000-11-22
23   https://www.sec.gov//Archives/edgar/data/31818...   NaN 2000-12-15
24   https://www.sec.gov//Archives/edgar/data/10062...   NaN 2000-12-01
25   https://www.sec.gov//Archives/edgar/data/93042...   NaN 2000-12-05
26   https://www.sec.gov//Archives/edgar/data/10807...   NaN 2000-12-15
27   https://www.sec.gov//Archives/edgar/data/81329...   NaN 2000-12-14
28   https://www.sec.gov//Archives/edgar/data/21603...   NaN 2001-01-17
29   https://www.sec.gov//Archives/edgar/data/78502...   NaN 2001-01-31
..                                                 ...   ...        ...
455  https://www.sec.gov//Archives/edgar/data/15151...   NaN 2017-06-05
456  https://www.sec.gov//Archives/edgar/data/70186...   NaN 2017-06-26
457  https://www.sec.gov//Archives/edgar/data/14762...   NaN 2017-08-02
458  https://www.sec.gov//Archives/edgar/data/81458...   NaN 2017-07-25
459  https://www.sec.gov//Archives/edgar/data/77776...   NaN 2017-09-08
460  https://www.sec.gov//Archives/edgar/data/77686...   NaN 2017-09-14
461  https://www.sec.gov//Archives/edgar/data/11802...   NaN 2017-09-19
462  https://www.sec.gov//Archives/edgar/data/86827...   NaN 2017-09-25
463  https://www.sec.gov//Archives/edgar/data/12829...   NaN 2017-10-25
464  https://www.sec.gov//Archives/edgar/data/86827...   NaN 2017-12-18
465  https://www.sec.gov//Archives/edgar/data/14029...   NaN 2017-12-19
466  https://www.sec.gov//Archives/edgar/data/96793...   NaN 2017-12-21
467  https://www.sec.gov//Archives/edgar/data/20212...   NaN 2018-02-07
468  https://www.sec.gov//Archives/edgar/data/94407...   NaN 2018-03-09
469  https://www.sec.gov//Archives/edgar/data/12829...   NaN 2018-03-14
470  https://www.sec.gov//Archives/edgar/data/23111...   NaN 2018-04-16
471  https://www.sec.gov//Archives/edgar/data/31585...   NaN 2018-04-17
472  https://www.sec.gov//Archives/edgar/data/77686...   NaN 2018-05-07
473  https://www.sec.gov//Archives/edgar/data/11802...   NaN 2018-05-16
474  https://www.sec.gov//Archives/edgar/data/11718...   NaN 2018-05-23
475  https://www.sec.gov//Archives/edgar/data/10664...   NaN 2018-05-23
476  https://www.sec.gov//Archives/edgar/data/15511...   NaN 2018-05-29
477  https://www.sec.gov//Archives/edgar/data/91327...   NaN 2018-06-05
478  https://www.sec.gov//Archives/edgar/data/10563...   NaN 2018-06-15
479  https://www.sec.gov//Archives/edgar/data/80432...   NaN 2018-08-27
480  https://www.sec.gov//Archives/edgar/data/13797...   NaN 2018-09-06
481  https://www.sec.gov//Archives/edgar/data/11129...   NaN 2018-09-19
482  https://www.sec.gov//Archives/edgar/data/3545/...   NaN 2018-10-03
483  https://www.sec.gov//Archives/edgar/data/14443...   NaN 2018-11-06
484  https://www.sec.gov//Archives/edgar/data/73326...   NaN 2018-12-12

     trading px    px date  tender px     low    high  increment  \
0       17.2500 2000-01-25        NaN   17.50   20.00     0.1250
1       40.4400 2000-01-25        NaN   39.00   44.00     0.1250
2       19.0000 2000-01-16        NaN   20.00   23.00     0.1250
3       14.0000 2000-02-23        NaN   14.50   18.00     0.0625
4       14.5000 2000-02-24        NaN   15.25   17.50        NaN
5       11.1300 2000-02-25        NaN   12.00   14.50     0.2500
6       14.8750 2000-03-20        NaN   15.25   17.50     0.1250
7        3.7500 2000-03-20       6.25     NaN     NaN        NaN
8       14.0000 2000-04-03        NaN   14.50   16.00     0.1250
9        4.8100 2000-04-20       5.72     NaN     NaN        NaN
10       7.0625 2000-04-28       8.00     NaN     NaN        NaN
11      10.5000 2000-05-31      12.50     NaN     NaN        NaN
12       4.6250 2000-07-28       6.25     NaN     NaN        NaN
13      16.1875 2000-07-28        NaN   16.00   18.00     0.1250
14      13.6250 2000-08-09        NaN   13.50   15.00     0.1250
15       7.1900 2000-08-09       8.20     NaN     NaN        NaN
16     157.0000 2000-08-11     165.00     NaN     NaN        NaN
17       3.1880 2000-08-28        NaN    4.50    6.00     0.2500
18       8.3800 2000-08-14        NaN    9.00   11.00     0.1250
19      15.1900 2000-09-22      20.00     NaN     NaN        NaN
20      16.5000 2000-09-25        NaN   18.00   20.00     0.1250
21      16.5000 2000-09-25        NaN   18.00   20.00     0.1250
22       5.3750 2000-10-20       7.00     NaN     NaN        NaN
23       0.1300 2000-10-19       0.25     NaN     NaN        NaN
24      14.0000 2000-10-27        NaN   15.00   17.00     0.5000
25       2.7500 2000-10-24        NaN    4.75    5.50        NaN
26       8.1410 2000-11-08        NaN   10.00   12.00     0.1250
27       2.3750 2000-11-02        NaN    2.20    3.00     0.1000
28       4.6250 2000-12-04       7.00     NaN     NaN        NaN
29      22.0000 2000-11-30      25.50     NaN     NaN        NaN
..          ...        ...        ...     ...     ...        ...
455      9.3900 2017-05-05        NaN    9.40   10.80     0.1000
456     17.3500 2017-05-22      20.00     NaN     NaN        NaN
457     39.6500 2017-06-09        NaN   38.00   45.00     0.1000
458      9.3600 2017-06-23        NaN    8.50    9.50     0.0500
459     13.9500 2017-08-10        NaN   13.45   14.25     0.0500
460    850.6500 2017-08-16        NaN  825.00  875.00     1.0000
461     61.9500 2017-08-18        NaN   60.00   68.00     0.2500
462      2.1300 2017-08-15       2.30     NaN     NaN        NaN
463     14.4000 2017-09-25      17.00     NaN     NaN        NaN
464      2.1100 2017-11-09       2.30     NaN     NaN        NaN
465      8.3900 2017-11-17        NaN    9.23    9.65     0.0600
466      1.4900 2017-11-17       1.60     NaN     NaN        NaN
467    238.6500 2018-01-09        NaN  230.00  265.00     1.0000
468      3.5000 2018-02-01        NaN    3.75    4.25     0.0500
469     18.6000 2018-02-12        NaN   18.50   20.50     0.2500
470      5.2400 2018-02-14        NaN    8.05    9.00     0.0500
471      9.1800 2018-03-13       9.25     NaN     NaN        NaN
472    806.1700 2018-04-09        NaN  825.00  875.00     1.0000
473    103.0200 2018-04-17        NaN   98.00  108.00     0.2500
474     52.9000 2018-04-25        NaN   50.00   56.00     0.2500
475    155.4800 2018-04-25        NaN  150.00  170.00     0.5000
476     96.5500 2018-04-30        NaN   99.00  114.00     1.0000
477      7.1000 2018-05-07        NaN    6.60    7.20     0.1000
478     15.6500 2018-05-16        NaN   18.50   21.00     0.2500
479     62.0400 2018-07-30        NaN   60.00   67.50     0.2500
480     10.4800 2018-08-06        NaN   10.20   11.72     0.1000
481      3.9600 2018-08-21        NaN    4.00    4.50     0.1000
482     32.3000 2018-08-31      34.00     NaN     NaN        NaN
483      6.9100 2018-10-08        NaN    7.24    7.94     0.0500
484     45.8900 2018-11-12        NaN   44.50   49.00     0.1000

        price cap   share cap  shares outstanding      avg   pay date  \
0             NaN  36000000.0        2.403454e+08   18.750 2000-03-02
1             NaN   7954545.0        4.747377e+07   41.500 2000-02-29
2             NaN  25000000.0        1.586823e+08   21.500 2000-03-09
3             NaN    700000.0        2.918178e+06   16.250 2000-03-30
4             NaN  17250000.0                 NaN   16.375 2000-04-02
5             NaN    333858.0        1.669290e+06   13.250 2000-04-04
6             NaN   9500000.0        5.034437e+07   16.375 2000-04-23
7             NaN    400000.0        2.386879e+06      NaN 2000-04-25
8             NaN    300000.0        3.354747e+06   15.250 2000-05-21
9             NaN   2020367.0        8.418200e+06      NaN 2000-05-25
10            NaN    500000.0        1.110585e+07      NaN 2000-06-06
11            NaN    387500.0        9.017514e+06      NaN 2000-07-11
12            NaN   3500000.0        1.197635e+07      NaN 2000-09-05
13            NaN  13607664.0        1.092985e+08   17.000 2000-09-03
14            NaN   6000000.0        4.192722e+07   14.250 2000-09-13
15            NaN   1000000.0        6.131233e+06      NaN 2000-09-21
16            NaN   1500000.0        5.880115e+06      NaN 2000-09-24
17            NaN   3333333.0        1.489311e+07    5.250 2000-10-11
18            NaN   5000000.0        2.360107e+07   10.000 2000-10-30
19            NaN   1101462.0        2.983130e+07      NaN 2000-11-01
20            NaN   1668329.0        1.668329e+07   19.000 2000-11-06
21            NaN   1668329.0        1.668329e+07   19.000 2000-11-06
22            NaN   1500000.0        1.013200e+07      NaN 2000-11-28
23            NaN   3000000.0        1.036023e+07      NaN 2000-12-21
24            NaN    391000.0        1.955014e+06   16.000 2000-12-07
25            NaN  10000000.0        4.215587e+07    5.125 2000-12-11
26            NaN   1500000.0        4.577260e+06   11.000 2000-12-21
27            NaN   1500000.0        1.578197e+07    2.600 2000-12-20
28            NaN   7000000.0        1.993462e+07      NaN 2001-01-23
29            NaN     90557.0        1.811144e+06      NaN 2001-02-06
..            ...         ...                 ...      ...        ...
455           NaN    925000.0        2.229457e+07   10.100 2017-06-11
456           NaN   2000000.0        1.637776e+07      NaN 2017-07-02
457           NaN   5580000.0        2.463451e+07   41.500 2017-08-08
458  6.000000e+06         NaN        1.615410e+07    9.000 2017-07-31
459  2.660000e+08         NaN        5.130685e+07   13.850 2017-09-14
460           NaN    500000.0        4.336625e+06  850.000 2017-09-20
461  6.000000e+08         NaN        9.396616e+07   64.000 2017-09-25
462           NaN   4000000.0        1.616680e+07      NaN 2017-10-01
463           NaN   9000000.0        2.963844e+07      NaN 2017-10-31
464           NaN   1700000.0        1.242846e+07      NaN 2017-12-24
465  2.000000e+08         NaN        1.688924e+08    9.440 2017-12-25
466  2.500000e+06         NaN        9.162565e+06      NaN 2017-12-27
467  5.000000e+08         NaN        1.541018e+07  247.500 2018-02-13
468           NaN   1250000.0        7.011128e+06    4.000 2018-03-15
469  1.100000e+08         NaN        2.730310e+07   19.500 2018-03-20
470           NaN   1530990.0        1.530991e+07    8.525 2018-04-22
471           NaN   6486486.0        8.570916e+07      NaN 2018-04-23
472           NaN    500000.0        3.753405e+06  850.000 2018-05-13
473  6.000000e+08         NaN        8.820252e+07  103.000 2018-05-22
474  5.000000e+08         NaN        1.270621e+08   53.000 2018-05-29
475  1.000000e+09         NaN        7.079531e+07  160.000 2018-05-29
476  7.500000e+09         NaN        1.586879e+09  106.500 2018-06-04
477  7.200000e+06         NaN        3.004126e+07    6.900 2018-06-11
478  1.600000e+07         NaN        2.719271e+06   19.750 2018-06-21
479  1.000000e+10         NaN        1.469129e+09   63.750 2018-09-02
480  5.000000e+07         NaN        5.618602e+07   10.960 2018-09-12
481  1.500000e+07         NaN        2.191253e+07    4.250 2018-09-25
482           NaN    588235.0        8.199957e+06      NaN 2018-10-09
483  5.000000e+07         NaN        4.427358e+07    7.590 2018-11-12
484  5.000000e+08         NaN        7.884683e+07   46.750 2018-12-18

     our_share_cap  fee_cost_per_share
0       9000000.00             1.72500
1       1988636.25             4.04400
2       6250000.00             1.90000
3        175000.00             1.40000
4       4312500.00             1.45000
5         83464.50             1.11300
6       2375000.00             1.48750
7        100000.00             0.37500
8         75000.00             1.40000
9        505091.75             0.48100
10       125000.00             0.70625
11        96875.00             1.05000
12       875000.00             0.46250
13      3401916.00             1.61875
14      1500000.00             1.36250
15       250000.00             0.71900
16       375000.00            15.70000
17       833333.25             0.31880
18      1250000.00             0.83800
19       275365.50             1.51900
20       417082.25             1.65000
21       417082.25             1.65000
22       375000.00             0.53750
23       750000.00             0.01300
24        97750.00             1.40000
25      2500000.00             0.27500
26       375000.00             0.81410
27       375000.00             0.23750
28      1750000.00             0.46250
29        22639.25             2.20000
..             ...                 ...
455      231250.00             0.93900
456      500000.00             1.73500
457     1395000.00             3.96500
458      166666.50             0.93600
459     4801444.00             1.39500
460      125000.00            85.06500
461     2343750.00             6.19500
462     1000000.00             0.21300
463     2250000.00             1.44000
464      425000.00             0.21100
465     5296610.00             0.83900
466      390625.00             0.14900
467      505050.50            23.86500
468      312500.00             0.35000
469     1410256.25             1.86000
470      382747.50             0.52400
471     1621621.50             0.91800
472      125000.00            80.61700
473     1456310.50            10.30200
474     2358490.50             5.29000
475     1562500.00            15.54800
476    17605633.75             9.65500
477      260869.50             0.71000
478      202531.50             1.56500
479    39215686.25             6.20400
480     1140510.75             1.04800
481      882352.75             0.39600
482      147058.75             3.23000
483     1646903.75             0.69100
484     2673796.75             4.58900

[485 rows x 18 columns]

## The Naive Strategy
Buy stocks of every tender lot offer, simple. Only do this if there is a one account limit. Multiple accounts will just use our attempted best strategy.

In [4]:
if one_account_limit:
    odd_lot_data['naive'] = 'y'
    print(odd_lot_data['naive'].value_counts())

## The Conservative Strategy
Only buy if the low price is above the initial buy price, ergo you can't ever lose money. Only do this if there is a one account limit. Multiple accounts will just use our attempted best strategy.

In [5]:
def conservative_strategy(row):
    if row['trading px'] <= row['low']:
        return 'y'
    elif row['trading px'] <= row['tender px']:
        return 'y'
    else:
        return 'n'
    
if one_account_limit:
    odd_lot_data['conservative'] = odd_lot_data.apply(lambda row: conservative_strategy(row), axis=1)
    print(odd_lot_data['conservative'].value_counts())

## The Simulator
This code will simulate our return based on what instructions we give it.

In [6]:
# Calculate the return for a row of oddlot data given the outlook
def calculate_odd_lot_return(row, outlook='avg'):
    sell_price = row[outlook]
    if np.isnan(sell_price) or sell_price is None:
        sell_price = row['tender px']
    return (sell_price - row['trading px']) / row['trading px']
    
# Simulate trading of as many stocks as possible at a time
def simulate_no_limit(principal, outlook):
    portfolio = pd.DataFrame({'value': [principal], 
                              'cash': [principal], 
                              'date': [pd.to_datetime('1/01/2000')]})
    # First calculate all returns given outlook
    odd_lot_data['ret'] = odd_lot_data.apply(calculate_odd_lot_return, outlook=outlook, axis=1)
    # Initialize stocks we are holding to 0
    odd_lot_data['stocks_held'] = np.zeros(len(odd_lot_data.index))
    
    trade_dates = odd_lot_data['date'].append(odd_lot_data['pay date']).sort_values().drop_duplicates()
    # Iterrate through every filing and pay day for the odd lot offers
    for trade_date in trade_dates:
        # Calculate the new portfolio value and cash after the day
        new_port_value = portfolio.tail(1)['value'].values[0]
        cash = portfolio.tail(1)['cash'].values[0]
        """ SELLING """
        # Tender any offers for the trade_date
        for odd_lot_index in odd_lot_data[odd_lot_data['pay date'] == trade_date].index:
            # Get the data for the odd_lot_offer
            odd_lot_offer = odd_lot_data.iloc[odd_lot_index]
            
            # If we have no stocks to sell, continue to next stock
            stocks_to_sell = odd_lot_offer['stocks_held']
            if stocks_to_sell == 0:
                "Continuing"
                continue
                
            # Calculate the failed and successful stocks
            failed_stocks = int(round(stocks_to_sell * failure_rate))
            successful_stocks = stocks_to_sell - failed_stocks
            trading_price = odd_lot_offer['trading px']

            # Update overall portfolio value
#             print('new_port_value: ' + str(new_port_value))
            new_port_value += successful_stocks * odd_lot_offer['ret'] * trading_price
            new_port_value -= failed_stocks * failure_penalty_rate * trading_price
#             print('new_port_value: ' + str(new_port_value))
#             print('ret: ' + str(odd_lot_offer['ret']))
            
            # Update cash
#             print('cash: ' + str(cash))
            cash += successful_stocks * (1 + odd_lot_offer['ret']) * trading_price
            cash += failed_stocks * (1 - failure_penalty_rate) * trading_price
#             print('cash: ' + str(cash))
            
            # Update stocks held
#             print(odd_lot_data.iloc[odd_lot_index]['stocks_held'])
            odd_lot_data.at[odd_lot_index, 'stocks_held'] = 0
#             print(odd_lot_data.iloc[odd_lot_index]['stocks_held'])

        
        """ BUYING """
        # Now let's look at any odd lots filed on the trade date and get the one with the highest expected return
        indexes_of_odd_lots_filed = odd_lot_data.index[odd_lot_data['date'] == trade_date]
        best_return = 0
        potential_buy_trade_ind = None
        for ind in indexes_of_odd_lots_filed:
            if odd_lot_data.iloc[ind]['ret'] > best_return:
                potential_buy_trade_ind = ind
                best_return = odd_lot_data.iloc[ind]['ret']
            
        # If there is no buy trade with a greater expected return than 0, then don't invest
        if potential_buy_trade_ind is None:
            portfolio = portfolio.append({'value': new_port_value,
                                          'cash': cash,
                                          'date': trade_date}, 
                                         ignore_index=True,)
            continue
        potential_buy_trade = odd_lot_data.iloc[potential_buy_trade_ind]
        stocks_to_buy = 0
        
        # Let's immediately buy this stock if we don't own any other stocks and it's expected return is > 0
        indexes_of_stocks_held = odd_lot_data.index[odd_lot_data['stocks_held'] > 0]
        if not len(indexes_of_stocks_held) > 0 and potential_buy_trade['ret'] > 0:
            stocks_to_buy = min(potential_buy_trade['our_share_cap'], 
                                np.floor(cash / (potential_buy_trade['trading px'] + 
                                                 potential_buy_trade['fee_cost_per_share'])))
        # Else if its expected return is greater than 0, first try to sell less valuable stocks, then buy this stock
        elif potential_buy_trade['ret'] > 0:  
            # Next, let's sell any less valuable stocks 
            indexes_of_stocks_to_sell = odd_lot_data.index[(odd_lot_data['ret'] < potential_buy_trade['ret']) & \
                                                          (odd_lot_data['stocks_held'] > 0)]
            for odd_lot_index in indexes_of_stocks_to_sell:
                # If the stock held is less valuable, sell it and buy the more valuable stock
                if odd_lot_data.iloc[odd_lot_index]['ret'] < (potential_buy_trade['ret'] - 
                                                              potential_buy_trade['fee_cost_per_share']):
                    # TODO: Consider selling at low, since that may be a more reasonable assumption than
                    # selling at the initial trading px
                    cash += odd_lot_data.iloc[odd_lot_index]['trading px'] * odd_lot_data.iloc[odd_lot_index]['stocks_held']
                    odd_lot_data.at[odd_lot_index, 'stocks_held'] = 0
            
            # Finally, let's buy as many of the new stock as we can
            stocks_to_buy = min(potential_buy_trade['our_share_cap'], 
                                np.floor(cash / (potential_buy_trade['trading px'] + 
                                                 potential_buy_trade['fee_cost_per_share'])))
        # Actually buy the stocks
        odd_lot_data.at[potential_buy_trade_ind, 'stocks_held'] = stocks_to_buy
        cash -= stocks_to_buy * potential_buy_trade['trading px']
        # Decrement the fee cost
        cash -= stocks_to_buy * potential_buy_trade['fee_cost_per_share']
        new_port_value -= stocks_to_buy * potential_buy_trade['fee_cost_per_share']
                
        portfolio = portfolio.append({'value': new_port_value,
                                      'cash': cash,
                                      'date': trade_date}, 
                                     ignore_index=True,)
        print(portfolio)
    return portfolio


# Simulate trading of 99 stocks at a time (99 stocks is the max for one account in odd lot)
def simulate_one_account_limit(principal, outlook, strategy):
    portfolio = pd.DataFrame({'value': [principal], 
                              'cash_invested': [0], 
                              'date': [pd.to_datetime('1/01/2000')]})
    # First calculate all returns given outlook
    odd_lot_data['ret'] = odd_lot_data.apply(calculate_odd_lot_return, outlook=outlook, axis=1)
    
    trade_dates = odd_lot_data['date'].append(odd_lot_data['pay date']).sort_values().drop_duplicates()
    # Iterrate through every filing and pay day for the odd lot offers
    for trade_date in trade_dates:
#         print("\n\n\n\n" + str(trade_date))
        # Get any trades for that day
        buy_trades = odd_lot_data[(odd_lot_data['date'] == trade_date) & (odd_lot_data[strategy] == 'y')]
        sell_trades = odd_lot_data[(odd_lot_data['pay date'] == trade_date) & (odd_lot_data[strategy] == 'y')]
#         print(buy_trades)
#         print(sell_trades)
        
        # Calculate the new portfolio value and cash after the day
        new_port_value = portfolio.tail(1)['value'].values[0]
        cash_invested = portfolio.tail(1)['cash_invested'].values[0]
        for i, buy_trade in buy_trades.iterrows():
            # In a buy trade, you buy 99 stocks
            cash_invested += 99 * buy_trade['trading px']
        for i, sell_trade in sell_trades.iterrows():
            # Set sell price to whatever outlook we are expecting, if the value is nan, use the tender px
            sell_price = sell_trade[outlook]
            if np.isnan(sell_price) or sell_price is None:
                sell_price = sell_trade['tender px']
            
            if sell_price > sell_trade['trading px']:
                # Sell back % of stocks at market price, i.e. the failure rate
                failed_stocks = int(round(99 * failure_rate))
                successful_stocks = 99 - failed_stocks

                # Update portfolio value after full trade
#                 new_port_value += successful_stocks * sell_price
#                 new_port_value += discounted_stocks * sell_trade['trading px']
                change_in_port_val = (successful_stocks * sell_trade['ret'] * sell_trade['trading px']) \
                                        - failed_stocks * failure_penalty_rate * sell_trade['trading px']
                new_port_value += change_in_port_val
            else:
                # Update portfolio value after full trade
                new_port_value += 99 * sell_trade['ret'] * sell_trade['trading px']
                
            # Sell back the stocks
            cash_invested -= 99 * sell_trade['trading px']
        
        portfolio = portfolio.append({'value': new_port_value,
                                      'cash_invested': cash_invested,
                                      'date': trade_date}, 
                                     ignore_index=True)
    return portfolio


def calculate_returns(portfolio, value_col):
    returns = np.empty(len(portfolio.index))
    for i in range(len(portfolio.index)):
        if i > 0:
            returns[i] = (portfolio.iloc[i][value_col] - portfolio.iloc[i-1][value_col])
        else:
            returns[i] = 0
    return returns

## Worst Case Simulation
Using outlook equals 'low', what is our return for the two strategies. Only do this if we are looking at one account.

In [7]:
portfolios = {}

if one_account_limit:
    """ One Account """
    # Calculate worst case for the naive strategy
    low_naive_portfolio = simulate_one_account_limit(10000, 'low', 'naive')
    # Calculate returns
    low_naive_portfolio['return'] = calculate_returns(low_naive_portfolio, 'value')
    low_naive_portfolio['norm return'] = low_naive_portfolio['return'] / low_naive_portfolio.iloc[0]['value']
#     print(low_naive_portfolio)

    # Calculate worst case for the conservative strategy
    low_conservative_portfolio = simulate_one_account_limit(10000, 'low', 'conservative')
    # Calculate returns
    low_conservative_portfolio['return'] = calculate_returns(low_conservative_portfolio, 'value')
    low_conservative_portfolio['norm return'] = low_conservative_portfolio['return'] / low_conservative_portfolio.iloc[0]['value']
#     print(low_conservative_portfolio)

    # Add the two worst cases to the portfolios array
    portfolios['lnp'] = low_naive_portfolio
    portfolios['lcp'] = low_conservative_portfolio

## Average Case Simulation
Using outlook == 'avg', what is our return for the two strategies

In [8]:
if one_account_limit:
    """ One Account """
    # Calculate worst case for the naive strategy
    avg_naive_portfolio = simulate_one_account_limit(10000, 'avg', 'naive')
    # Calculate returns
    avg_naive_portfolio['return'] = calculate_returns(avg_naive_portfolio, 'value')
    avg_naive_portfolio['norm return'] = avg_naive_portfolio['return'] / avg_naive_portfolio.iloc[0]['value']
    # print(avg_naive_portfolio)

    # Calculate worst case for the conservative strategy
    avg_conservative_portfolio = simulate_one_account_limit(10000, 'avg', 'conservative')
    # Calculate returns
    avg_conservative_portfolio['return'] = calculate_returns(avg_conservative_portfolio, 'value')
    avg_conservative_portfolio['norm return'] = avg_conservative_portfolio['return'] / avg_conservative_portfolio.iloc[0]['value']
    # print(avg_conservative_portfolio)

    # Add the two best cases to the portfolios array
    portfolios['anp'] = avg_naive_portfolio
    portfolios['acp'] = avg_conservative_portfolio
else:
    """ Multiple Account """
    # Calculate worst case for the naive strategy
    multi_account_portfolio = simulate_no_limit(100000, 'avg')
    # Calculate returns
    multi_account_portfolio['return'] = calculate_returns(multi_account_portfolio, 'value')
    multi_account_portfolio['norm return'] = multi_account_portfolio['return'] / multi_account_portfolio.iloc[0]['value']
    portfolios['multi'] = multi_account_portfolio
    # print(avg_naive_portfolio)

       value       cash       date
0  100000.00  100000.00 2000-01-01
1   90909.25       1.75 2000-01-26
       value       cash       date
0  100000.00  100000.00 2000-01-01
1   90909.25       1.75 2000-01-26
2   90909.25       1.75 2000-02-04
       value       cash       date
0  100000.00  100000.00 2000-01-01
1   90909.25       1.75 2000-01-26
2   90909.25       1.75 2000-02-04
3   90909.25       1.75 2000-02-24
       value       cash       date
0  100000.00  100000.00 2000-01-01
1   90909.25       1.75 2000-01-26
2   90909.25       1.75 2000-02-04
3   90909.25       1.75 2000-02-24
4   90909.25       1.75 2000-02-28
       value       cash       date
0  100000.00  100000.00 2000-01-01
1   90909.25       1.75 2000-01-26
2   90909.25       1.75 2000-02-04
3   90909.25       1.75 2000-02-24
4   90909.25       1.75 2000-02-28
5   90909.25       1.75 2000-02-29
6   90909.25       1.75 2000-03-01
       value       cash       date
0  100000.00  100000.00 2000-01-01
1   90909.25       1.75 2000-01-26
2   90909.25       1.75 2000-02-04
3   90909.25       1.75 2000-02-24
4   90909.25       1.75 2000-02-28
5   90909.25       1.75 2000-02-29
6   90909.25       1.75 2000-03-01
7   98814.25   98814.25 2000-03-02
8   98814.25   98814.25 2000-03-09
9   89831.50       4.00 2000-03-21
        value       cash       date
0   100000.00  100000.00 2000-01-01
1    90909.25       1.75 2000-01-26
2    90909.25       1.75 2000-02-04
3    90909.25       1.75 2000-02-24
4    90909.25       1.75 2000-02-28
5    90909.25       1.75 2000-02-29
6    90909.25       1.75 2000-03-01
7    98814.25   98814.25 2000-03-02
8    98814.25   98814.25 2000-03-09
9    89831.50       4.00 2000-03-21
10   89831.50       4.00 2000-03-30
11   89831.50       4.00 2000-04-02
12   89831.50       4.00 2000-04-04
13   89831.50       4.00 2000-04-17
        value       cash       date
0   100000.00  100000.00 2000-01-01
1    90909.25       1.75 2000-01-26
2    90909.25       1.75 2000-02-04
3    90909.25       1.75 2000-02-24
4    90909.25       1.75 2000-02-28
5    90909.25       1.75 2000-02-29
6    90909.25       1.75 2000-03-01
7    98814.25   98814.25 2000-03-02
8    98814.25   98814.25 2000-03-09
9    89831.50       4.00 2000-03-21
10   89831.50       4.00 2000-03-30
11   89831.50       4.00 2000-04-02
12   89831.50       4.00 2000-04-04
13   89831.50       4.00 2000-04-17
14   89831.50       4.00 2000-04-23
15   89831.50       4.00 2000-04-24
           value          cash       date
0   100000.00000  100000.00000 2000-01-01
1    90909.25000       1.75000 2000-01-26
2    90909.25000       1.75000 2000-02-04
3    90909.25000       1.75000 2000-02-24
4    90909.25000       1.75000 2000-02-28
5    90909.25000       1.75000 2000-02-29
6    90909.25000       1.75000 2000-03-01
7    98814.25000   98814.25000 2000-03-02
8    98814.25000   98814.25000 2000-03-09
9    89831.50000       4.00000 2000-03-21
10   89831.50000       4.00000 2000-03-30
11   89831.50000       4.00000 2000-04-02
12   89831.50000       4.00000 2000-04-04
13   89831.50000       4.00000 2000-04-17
14   89831.50000       4.00000 2000-04-23
15   89831.50000       4.00000 2000-04-24
16  149716.50000  149716.50000 2000-04-25
17  136106.35625       4.91875 2000-05-01
           value          cash       date
0   100000.00000  100000.00000 2000-01-01
1    90909.25000       1.75000 2000-01-26
2    90909.25000       1.75000 2000-02-04
3    90909.25000       1.75000 2000-02-24
4    90909.25000       1.75000 2000-02-28
5    90909.25000       1.75000 2000-02-29
6    90909.25000       1.75000 2000-03-01
7    98814.25000   98814.25000 2000-03-02
8    98814.25000   98814.25000 2000-03-09
9    89831.50000       4.00000 2000-03-21
10   89831.50000       4.00000 2000-03-30
11   89831.50000       4.00000 2000-04-02
12   89831.50000       4.00000 2000-04-04
13   89831.50000       4.00000 2000-04-17
14   89831.50000       4.00000 2000-04-23
15   89831.50000       4.00000 2000-04-24
16  149716.50000  149716.50000 2000-04-25
17  136106.35625       4.91875 2000-05-01
18  136106.35625       4.91875 2000-05-21
19  136106.35625       4.91875 2000-05-25
20  136106.35625       4.91875 2000-06-05
           value          cash       date
0   100000.00000  100000.00000 2000-01-01
1    90909.25000       1.75000 2000-01-26
2    90909.25000       1.75000 2000-02-04
3    90909.25000       1.75000 2000-02-24
4    90909.25000       1.75000 2000-02-28
5    90909.25000       1.75000 2000-02-29
6    90909.25000       1.75000 2000-03-01
7    98814.25000   98814.25000 2000-03-02
8    98814.25000   98814.25000 2000-03-09
9    89831.50000       4.00000 2000-03-21
10   89831.50000       4.00000 2000-03-30
11   89831.50000       4.00000 2000-04-02
12   89831.50000       4.00000 2000-04-04
13   89831.50000       4.00000 2000-04-17
14   89831.50000       4.00000 2000-04-23
15   89831.50000       4.00000 2000-04-24
16  149716.50000  149716.50000 2000-04-25
17  136106.35625       4.91875 2000-05-01
18  136106.35625       4.91875 2000-05-21
19  136106.35625       4.91875 2000-05-25
20  136106.35625       4.91875 2000-06-05
21  154172.91875  154172.91875 2000-06-06
22  154172.91875  154172.91875 2000-07-11
23  140157.31875       1.31875 2000-07-31
           value          cash       date
0   100000.00000  100000.00000 2000-01-01
1    90909.25000       1.75000 2000-01-26
2    90909.25000       1.75000 2000-02-04
3    90909.25000       1.75000 2000-02-24
4    90909.25000       1.75000 2000-02-28
5    90909.25000       1.75000 2000-02-29
6    90909.25000       1.75000 2000-03-01
7    98814.25000   98814.25000 2000-03-02
8    98814.25000   98814.25000 2000-03-09
9    89831.50000       4.00000 2000-03-21
10   89831.50000       4.00000 2000-03-30
11   89831.50000       4.00000 2000-04-02
12   89831.50000       4.00000 2000-04-04
13   89831.50000       4.00000 2000-04-17
14   89831.50000       4.00000 2000-04-23
15   89831.50000       4.00000 2000-04-24
16  149716.50000  149716.50000 2000-04-25
17  136106.35625       4.91875 2000-05-01
18  136106.35625       4.91875 2000-05-21
19  136106.35625       4.91875 2000-05-25
20  136106.35625       4.91875 2000-06-05
21  154172.91875  154172.91875 2000-06-06
22  154172.91875  154172.91875 2000-07-11
23  140157.31875       1.31875 2000-07-31
24  140157.31875       1.31875 2000-08-01
           value          cash       date
0   100000.00000  100000.00000 2000-01-01
1    90909.25000       1.75000 2000-01-26
2    90909.25000       1.75000 2000-02-04
3    90909.25000       1.75000 2000-02-24
4    90909.25000       1.75000 2000-02-28
5    90909.25000       1.75000 2000-02-29
6    90909.25000       1.75000 2000-03-01
7    98814.25000   98814.25000 2000-03-02
8    98814.25000   98814.25000 2000-03-09
9    89831.50000       4.00000 2000-03-21
10   89831.50000       4.00000 2000-03-30
11   89831.50000       4.00000 2000-04-02
12   89831.50000       4.00000 2000-04-04
13   89831.50000       4.00000 2000-04-17
14   89831.50000       4.00000 2000-04-23
15   89831.50000       4.00000 2000-04-24
16  149716.50000  149716.50000 2000-04-25
17  136106.35625       4.91875 2000-05-01
18  136106.35625       4.91875 2000-05-21
19  136106.35625       4.91875 2000-05-25
20  136106.35625       4.91875 2000-06-05
21  154172.91875  154172.91875 2000-06-06
22  154172.91875  154172.91875 2000-07-11
23  140157.31875       1.31875 2000-07-31
24  140157.31875       1.31875 2000-08-01
25  140157.31875       1.31875 2000-08-10
           value          cash       date
0   100000.00000  100000.00000 2000-01-01
1    90909.25000       1.75000 2000-01-26
2    90909.25000       1.75000 2000-02-04
3    90909.25000       1.75000 2000-02-24
4    90909.25000       1.75000 2000-02-28
5    90909.25000       1.75000 2000-02-29
6    90909.25000       1.75000 2000-03-01
7    98814.25000   98814.25000 2000-03-02
8    98814.25000   98814.25000 2000-03-09
9    89831.50000       4.00000 2000-03-21
10   89831.50000       4.00000 2000-03-30
11   89831.50000       4.00000 2000-04-02
12   89831.50000       4.00000 2000-04-04
13   89831.50000       4.00000 2000-04-17
14   89831.50000       4.00000 2000-04-23
15   89831.50000       4.00000 2000-04-24
16  149716.50000  149716.50000 2000-04-25
17  136106.35625       4.91875 2000-05-01
18  136106.35625       4.91875 2000-05-21
19  136106.35625       4.91875 2000-05-25
20  136106.35625       4.91875 2000-06-05
21  154172.91875  154172.91875 2000-06-06
22  154172.91875  154172.91875 2000-07-11
23  140157.31875       1.31875 2000-07-31
24  140157.31875       1.31875 2000-08-01
25  140157.31875       1.31875 2000-08-10
26  140157.31875       1.31875 2000-08-18
           value          cash       date
0   100000.00000  100000.00000 2000-01-01
1    90909.25000       1.75000 2000-01-26
2    90909.25000       1.75000 2000-02-04
3    90909.25000       1.75000 2000-02-24
4    90909.25000       1.75000 2000-02-28
5    90909.25000       1.75000 2000-02-29
6    90909.25000       1.75000 2000-03-01
7    98814.25000   98814.25000 2000-03-02
8    98814.25000   98814.25000 2000-03-09
9    89831.50000       4.00000 2000-03-21
10   89831.50000       4.00000 2000-03-30
11   89831.50000       4.00000 2000-04-02
12   89831.50000       4.00000 2000-04-04
13   89831.50000       4.00000 2000-04-17
14   89831.50000       4.00000 2000-04-23
15   89831.50000       4.00000 2000-04-24
16  149716.50000  149716.50000 2000-04-25
17  136106.35625       4.91875 2000-05-01
18  136106.35625       4.91875 2000-05-21
19  136106.35625       4.91875 2000-05-25
20  136106.35625       4.91875 2000-06-05
21  154172.91875  154172.91875 2000-06-06
22  154172.91875  154172.91875 2000-07-11
23  140157.31875       1.31875 2000-07-31
24  140157.31875       1.31875 2000-08-01
25  140157.31875       1.31875 2000-08-10
26  140157.31875       1.31875 2000-08-18
27  140157.31875       1.31875 2000-08-21
           value          cash       date
0   100000.00000  100000.00000 2000-01-01
1    90909.25000       1.75000 2000-01-26
2    90909.25000       1.75000 2000-02-04
3    90909.25000       1.75000 2000-02-24
4    90909.25000       1.75000 2000-02-28
5    90909.25000       1.75000 2000-02-29
6    90909.25000       1.75000 2000-03-01
7    98814.25000   98814.25000 2000-03-02
8    98814.25000   98814.25000 2000-03-09
9    89831.50000       4.00000 2000-03-21
10   89831.50000       4.00000 2000-03-30
11   89831.50000       4.00000 2000-04-02
12   89831.50000       4.00000 2000-04-04
13   89831.50000       4.00000 2000-04-17
14   89831.50000       4.00000 2000-04-23
15   89831.50000       4.00000 2000-04-24
16  149716.50000  149716.50000 2000-04-25
17  136106.35625       4.91875 2000-05-01
18  136106.35625       4.91875 2000-05-21
19  136106.35625       4.91875 2000-05-25
20  136106.35625       4.91875 2000-06-05
21  154172.91875  154172.91875 2000-06-06
22  154172.91875  154172.91875 2000-07-11
23  140157.31875       1.31875 2000-07-31
24  140157.31875       1.31875 2000-08-01
25  140157.31875       1.31875 2000-08-10
26  140157.31875       1.31875 2000-08-18
27  140157.31875       1.31875 2000-08-21
28  140157.31875       1.31875 2000-09-03
29  189401.31875  189401.31875 2000-09-05
30  172183.24955       2.55755 2000-09-08
           value          cash       date
0   100000.00000  100000.00000 2000-01-01
1    90909.25000       1.75000 2000-01-26
2    90909.25000       1.75000 2000-02-04
3    90909.25000       1.75000 2000-02-24
4    90909.25000       1.75000 2000-02-28
5    90909.25000       1.75000 2000-02-29
6    90909.25000       1.75000 2000-03-01
7    98814.25000   98814.25000 2000-03-02
8    98814.25000   98814.25000 2000-03-09
9    89831.50000       4.00000 2000-03-21
10   89831.50000       4.00000 2000-03-30
11   89831.50000       4.00000 2000-04-02
12   89831.50000       4.00000 2000-04-04
13   89831.50000       4.00000 2000-04-17
14   89831.50000       4.00000 2000-04-23
15   89831.50000       4.00000 2000-04-24
16  149716.50000  149716.50000 2000-04-25
17  136106.35625       4.91875 2000-05-01
18  136106.35625       4.91875 2000-05-21
19  136106.35625       4.91875 2000-05-25
20  136106.35625       4.91875 2000-06-05
21  154172.91875  154172.91875 2000-06-06
22  154172.91875  154172.91875 2000-07-11
23  140157.31875       1.31875 2000-07-31
24  140157.31875       1.31875 2000-08-01
25  140157.31875       1.31875 2000-08-10
26  140157.31875       1.31875 2000-08-18
27  140157.31875       1.31875 2000-08-21
28  140157.31875       1.31875 2000-09-03
29  189401.31875  189401.31875 2000-09-05
30  172183.24955       2.55755 2000-09-08
31  172183.24955       2.55755 2000-09-13
32  172183.24955       2.55755 2000-09-21
33  172183.24955       2.55755 2000-09-24
34  172183.24955       2.55755 2000-09-26
           value          cash       date
0   100000.00000  100000.00000 2000-01-01
1    90909.25000       1.75000 2000-01-26
2    90909.25000       1.75000 2000-02-04
3    90909.25000       1.75000 2000-02-24
4    90909.25000       1.75000 2000-02-28
5    90909.25000       1.75000 2000-02-29
6    90909.25000       1.75000 2000-03-01
7    98814.25000   98814.25000 2000-03-02
8    98814.25000   98814.25000 2000-03-09
9    89831.50000       4.00000 2000-03-21
10   89831.50000       4.00000 2000-03-30
11   89831.50000       4.00000 2000-04-02
12   89831.50000       4.00000 2000-04-04
13   89831.50000       4.00000 2000-04-17
14   89831.50000       4.00000 2000-04-23
15   89831.50000       4.00000 2000-04-24
16  149716.50000  149716.50000 2000-04-25
17  136106.35625       4.91875 2000-05-01
18  136106.35625       4.91875 2000-05-21
19  136106.35625       4.91875 2000-05-25
20  136106.35625       4.91875 2000-06-05
21  154172.91875  154172.91875 2000-06-06
22  154172.91875  154172.91875 2000-07-11
23  140157.31875       1.31875 2000-07-31
24  140157.31875       1.31875 2000-08-01
25  140157.31875       1.31875 2000-08-10
26  140157.31875       1.31875 2000-08-18
27  140157.31875       1.31875 2000-08-21
28  140157.31875       1.31875 2000-09-03
29  189401.31875  189401.31875 2000-09-05
30  172183.24955       2.55755 2000-09-08
31  172183.24955       2.55755 2000-09-13
32  172183.24955       2.55755 2000-09-21
33  172183.24955       2.55755 2000-09-24
34  172183.24955       2.55755 2000-09-26
35  172183.24955       2.55755 2000-09-29
           value          cash       date
0   100000.00000  100000.00000 2000-01-01
1    90909.25000       1.75000 2000-01-26
2    90909.25000       1.75000 2000-02-04
3    90909.25000       1.75000 2000-02-24
4    90909.25000       1.75000 2000-02-28
5    90909.25000       1.75000 2000-02-29
6    90909.25000       1.75000 2000-03-01
7    98814.25000   98814.25000 2000-03-02
8    98814.25000   98814.25000 2000-03-09
9    89831.50000       4.00000 2000-03-21
10   89831.50000       4.00000 2000-03-30
11   89831.50000       4.00000 2000-04-02
12   89831.50000       4.00000 2000-04-04
13   89831.50000       4.00000 2000-04-17
14   89831.50000       4.00000 2000-04-23
15   89831.50000       4.00000 2000-04-24
16  149716.50000  149716.50000 2000-04-25
17  136106.35625       4.91875 2000-05-01
18  136106.35625       4.91875 2000-05-21
19  136106.35625       4.91875 2000-05-25
20  136106.35625       4.91875 2000-06-05
21  154172.91875  154172.91875 2000-06-06
22  154172.91875  154172.91875 2000-07-11
23  140157.31875       1.31875 2000-07-31
24  140157.31875       1.31875 2000-08-01
25  140157.31875       1.31875 2000-08-10
26  140157.31875       1.31875 2000-08-18
27  140157.31875       1.31875 2000-08-21
28  140157.31875       1.31875 2000-09-03
29  189401.31875  189401.31875 2000-09-05
30  172183.24955       2.55755 2000-09-08
31  172183.24955       2.55755 2000-09-13
32  172183.24955       2.55755 2000-09-21
33  172183.24955       2.55755 2000-09-24
34  172183.24955       2.55755 2000-09-26
35  172183.24955       2.55755 2000-09-29
36  283549.80755  283549.80755 2000-10-11
37  257772.92005       4.04505 2000-10-23
           value          cash       date
0   100000.00000  100000.00000 2000-01-01
1    90909.25000       1.75000 2000-01-26
2    90909.25000       1.75000 2000-02-04
3    90909.25000       1.75000 2000-02-24
4    90909.25000       1.75000 2000-02-28
5    90909.25000       1.75000 2000-02-29
6    90909.25000       1.75000 2000-03-01
7    98814.25000   98814.25000 2000-03-02
8    98814.25000   98814.25000 2000-03-09
9    89831.50000       4.00000 2000-03-21
10   89831.50000       4.00000 2000-03-30
11   89831.50000       4.00000 2000-04-02
12   89831.50000       4.00000 2000-04-04
13   89831.50000       4.00000 2000-04-17
14   89831.50000       4.00000 2000-04-23
15   89831.50000       4.00000 2000-04-24
16  149716.50000  149716.50000 2000-04-25
17  136106.35625       4.91875 2000-05-01
18  136106.35625       4.91875 2000-05-21
19  136106.35625       4.91875 2000-05-25
20  136106.35625       4.91875 2000-06-05
21  154172.91875  154172.91875 2000-06-06
22  154172.91875  154172.91875 2000-07-11
23  140157.31875       1.31875 2000-07-31
24  140157.31875       1.31875 2000-08-01
25  140157.31875       1.31875 2000-08-10
26  140157.31875       1.31875 2000-08-18
27  140157.31875       1.31875 2000-08-21
28  140157.31875       1.31875 2000-09-03
29  189401.31875  189401.31875 2000-09-05
30  172183.24955       2.55755 2000-09-08
31  172183.24955       2.55755 2000-09-13
32  172183.24955       2.55755 2000-09-21
33  172183.24955       2.55755 2000-09-24
34  172183.24955       2.55755 2000-09-26
35  172183.24955       2.55755 2000-09-29
36  283549.80755  283549.80755 2000-10-11
37  257772.92005       4.04505 2000-10-23
38  248022.92005  150522.92005 2000-10-27
           value          cash       date
0   100000.00000  100000.00000 2000-01-01
1    90909.25000       1.75000 2000-01-26
2    90909.25000       1.75000 2000-02-04
3    90909.25000       1.75000 2000-02-24
4    90909.25000       1.75000 2000-02-28
5    90909.25000       1.75000 2000-02-29
6    90909.25000       1.75000 2000-03-01
7    98814.25000   98814.25000 2000-03-02
8    98814.25000   98814.25000 2000-03-09
9    89831.50000       4.00000 2000-03-21
10   89831.50000       4.00000 2000-03-30
11   89831.50000       4.00000 2000-04-02
12   89831.50000       4.00000 2000-04-04
13   89831.50000       4.00000 2000-04-17
14   89831.50000       4.00000 2000-04-23
15   89831.50000       4.00000 2000-04-24
16  149716.50000  149716.50000 2000-04-25
17  136106.35625       4.91875 2000-05-01
18  136106.35625       4.91875 2000-05-21
19  136106.35625       4.91875 2000-05-25
20  136106.35625       4.91875 2000-06-05
21  154172.91875  154172.91875 2000-06-06
22  154172.91875  154172.91875 2000-07-11
23  140157.31875       1.31875 2000-07-31
24  140157.31875       1.31875 2000-08-01
25  140157.31875       1.31875 2000-08-10
26  140157.31875       1.31875 2000-08-18
27  140157.31875       1.31875 2000-08-21
28  140157.31875       1.31875 2000-09-03
29  189401.31875  189401.31875 2000-09-05
30  172183.24955       2.55755 2000-09-08
31  172183.24955       2.55755 2000-09-13
32  172183.24955       2.55755 2000-09-21
33  172183.24955       2.55755 2000-09-24
34  172183.24955       2.55755 2000-09-26
35  172183.24955       2.55755 2000-09-29
36  283549.80755  283549.80755 2000-10-11
37  257772.92005       4.04505 2000-10-23
38  248022.92005  150522.92005 2000-10-27
39  248022.92005  150522.92005 2000-10-30

40  234339.32005       3.32005 2000-10-31
           value          cash       date
0   100000.00000  100000.00000 2000-01-01
1    90909.25000       1.75000 2000-01-26
2    90909.25000       1.75000 2000-02-04
3    90909.25000       1.75000 2000-02-24
4    90909.25000       1.75000 2000-02-28
5    90909.25000       1.75000 2000-02-29
6    90909.25000       1.75000 2000-03-01
7    98814.25000   98814.25000 2000-03-02
8    98814.25000   98814.25000 2000-03-09
9    89831.50000       4.00000 2000-03-21
10   89831.50000       4.00000 2000-03-30
11   89831.50000       4.00000 2000-04-02
12   89831.50000       4.00000 2000-04-04
13   89831.50000       4.00000 2000-04-17
14   89831.50000       4.00000 2000-04-23
15   89831.50000       4.00000 2000-04-24
16  149716.50000  149716.50000 2000-04-25
17  136106.35625       4.91875 2000-05-01
18  136106.35625       4.91875 2000-05-21
19  136106.35625       4.91875 2000-05-25
20  136106.35625       4.91875 2000-06-05
21  154172.91875  154172.91875 2000-06-06
22  154172.91875  154172.91875 2000-07-11
23  140157.31875       1.31875 2000-07-31
24  140157.31875       1.31875 2000-08-01
25  140157.31875       1.31875 2000-08-10
26  140157.31875       1.31875 2000-08-18
27  140157.31875       1.31875 2000-08-21
28  140157.31875       1.31875 2000-09-03
29  189401.31875  189401.31875 2000-09-05
30  172183.24955       2.55755 2000-09-08
31  172183.24955       2.55755 2000-09-13
32  172183.24955       2.55755 2000-09-21
33  172183.24955       2.55755 2000-09-24
34  172183.24955       2.55755 2000-09-26
35  172183.24955       2.55755 2000-09-29
36  283549.80755  283549.80755 2000-10-11
37  257772.92005       4.04505 2000-10-23
38  248022.92005  150522.92005 2000-10-27
39  248022.92005  150522.92005 2000-10-30
40  234339.32005       3.32005 2000-10-31
41  234339.32005       3.32005 2000-11-01
42  221899.42005       0.42005 2000-11-06
           value          cash       date
0   100000.00000  100000.00000 2000-01-01
1    90909.25000       1.75000 2000-01-26
2    90909.25000       1.75000 2000-02-04
3    90909.25000       1.75000 2000-02-24
4    90909.25000       1.75000 2000-02-28
5    90909.25000       1.75000 2000-02-29
6    90909.25000       1.75000 2000-03-01
7    98814.25000   98814.25000 2000-03-02
8    98814.25000   98814.25000 2000-03-09
9    89831.50000       4.00000 2000-03-21
10   89831.50000       4.00000 2000-03-30
11   89831.50000       4.00000 2000-04-02
12   89831.50000       4.00000 2000-04-04
13   89831.50000       4.00000 2000-04-17
14   89831.50000       4.00000 2000-04-23
15   89831.50000       4.00000 2000-04-24
16  149716.50000  149716.50000 2000-04-25
17  136106.35625       4.91875 2000-05-01
18  136106.35625       4.91875 2000-05-21
19  136106.35625       4.91875 2000-05-25
20  136106.35625       4.91875 2000-06-05
21  154172.91875  154172.91875 2000-06-06
22  154172.91875  154172.91875 2000-07-11
23  140157.31875       1.31875 2000-07-31
24  140157.31875       1.31875 2000-08-01
25  140157.31875       1.31875 2000-08-10
26  140157.31875       1.31875 2000-08-18
27  140157.31875       1.31875 2000-08-21
28  140157.31875       1.31875 2000-09-03
29  189401.31875  189401.31875 2000-09-05
30  172183.24955       2.55755 2000-09-08
31  172183.24955       2.55755 2000-09-13
32  172183.24955       2.55755 2000-09-21
33  172183.24955       2.55755 2000-09-24
34  172183.24955       2.55755 2000-09-26
35  172183.24955       2.55755 2000-09-29
36  283549.80755  283549.80755 2000-10-11
37  257772.92005       4.04505 2000-10-23
38  248022.92005  150522.92005 2000-10-27
39  248022.92005  150522.92005 2000-10-30
40  234339.32005       3.32005 2000-10-31
41  234339.32005       3.32005 2000-11-01
42  221899.42005       0.42005 2000-11-06
43  221899.42005       0.42005 2000-11-09
           value          cash       date
0   100000.00000  100000.00000 2000-01-01
1    90909.25000       1.75000 2000-01-26
2    90909.25000       1.75000 2000-02-04
3    90909.25000       1.75000 2000-02-24
4    90909.25000       1.75000 2000-02-28
5    90909.25000       1.75000 2000-02-29
6    90909.25000       1.75000 2000-03-01
7    98814.25000   98814.25000 2000-03-02
8    98814.25000   98814.25000 2000-03-09
9    89831.50000       4.00000 2000-03-21
10   89831.50000       4.00000 2000-03-30
11   89831.50000       4.00000 2000-04-02
12   89831.50000       4.00000 2000-04-04
13   89831.50000       4.00000 2000-04-17
14   89831.50000       4.00000 2000-04-23
15   89831.50000       4.00000 2000-04-24
16  149716.50000  149716.50000 2000-04-25
17  136106.35625       4.91875 2000-05-01
18  136106.35625       4.91875 2000-05-21
19  136106.35625       4.91875 2000-05-25
20  136106.35625       4.91875 2000-06-05
21  154172.91875  154172.91875 2000-06-06
22  154172.91875  154172.91875 2000-07-11
23  140157.31875       1.31875 2000-07-31
24  140157.31875       1.31875 2000-08-01
25  140157.31875       1.31875 2000-08-10
26  140157.31875       1.31875 2000-08-18
27  140157.31875       1.31875 2000-08-21
28  140157.31875       1.31875 2000-09-03
29  189401.31875  189401.31875 2000-09-05
30  172183.24955       2.55755 2000-09-08
31  172183.24955       2.55755 2000-09-13
32  172183.24955       2.55755 2000-09-21
33  172183.24955       2.55755 2000-09-24
34  172183.24955       2.55755 2000-09-26
35  172183.24955       2.55755 2000-09-29
36  283549.80755  283549.80755 2000-10-11
37  257772.92005       4.04505 2000-10-23
38  248022.92005  150522.92005 2000-10-27
39  248022.92005  150522.92005 2000-10-30
40  234339.32005       3.32005 2000-10-31
41  234339.32005       3.32005 2000-11-01
42  221899.42005       0.42005 2000-11-06
43  221899.42005       0.42005 2000-11-09
44  221899.42005       0.42005 2000-11-15
           value          cash       date
0   100000.00000  100000.00000 2000-01-01
1    90909.25000       1.75000 2000-01-26
2    90909.25000       1.75000 2000-02-04
3    90909.25000       1.75000 2000-02-24
4    90909.25000       1.75000 2000-02-28
5    90909.25000       1.75000 2000-02-29
6    90909.25000       1.75000 2000-03-01
7    98814.25000   98814.25000 2000-03-02
8    98814.25000   98814.25000 2000-03-09
9    89831.50000       4.00000 2000-03-21
10   89831.50000       4.00000 2000-03-30
11   89831.50000       4.00000 2000-04-02
12   89831.50000       4.00000 2000-04-04
13   89831.50000       4.00000 2000-04-17
14   89831.50000       4.00000 2000-04-23
15   89831.50000       4.00000 2000-04-24
16  149716.50000  149716.50000 2000-04-25
17  136106.35625       4.91875 2000-05-01
18  136106.35625       4.91875 2000-05-21
19  136106.35625       4.91875 2000-05-25
20  136106.35625       4.91875 2000-06-05
21  154172.91875  154172.91875 2000-06-06
22  154172.91875  154172.91875 2000-07-11
23  140157.31875       1.31875 2000-07-31
24  140157.31875       1.31875 2000-08-01
25  140157.31875       1.31875 2000-08-10
26  140157.31875       1.31875 2000-08-18
27  140157.31875       1.31875 2000-08-21
28  140157.31875       1.31875 2000-09-03
29  189401.31875  189401.31875 2000-09-05
30  172183.24955       2.55755 2000-09-08
31  172183.24955       2.55755 2000-09-13
32  172183.24955       2.55755 2000-09-21
33  172183.24955       2.55755 2000-09-24
34  172183.24955       2.55755 2000-09-26
35  172183.24955       2.55755 2000-09-29
36  283549.80755  283549.80755 2000-10-11
37  257772.92005       4.04505 2000-10-23
38  248022.92005  150522.92005 2000-10-27
39  248022.92005  150522.92005 2000-10-30
40  234339.32005       3.32005 2000-10-31
41  234339.32005       3.32005 2000-11-01
42  221899.42005       0.42005 2000-11-06
43  221899.42005       0.42005 2000-11-09
44  221899.42005       0.42005 2000-11-15
45  221899.42005       0.42005 2000-11-28
46  221899.42005       0.42005 2000-12-07
47  329334.92005  231834.92005 2000-12-11
48  308259.25755       2.63255 2000-12-15
           value          cash       date
0   100000.00000  100000.00000 2000-01-01
1    90909.25000       1.75000 2000-01-26
2    90909.25000       1.75000 2000-02-04
3    90909.25000       1.75000 2000-02-24
4    90909.25000       1.75000 2000-02-28
5    90909.25000       1.75000 2000-02-29
6    90909.25000       1.75000 2000-03-01
7    98814.25000   98814.25000 2000-03-02
8    98814.25000   98814.25000 2000-03-09
9    89831.50000       4.00000 2000-03-21
10   89831.50000       4.00000 2000-03-30
11   89831.50000       4.00000 2000-04-02
12   89831.50000       4.00000 2000-04-04
13   89831.50000       4.00000 2000-04-17
14   89831.50000       4.00000 2000-04-23
15   89831.50000       4.00000 2000-04-24
16  149716.50000  149716.50000 2000-04-25
17  136106.35625       4.91875 2000-05-01
18  136106.35625       4.91875 2000-05-21
19  136106.35625       4.91875 2000-05-25
20  136106.35625       4.91875 2000-06-05
21  154172.91875  154172.91875 2000-06-06
22  154172.91875  154172.91875 2000-07-11
23  140157.31875       1.31875 2000-07-31
24  140157.31875       1.31875 2000-08-01
25  140157.31875       1.31875 2000-08-10
26  140157.31875       1.31875 2000-08-18
27  140157.31875       1.31875 2000-08-21
28  140157.31875       1.31875 2000-09-03
29  189401.31875  189401.31875 2000-09-05
30  172183.24955       2.55755 2000-09-08
31  172183.24955       2.55755 2000-09-13
32  172183.24955       2.55755 2000-09-21
33  172183.24955       2.55755 2000-09-24
34  172183.24955       2.55755 2000-09-26
35  172183.24955       2.55755 2000-09-29
36  283549.80755  283549.80755 2000-10-11
37  257772.92005       4.04505 2000-10-23
38  248022.92005  150522.92005 2000-10-27
39  248022.92005  150522.92005 2000-10-30
40  234339.32005       3.32005 2000-10-31
41  234339.32005       3.32005 2000-11-01
42  221899.42005       0.42005 2000-11-06
43  221899.42005       0.42005 2000-11-09
44  221899.42005       0.42005 2000-11-15
45  221899.42005       0.42005 2000-11-28
46  221899.42005       0.42005 2000-12-07
47  329334.92005  231834.92005 2000-12-11
48  308259.25755       2.63255 2000-12-15
49  308259.25755       2.63255 2000-12-20
50  387759.25755  282759.25755 2000-12-21
           value          cash       date
0   100000.00000  100000.00000 2000-01-01
1    90909.25000       1.75000 2000-01-26
2    90909.25000       1.75000 2000-02-04
3    90909.25000       1.75000 2000-02-24
4    90909.25000       1.75000 2000-02-28
5    90909.25000       1.75000 2000-02-29
6    90909.25000       1.75000 2000-03-01
7    98814.25000   98814.25000 2000-03-02
8    98814.25000   98814.25000 2000-03-09
9    89831.50000       4.00000 2000-03-21
10   89831.50000       4.00000 2000-03-30
11   89831.50000       4.00000 2000-04-02
12   89831.50000       4.00000 2000-04-04
13   89831.50000       4.00000 2000-04-17
14   89831.50000       4.00000 2000-04-23
15   89831.50000       4.00000 2000-04-24
16  149716.50000  149716.50000 2000-04-25
17  136106.35625       4.91875 2000-05-01
18  136106.35625       4.91875 2000-05-21
19  136106.35625       4.91875 2000-05-25
20  136106.35625       4.91875 2000-06-05
21  154172.91875  154172.91875 2000-06-06
22  154172.91875  154172.91875 2000-07-11
23  140157.31875       1.31875 2000-07-31
24  140157.31875       1.31875 2000-08-01
25  140157.31875       1.31875 2000-08-10
26  140157.31875       1.31875 2000-08-18
27  140157.31875       1.31875 2000-08-21
28  140157.31875       1.31875 2000-09-03
29  189401.31875  189401.31875 2000-09-05
30  172183.24955       2.55755 2000-09-08
31  172183.24955       2.55755 2000-09-13
32  172183.24955       2.55755 2000-09-21
33  172183.24955       2.55755 2000-09-24
34  172183.24955       2.55755 2000-09-26
35  172183.24955       2.55755 2000-09-29
36  283549.80755  283549.80755 2000-10-11
37  257772.92005       4.04505 2000-10-23
38  248022.92005  150522.92005 2000-10-27
39  248022.92005  150522.92005 2000-10-30
40  234339.32005       3.32005 2000-10-31
41  234339.32005       3.32005 2000-11-01
42  221899.42005       0.42005 2000-11-06
43  221899.42005       0.42005 2000-11-09
44  221899.42005       0.42005 2000-11-15
45  221899.42005       0.42005 2000-11-28
46  221899.42005       0.42005 2000-12-07
47  329334.92005  231834.92005 2000-12-11
48  308259.25755       2.63255 2000-12-15
49  308259.25755       2.63255 2000-12-20
50  387759.25755  282759.25755 2000-12-21
51  362054.55755       7.55755 2001-01-16
           value          cash       date
0   100000.00000  100000.00000 2000-01-01
1    90909.25000       1.75000 2000-01-26
2    90909.25000       1.75000 2000-02-04
3    90909.25000       1.75000 2000-02-24
4    90909.25000       1.75000 2000-02-28
5    90909.25000       1.75000 2000-02-29
6    90909.25000       1.75000 2000-03-01
7    98814.25000   98814.25000 2000-03-02
8    98814.25000   98814.25000 2000-03-09
9    89831.50000       4.00000 2000-03-21
10   89831.50000       4.00000 2000-03-30
11   89831.50000       4.00000 2000-04-02
12   89831.50000       4.00000 2000-04-04
13   89831.50000       4.00000 2000-04-17
14   89831.50000       4.00000 2000-04-23
15   89831.50000       4.00000 2000-04-24
16  149716.50000  149716.50000 2000-04-25
17  136106.35625       4.91875 2000-05-01
18  136106.35625       4.91875 2000-05-21
19  136106.35625       4.91875 2000-05-25
20  136106.35625       4.91875 2000-06-05
21  154172.91875  154172.91875 2000-06-06
22  154172.91875  154172.91875 2000-07-11
23  140157.31875       1.31875 2000-07-31
24  140157.31875       1.31875 2000-08-01
25  140157.31875       1.31875 2000-08-10
26  140157.31875       1.31875 2000-08-18
27  140157.31875       1.31875 2000-08-21
28  140157.31875       1.31875 2000-09-03
29  189401.31875  189401.31875 2000-09-05
30  172183.24955       2.55755 2000-09-08
31  172183.24955       2.55755 2000-09-13
32  172183.24955       2.55755 2000-09-21
33  172183.24955       2.55755 2000-09-24
34  172183.24955       2.55755 2000-09-26
35  172183.24955       2.55755 2000-09-29
36  283549.80755  283549.80755 2000-10-11
37  257772.92005       4.04505 2000-10-23
38  248022.92005  150522.92005 2000-10-27
39  248022.92005  150522.92005 2000-10-30
40  234339.32005       3.32005 2000-10-31
41  234339.32005       3.32005 2000-11-01
42  221899.42005       0.42005 2000-11-06
43  221899.42005       0.42005 2000-11-09
44  221899.42005       0.42005 2000-11-15
45  221899.42005       0.42005 2000-11-28
46  221899.42005       0.42005 2000-12-07
47  329334.92005  231834.92005 2000-12-11
48  308259.25755       2.63255 2000-12-15
49  308259.25755       2.63255 2000-12-20
50  387759.25755  282759.25755 2000-12-21
51  362054.55755       7.55755 2001-01-16
52  362054.55755       7.55755 2001-01-23
53  491429.55755  234382.55755 2001-01-28
54  491429.55755  234382.55755 2001-01-29
55  491429.55755  234382.55755 2001-02-06
56  470122.20655       1.69655 2001-02-16
           value          cash       date
0   100000.00000  100000.00000 2000-01-01
1    90909.25000       1.75000 2000-01-26
2    90909.25000       1.75000 2000-02-04
3    90909.25000       1.75000 2000-02-24
4    90909.25000       1.75000 2000-02-28
5    90909.25000       1.75000 2000-02-29
6    90909.25000       1.75000 2000-03-01
7    98814.25000   98814.25000 2000-03-02
8    98814.25000   98814.25000 2000-03-09
9    89831.50000       4.00000 2000-03-21
10   89831.50000       4.00000 2000-03-30
11   89831.50000       4.00000 2000-04-02
12   89831.50000       4.00000 2000-04-04
13   89831.50000       4.00000 2000-04-17
14   89831.50000       4.00000 2000-04-23
15   89831.50000       4.00000 2000-04-24
16  149716.50000  149716.50000 2000-04-25
17  136106.35625       4.91875 2000-05-01
18  136106.35625       4.91875 2000-05-21
19  136106.35625       4.91875 2000-05-25
20  136106.35625       4.91875 2000-06-05
21  154172.91875  154172.91875 2000-06-06
22  154172.91875  154172.91875 2000-07-11
23  140157.31875       1.31875 2000-07-31
24  140157.31875       1.31875 2000-08-01
25  140157.31875       1.31875 2000-08-10
26  140157.31875       1.31875 2000-08-18
27  140157.31875       1.31875 2000-08-21
28  140157.31875       1.31875 2000-09-03
29  189401.31875  189401.31875 2000-09-05
30  172183.24955       2.55755 2000-09-08
31  172183.24955       2.55755 2000-09-13
32  172183.24955       2.55755 2000-09-21
33  172183.24955       2.55755 2000-09-24
34  172183.24955       2.55755 2000-09-26
35  172183.24955       2.55755 2000-09-29
36  283549.80755  283549.80755 2000-10-11
37  257772.92005       4.04505 2000-10-23
38  248022.92005  150522.92005 2000-10-27
39  248022.92005  150522.92005 2000-10-30
40  234339.32005       3.32005 2000-10-31
41  234339.32005       3.32005 2000-11-01
42  221899.42005       0.42005 2000-11-06
43  221899.42005       0.42005 2000-11-09
44  221899.42005       0.42005 2000-11-15
45  221899.42005       0.42005 2000-11-28
46  221899.42005       0.42005 2000-12-07
47  329334.92005  231834.92005 2000-12-11
48  308259.25755       2.63255 2000-12-15
49  308259.25755       2.63255 2000-12-20
50  387759.25755  282759.25755 2000-12-21
51  362054.55755       7.55755 2001-01-16
52  362054.55755       7.55755 2001-01-23
53  491429.55755  234382.55755 2001-01-28
54  491429.55755  234382.55755 2001-01-29
55  491429.55755  234382.55755 2001-02-06
56  470122.20655       1.69655 2001-02-16
57  506843.20655  293769.69655 2001-02-21
58  475593.20655  163093.20655 2001-02-26
           value          cash       date
0   100000.00000  100000.00000 2000-01-01
1    90909.25000       1.75000 2000-01-26
2    90909.25000       1.75000 2000-02-04
3    90909.25000       1.75000 2000-02-24
4    90909.25000       1.75000 2000-02-28
5    90909.25000       1.75000 2000-02-29
6    90909.25000       1.75000 2000-03-01
7    98814.25000   98814.25000 2000-03-02
8    98814.25000   98814.25000 2000-03-09
9    89831.50000       4.00000 2000-03-21
10   89831.50000       4.00000 2000-03-30
11   89831.50000       4.00000 2000-04-02
12   89831.50000       4.00000 2000-04-04
13   89831.50000       4.00000 2000-04-17
14   89831.50000       4.00000 2000-04-23
15   89831.50000       4.00000 2000-04-24
16  149716.50000  149716.50000 2000-04-25
17  136106.35625       4.91875 2000-05-01
18  136106.35625       4.91875 2000-05-21
19  136106.35625       4.91875 2000-05-25
20  136106.35625       4.91875 2000-06-05
21  154172.91875  154172.91875 2000-06-06
22  154172.91875  154172.91875 2000-07-11
23  140157.31875       1.31875 2000-07-31
24  140157.31875       1.31875 2000-08-01
25  140157.31875       1.31875 2000-08-10
26  140157.31875       1.31875 2000-08-18
27  140157.31875       1.31875 2000-08-21
28  140157.31875       1.31875 2000-09-03
29  189401.31875  189401.31875 2000-09-05
30  172183.24955       2.55755 2000-09-08
31  172183.24955       2.55755 2000-09-13
32  172183.24955       2.55755 2000-09-21
33  172183.24955       2.55755 2000-09-24
34  172183.24955       2.55755 2000-09-26
35  172183.24955       2.55755 2000-09-29
36  283549.80755  283549.80755 2000-10-11
37  257772.92005       4.04505 2000-10-23
38  248022.92005  150522.92005 2000-10-27
39  248022.92005  150522.92005 2000-10-30
40  234339.32005       3.32005 2000-10-31
41  234339.32005       3.32005 2000-11-01
42  221899.42005       0.42005 2000-11-06
43  221899.42005       0.42005 2000-11-09
44  221899.42005       0.42005 2000-11-15
45  221899.42005       0.42005 2000-11-28
46  221899.42005       0.42005 2000-12-07
47  329334.92005  231834.92005 2000-12-11
48  308259.25755       2.63255 2000-12-15
49  308259.25755       2.63255 2000-12-20
50  387759.25755  282759.25755 2000-12-21
51  362054.55755       7.55755 2001-01-16
52  362054.55755       7.55755 2001-01-23
53  491429.55755  234382.55755 2001-01-28
54  491429.55755  234382.55755 2001-01-29
55  491429.55755  234382.55755 2001-02-06
56  470122.20655       1.69655 2001-02-16
57  506843.20655  293769.69655 2001-02-21
58  475593.20655  163093.20655 2001-02-26
59  460766.91255       3.97255 2001-03-08
           value          cash       date
0   100000.00000  100000.00000 2000-01-01
1    90909.25000       1.75000 2000-01-26
2    90909.25000       1.75000 2000-02-04
3    90909.25000       1.75000 2000-02-24
4    90909.25000       1.75000 2000-02-28

           value          cash       date
0   1.000000e+05  100000.00000 2000-01-01
1   9.090925e+04       1.75000 2000-01-26
2   9.090925e+04       1.75000 2000-02-04
3   9.090925e+04       1.75000 2000-02-24
4   9.090925e+04       1.75000 2000-02-28
5   9.090925e+04       1.75000 2000-02-29
6   9.090925e+04       1.75000 2000-03-01
7   9.881425e+04   98814.25000 2000-03-02
8   9.881425e+04   98814.25000 2000-03-09
9   8.983150e+04       4.00000 2000-03-21
10  8.983150e+04       4.00000 2000-03-30
11  8.983150e+04       4.00000 2000-04-02
12  8.983150e+04       4.00000 2000-04-04
13  8.983150e+04       4.00000 2000-04-17
14  8.983150e+04       4.00000 2000-04-23
15  8.983150e+04       4.00000 2000-04-24
16  1.497165e+05  149716.50000 2000-04-25
17  1.361064e+05       4.91875 2000-05-01
18  1.361064e+05       4.91875 2000-05-21
19  1.361064e+05       4.91875 2000-05-25
20  1.361064e+05       4.91875 2000-06-05
21  1.541729e+05  154172.91875 2000-06-06
22  1.541729e+05  154172.91875 2000-07-11
23  1.401573e+05       1.31875 2000-07-31
24  1.401573e+05       1.31875 2000-08-01
25  1.401573e+05       1.31875 2000-08-10
26  1.401573e+05       1.31875 2000-08-18
27  1.401573e+05       1.31875 2000-08-21
28  1.401573e+05       1.31875 2000-09-03
29  1.894013e+05  189401.31875 2000-09-05
..           ...           ...        ...
51  3.620546e+05       7.55755 2001-01-16
52  3.620546e+05       7.55755 2001-01-23
53  4.914296e+05  234382.55755 2001-01-28
54  4.914296e+05  234382.55755 2001-01-29
55  4.914296e+05  234382.55755 2001-02-06
56  4.701222e+05       1.69655 2001-02-16
57  5.068432e+05  293769.69655 2001-02-21
58  4.755932e+05  163093.20655 2001-02-26
59  4.607669e+05       3.97255 2001-03-08
60  4.607669e+05       3.97255 2001-03-19
61  4.607669e+05       3.97255 2001-03-22
62  8.357669e+05  687503.97255 2001-03-29
63  7.732668e+05       3.06285 2001-04-03
64  7.867988e+05  161797.93785 2001-04-12
65  7.867988e+05  161797.93785 2001-04-13
66  7.720913e+05      15.43785 2001-04-16
67  7.720913e+05      15.43785 2001-04-17
68  7.720913e+05      15.43785 2001-04-23
69  7.720901e+05       2.29285 2001-05-09
70  8.869740e+05  739887.04285 2001-05-10
71  8.336084e+05  152865.85535 2001-05-11
72  8.336084e+05  152865.85535 2001-05-16
73  8.693834e+05  335715.85535 2001-05-21
74  8.388642e+05       3.77535 2001-06-01
75  8.388672e+05      18.77535 2001-06-12
76  1.011945e+06  706751.90035 2001-06-17
77  9.476950e+05       4.70535 2001-06-28
78  8.892858e+05       1.96735 2001-07-02
79  9.482435e+05  364152.46735 2001-07-05
80  9.151388e+05       0.76735 2001-07-10

[81 rows x 3 columns]
           value          cash       date
0   1.000000e+05  100000.00000 2000-01-01
1   9.090925e+04       1.75000 2000-01-26
2   9.090925e+04       1.75000 2000-02-04
3   9.090925e+04       1.75000 2000-02-24
4   9.090925e+04       1.75000 2000-02-28
5   9.090925e+04       1.75000 2000-02-29
6   9.090925e+04       1.75000 2000-03-01
7   9.881425e+04   98814.25000 2000-03-02
8   9.881425e+04   98814.25000 2000-03-09
9   8.983150e+04       4.00000 2000-03-21
10  8.983150e+04       4.00000 2000-03-30
11  8.983150e+04       4.00000 2000-04-02
12  8.983150e+04       4.00000 2000-04-04
13  8.983150e+04       4.00000 2000-04-17
14  8.983150e+04       4.00000 2000-04-23
15  8.983150e+04       4.00000 2000-04-24
16  1.497165e+05  149716.50000 2000-04-25
17  1.361064e+05       4.91875 2000-05-01
18  1.361064e+05       4.91875 2000-05-21
19  1.361064e+05       4.91875 2000-05-25
20  1.361064e+05       4.91875 2000-06-05
21  1.541729e+05  154172.91875 2000-06-06
22  1.541729e+05  154172.91875 2000-07-11
23  1.401573e+05       1.31875 2000-07-31
24  1.401573e+05       1.31875 2000-08-01
25  1.401573e+05       1.31875 2000-08-10
26  1.401573e+05       1.31875 2000-08-18
27  1.401573e+05       1.31875 2000-08-21
28  1.401573e+05       1.31875 2000-09-03
29  1.894013e+05  189401.31875 2000-09-05
..           ...           ...        ...
52  3.620546e+05       7.55755 2001-01-23
53  4.914296e+05  234382.55755 2001-01-28
54  4.914296e+05  234382.55755 2001-01-29
55  4.914296e+05  234382.55755 2001-02-06
56  4.701222e+05       1.69655 2001-02-16
57  5.068432e+05  293769.69655 2001-02-21
58  4.755932e+05  163093.20655 2001-02-26
59  4.607669e+05       3.97255 2001-03-08
60  4.607669e+05       3.97255 2001-03-19
61  4.607669e+05       3.97255 2001-03-22
62  8.357669e+05  687503.97255 2001-03-29
63  7.732668e+05       3.06285 2001-04-03
64  7.867988e+05  161797.93785 2001-04-12
65  7.867988e+05  161797.93785 2001-04-13
66  7.720913e+05      15.43785 2001-04-16
67  7.720913e+05      15.43785 2001-04-17
68  7.720913e+05      15.43785 2001-04-23
69  7.720901e+05       2.29285 2001-05-09
70  8.869740e+05  739887.04285 2001-05-10
71  8.336084e+05  152865.85535 2001-05-11
72  8.336084e+05  152865.85535 2001-05-16
73  8.693834e+05  335715.85535 2001-05-21
74  8.388642e+05       3.77535 2001-06-01
75  8.388672e+05      18.77535 2001-06-12
76  1.011945e+06  706751.90035 2001-06-17
77  9.476950e+05       4.70535 2001-06-28
78  8.892858e+05       1.96735 2001-07-02
79  9.482435e+05  364152.46735 2001-07-05
80  9.151388e+05       0.76735 2001-07-10
81  9.151388e+05       0.76735 2001-07-19

[82 rows x 3 columns]
           value          cash       date
0   1.000000e+05  100000.00000 2000-01-01
1   9.090925e+04       1.75000 2000-01-26
2   9.090925e+04       1.75000 2000-02-04
3   9.090925e+04       1.75000 2000-02-24
4   9.090925e+04       1.75000 2000-02-28
5   9.090925e+04       1.75000 2000-02-29
6   9.090925e+04       1.75000 2000-03-01
7   9.881425e+04   98814.25000 2000-03-02
8   9.881425e+04   98814.25000 2000-03-09
9   8.983150e+04       4.00000 2000-03-21
10  8.983150e+04       4.00000 2000-03-30
11  8.983150e+04       4.00000 2000-04-02
12  8.983150e+04       4.00000 2000-04-04
13  8.983150e+04       4.00000 2000-04-17
14  8.983150e+04       4.00000 2000-04-23
15  8.983150e+04       4.00000 2000-04-24
16  1.497165e+05  149716.50000 2000-04-25
17  1.361064e+05       4.91875 2000-05-01
18  1.361064e+05       4.91875 2000-05-21
19  1.361064e+05       4.91875 2000-05-25
20  1.361064e+05       4.91875 2000-06-05
21  1.541729e+05  154172.91875 2000-06-06
22  1.541729e+05  154172.91875 2000-07-11
23  1.401573e+05       1.31875 2000-07-31
24  1.401573e+05       1.31875 2000-08-01
25  1.401573e+05       1.31875 2000-08-10
26  1.401573e+05       1.31875 2000-08-18
27  1.401573e+05       1.31875 2000-08-21
28  1.401573e+05       1.31875 2000-09-03
29  1.894013e+05  189401.31875 2000-09-05
..           ...           ...        ...
53  4.914296e+05  234382.55755 2001-01-28
54  4.914296e+05  234382.55755 2001-01-29
55  4.914296e+05  234382.55755 2001-02-06
56  4.701222e+05       1.69655 2001-02-16
57  5.068432e+05  293769.69655 2001-02-21
58  4.755932e+05  163093.20655 2001-02-26
59  4.607669e+05       3.97255 2001-03-08
60  4.607669e+05       3.97255 2001-03-19
61  4.607669e+05       3.97255 2001-03-22
62  8.357669e+05  687503.97255 2001-03-29
63  7.732668e+05       3.06285 2001-04-03
64  7.867988e+05  161797.93785 2001-04-12
65  7.867988e+05  161797.93785 2001-04-13
66  7.720913e+05      15.43785 2001-04-16
67  7.720913e+05      15.43785 2001-04-17
68  7.720913e+05      15.43785 2001-04-23
69  7.720901e+05       2.29285 2001-05-09
70  8.869740e+05  739887.04285 2001-05-10
71  8.336084e+05  152865.85535 2001-05-11
72  8.336084e+05  152865.85535 2001-05-16
73  8.693834e+05  335715.85535 2001-05-21
74  8.388642e+05       3.77535 2001-06-01
75  8.388672e+05      18.77535 2001-06-12
76  1.011945e+06  706751.90035 2001-06-17
77  9.476950e+05       4.70535 2001-06-28
78  8.892858e+05       1.96735 2001-07-02
79  9.482435e+05  364152.46735 2001-07-05
80  9.151388e+05       0.76735 2001-07-10
81  9.151388e+05       0.76735 2001-07-19
82  9.151388e+05       0.76735 2001-07-26

[83 rows x 3 columns]
           value          cash       date
0   1.000000e+05  100000.00000 2000-01-01
1   9.090925e+04       1.75000 2000-01-26
2   9.090925e+04       1.75000 2000-02-04
3   9.090925e+04       1.75000 2000-02-24
4   9.090925e+04       1.75000 2000-02-28
5   9.090925e+04       1.75000 2000-02-29
6   9.090925e+04       1.75000 2000-03-01
7   9.881425e+04   98814.25000 2000-03-02
8   9.881425e+04   98814.25000 2000-03-09
9   8.983150e+04       4.00000 2000-03-21
10  8.983150e+04       4.00000 2000-03-30
11  8.983150e+04       4.00000 2000-04-02
12  8.983150e+04       4.00000 2000-04-04
13  8.983150e+04       4.00000 2000-04-17
14  8.983150e+04       4.00000 2000-04-23
15  8.983150e+04       4.00000 2000-04-24
16  1.497165e+05  149716.50000 2000-04-25
17  1.361064e+05       4.91875 2000-05-01
18  1.361064e+05       4.91875 2000-05-21
19  1.361064e+05       4.91875 2000-05-25
20  1.361064e+05       4.91875 2000-06-05
21  1.541729e+05  154172.91875 2000-06-06
22  1.541729e+05  154172.91875 2000-07-11
23  1.401573e+05       1.31875 2000-07-31
24  1.401573e+05       1.31875 2000-08-01
25  1.401573e+05       1.31875 2000-08-10
26  1.401573e+05       1.31875 2000-08-18
27  1.401573e+05       1.31875 2000-08-21
28  1.401573e+05       1.31875 2000-09-03
29  1.894013e+05  189401.31875 2000-09-05
..           ...           ...        ...
56  4.701222e+05       1.69655 2001-02-16
57  5.068432e+05  293769.69655 2001-02-21
58  4.755932e+05  163093.20655 2001-02-26
59  4.607669e+05       3.97255 2001-03-08
60  4.607669e+05       3.97255 2001-03-19
61  4.607669e+05       3.97255 2001-03-22
62  8.357669e+05  687503.97255 2001-03-29
63  7.732668e+05       3.06285 2001-04-03
64  7.867988e+05  161797.93785 2001-04-12
65  7.867988e+05  161797.93785 2001-04-13
66  7.720913e+05      15.43785 2001-04-16
67  7.720913e+05      15.43785 2001-04-17
68  7.720913e+05      15.43785 2001-04-23
69  7.720901e+05       2.29285 2001-05-09
70  8.869740e+05  739887.04285 2001-05-10
71  8.336084e+05  152865.85535 2001-05-11
72  8.336084e+05  152865.85535 2001-05-16
73  8.693834e+05  335715.85535 2001-05-21
74  8.388642e+05       3.77535 2001-06-01
75  8.388672e+05      18.77535 2001-06-12
76  1.011945e+06  706751.90035 2001-06-17
77  9.476950e+05       4.70535 2001-06-28
78  8.892858e+05       1.96735 2001-07-02
79  9.482435e+05  364152.46735 2001-07-05
80  9.151388e+05       0.76735 2001-07-10
81  9.151388e+05       0.76735 2001-07-19
82  9.151388e+05       0.76735 2001-07-26
83  1.053933e+06  722885.76735 2001-08-05
84  1.053933e+06  722885.76735 2001-08-06
85  9.882166e+05       8.11735 2001-08-07

[86 rows x 3 columns]
           value          cash       date
0   1.000000e+05  100000.00000 2000-01-01
1   9.090925e+04       1.75000 2000-01-26
2   9.090925e+04       1.75000 2000-02-04
3   9.090925e+04       1.75000 2000-02-24
4   9.090925e+04       1.75000 2000-02-28
5   9.090925e+04       1.75000 2000-02-29
6   9.090925e+04       1.75000 2000-03-01
7   9.881425e+04   98814.25000 2000-03-02
8   9.881425e+04   98814.25000 2000-03-09
9   8.983150e+04       4.00000 2000-03-21
10  8.983150e+04       4.00000 2000-03-30
11  8.983150e+04       4.00000 2000-04-02
12  8.983150e+04       4.00000 2000-04-04
13  8.983150e+04       4.00000 2000-04-17
14  8.983150e+04       4.00000 2000-04-23
15  8.983150e+04       4.00000 2000-04-24
16  1.497165e+05  149716.50000 2000-04-25
17  1.361064e+05       4.91875 2000-05-01
18  1.361064e+05       4.91875 2000-05-21
19  1.361064e+05       4.91875 2000-05-25
20  1.361064e+05       4.91875 2000-06-05
21  1.541729e+05  154172.91875 2000-06-06
22  1.541729e+05  154172.91875 2000-07-11
23  1.401573e+05       1.31875 2000-07-31
24  1.401573e+05       1.31875 2000-08-01
25  1.401573e+05       1.31875 2000-08-10
26  1.401573e+05       1.31875 2000-08-18
27  1.401573e+05       1.31875 2000-08-21
28  1.401573e+05       1.31875 2000-09-03
29  1.894013e+05  189401.31875 2000-09-05
..           ...           ...        ...
57  5.068432e+05  293769.69655 2001-02-21
58  4.755932e+05  163093.20655 2001-02-26
59  4.607669e+05       3.97255 2001-03-08
60  4.607669e+05       3.97255 2001-03-19
61  4.607669e+05       3.97255 2001-03-22
62  8.357669e+05  687503.97255 2001-03-29
63  7.732668e+05       3.06285 2001-04-03
64  7.867988e+05  161797.93785 2001-04-12
65  7.867988e+05  161797.93785 2001-04-13
66  7.720913e+05      15.43785 2001-04-16
67  7.720913e+05      15.43785 2001-04-17
68  7.720913e+05      15.43785 2001-04-23
69  7.720901e+05       2.29285 2001-05-09
70  8.869740e+05  739887.04285 2001-05-10
71  8.336084e+05  152865.85535 2001-05-11
72  8.336084e+05  152865.85535 2001-05-16
73  8.693834e+05  335715.85535 2001-05-21
74  8.388642e+05       3.77535 2001-06-01
75  8.388672e+05      18.77535 2001-06-12
76  1.011945e+06  706751.90035 2001-06-17
77  9.476950e+05       4.70535 2001-06-28
78  8.892858e+05       1.96735 2001-07-02
79  9.482435e+05  364152.46735 2001-07-05
80  9.151388e+05       0.76735 2001-07-10
81  9.151388e+05       0.76735 2001-07-19
82  9.151388e+05       0.76735 2001-07-26
83  1.053933e+06  722885.76735 2001-08-05
84  1.053933e+06  722885.76735 2001-08-06
85  9.882166e+05       8.11735 2001-08-07
86  9.882166e+05       8.11735 2001-08-13

[87 rows x 3 columns]
           value          cash       date
0   1.000000e+05  100000.00000 2000-01-01
1   9.090925e+04       1.75000 2000-01-26
2   9.090925e+04       1.75000 2000-02-04
3   9.090925e+04       1.75000 2000-02-24
4   9.090925e+04       1.75000 2000-02-28
5   9.090925e+04       1.75000 2000-02-29
6   9.090925e+04       1.75000 2000-03-01
7   9.881425e+04   98814.25000 2000-03-02
8   9.881425e+04   98814.25000 2000-03-09
9   8.983150e+04       4.00000 2000-03-21
10  8.983150e+04       4.00000 2000-03-30
11  8.983150e+04       4.00000 2000-04-02
12  8.983150e+04       4.00000 2000-04-04
13  8.983150e+04       4.00000 2000-04-17
14  8.983150e+04       4.00000 2000-04-23
15  8.983150e+04       4.00000 2000-04-24
16  1.497165e+05  149716.50000 2000-04-25
17  1.361064e+05       4.91875 2000-05-01
18  1.361064e+05       4.91875 2000-05-21
19  1.361064e+05       4.91875 2000-05-25
20  1.361064e+05       4.91875 2000-06-05
21  1.541729e+05  154172.91875 2000-06-06
22  1.541729e+05  154172.91875 2000-07-11
23  1.401573e+05       1.31875 2000-07-31
24  1.401573e+05       1.31875 2000-08-01
25  1.401573e+05       1.31875 2000-08-10
26  1.401573e+05       1.31875 2000-08-18
27  1.401573e+05       1.31875 2000-08-21
28  1.401573e+05       1.31875 2000-09-03
29  1.894013e+05  189401.31875 2000-09-05
..           ...           ...        ...
58  4.755932e+05  163093.20655 2001-02-26
59  4.607669e+05       3.97255 2001-03-08
60  4.607669e+05       3.97255 2001-03-19
61  4.607669e+05       3.97255 2001-03-22
62  8.357669e+05  687503.97255 2001-03-29
63  7.732668e+05       3.06285 2001-04-03
64  7.867988e+05  161797.93785 2001-04-12
65  7.867988e+05  161797.93785 2001-04-13
66  7.720913e+05      15.43785 2001-04-16
67  7.720913e+05      15.43785 2001-04-17
68  7.720913e+05      15.43785 2001-04-23
69  7.720901e+05       2.29285 2001-05-09
70  8.869740e+05  739887.04285 2001-05-10
71  8.336084e+05  152865.85535 2001-05-11
72  8.336084e+05  152865.85535 2001-05-16
73  8.693834e+05  335715.85535 2001-05-21
74  8.388642e+05       3.77535 2001-06-01
75  8.388672e+05      18.77535 2001-06-12
76  1.011945e+06  706751.90035 2001-06-17
77  9.476950e+05       4.70535 2001-06-28
78  8.892858e+05       1.96735 2001-07-02
79  9.482435e+05  364152.46735 2001-07-05
80  9.151388e+05       0.76735 2001-07-10
81  9.151388e+05       0.76735 2001-07-19
82  9.151388e+05       0.76735 2001-07-26
83  1.053933e+06  722885.76735 2001-08-05
84  1.053933e+06  722885.76735 2001-08-06
85  9.882166e+05       8.11735 2001-08-07
86  9.882166e+05       8.11735 2001-08-13
87  9.882166e+05       8.11735 2001-08-15

[88 rows x 3 columns]
           value          cash       date
0   1.000000e+05  100000.00000 2000-01-01
1   9.090925e+04       1.75000 2000-01-26
2   9.090925e+04       1.75000 2000-02-04
3   9.090925e+04       1.75000 2000-02-24
4   9.090925e+04       1.75000 2000-02-28
5   9.090925e+04       1.75000 2000-02-29
6   9.090925e+04       1.75000 2000-03-01
7   9.881425e+04   98814.25000 2000-03-02
8   9.881425e+04   98814.25000 2000-03-09
9   8.983150e+04       4.00000 2000-03-21
10  8.983150e+04       4.00000 2000-03-30
11  8.983150e+04       4.00000 2000-04-02
12  8.983150e+04       4.00000 2000-04-04
13  8.983150e+04       4.00000 2000-04-17
14  8.983150e+04       4.00000 2000-04-23
15  8.983150e+04       4.00000 2000-04-24
16  1.497165e+05  149716.50000 2000-04-25
17  1.361064e+05       4.91875 2000-05-01
18  1.361064e+05       4.91875 2000-05-21
19  1.361064e+05       4.91875 2000-05-25
20  1.361064e+05       4.91875 2000-06-05
21  1.541729e+05  154172.91875 2000-06-06
22  1.541729e+05  154172.91875 2000-07-11
23  1.401573e+05       1.31875 2000-07-31
24  1.401573e+05       1.31875 2000-08-01
25  1.401573e+05       1.31875 2000-08-10
26  1.401573e+05       1.31875 2000-08-18
27  1.401573e+05       1.31875 2000-08-21
28  1.401573e+05       1.31875 2000-09-03
29  1.894013e+05  189401.31875 2000-09-05
..           ...           ...        ...
62  8.357669e+05  687503.97255 2001-03-29
63  7.732668e+05       3.06285 2001-04-03
64  7.867988e+05  161797.93785 2001-04-12
65  7.867988e+05  161797.93785 2001-04-13
66  7.720913e+05      15.43785 2001-04-16
67  7.720913e+05      15.43785 2001-04-17
68  7.720913e+05      15.43785 2001-04-23
69  7.720901e+05       2.29285 2001-05-09
70  8.869740e+05  739887.04285 2001-05-10
71  8.336084e+05  152865.85535 2001-05-11
72  8.336084e+05  152865.85535 2001-05-16
73  8.693834e+05  335715.85535 2001-05-21
74  8.388642e+05       3.77535 2001-06-01
75  8.388672e+05      18.77535 2001-06-12
76  1.011945e+06  706751.90035 2001-06-17
77  9.476950e+05       4.70535 2001-06-28
78  8.892858e+05       1.96735 2001-07-02
79  9.482435e+05  364152.46735 2001-07-05
80  9.151388e+05       0.76735 2001-07-10
81  9.151388e+05       0.76735 2001-07-19
82  9.151388e+05       0.76735 2001-07-26
83  1.053933e+06  722885.76735 2001-08-05
84  1.053933e+06  722885.76735 2001-08-06
85  9.882166e+05       8.11735 2001-08-07
86  9.882166e+05       8.11735 2001-08-13
87  9.882166e+05       8.11735 2001-08-15
88  1.007981e+06  350819.11735 2001-08-21
89  1.007981e+06  350819.11735 2001-08-22
90  1.007981e+06  350819.11735 2001-08-29
91  9.760883e+05       3.65235 2001-09-10

[92 rows x 3 columns]
           value          cash       date
0   1.000000e+05  100000.00000 2000-01-01
1   9.090925e+04       1.75000 2000-01-26
2   9.090925e+04       1.75000 2000-02-04
3   9.090925e+04       1.75000 2000-02-24
4   9.090925e+04       1.75000 2000-02-28
5   9.090925e+04       1.75000 2000-02-29
6   9.090925e+04       1.75000 2000-03-01
7   9.881425e+04   98814.25000 2000-03-02
8   9.881425e+04   98814.25000 2000-03-09
9   8.983150e+04       4.00000 2000-03-21
10  8.983150e+04       4.00000 2000-03-30
11  8.983150e+04       4.00000 2000-04-02
12  8.983150e+04       4.00000 2000-04-04
13  8.983150e+04       4.00000 2000-04-17
14  8.983150e+04       4.00000 2000-04-23
15  8.983150e+04       4.00000 2000-04-24
16  1.497165e+05  149716.50000 2000-04-25
17  1.361064e+05       4.91875 2000-05-01
18  1.361064e+05       4.91875 2000-05-21
19  1.361064e+05       4.91875 2000-05-25
20  1.361064e+05       4.91875 2000-06-05
21  1.541729e+05  154172.91875 2000-06-06
22  1.541729e+05  154172.91875 2000-07-11
23  1.401573e+05       1.31875 2000-07-31
24  1.401573e+05       1.31875 2000-08-01
25  1.401573e+05       1.31875 2000-08-10
26  1.401573e+05       1.31875 2000-08-18
27  1.401573e+05       1.31875 2000-08-21
28  1.401573e+05       1.31875 2000-09-03
29  1.894013e+05  189401.31875 2000-09-05
..           ...           ...        ...
66  7.720913e+05      15.43785 2001-04-16
67  7.720913e+05      15.43785 2001-04-17
68  7.720913e+05      15.43785 2001-04-23
69  7.720901e+05       2.29285 2001-05-09
70  8.869740e+05  739887.04285 2001-05-10
71  8.336084e+05  152865.85535 2001-05-11

[122 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
93   9.760883e+05  3.652350e+00 2001-09-24
94   1.095102e+06  7.761787e+05 2001-09-27
95   1.025227e+06  3.264768e+05 2001-10-10
96   1.025227e+06  3.264768e+05 2001-10-14
97   9.955473e+05  2.302350e+00 2001-11-05
98   1.586797e+06  1.290002e+06 2001-11-18
99   1.469525e+06  2.492350e+00 2001-11-21
100  1.469525e+06  2.492350e+00 2001-11-26
101  1.469525e+06  2.492350e+00 2001-12-07
102  1.499204e+06  3.264770e+05 2001-12-10
103  1.469525e+06  4.032350e+00 2001-12-17
104  1.469525e+06  4.032350e+00 2001-12-20
105  1.623232e+06  1.326438e+06 2001-12-26
106  1.623232e+06  1.326438e+06 2001-12-27
107  1.623232e+06  1.326438e+06 2002-01-16
108  1.689701e+06  1.689701e+06 2002-01-24
109  1.689701e+06  1.689701e+06 2002-01-28
110  1.689701e+06  1.689701e+06 2002-01-31
111  1.622876e+06  9.546261e+05 2002-02-07
112  1.622876e+06  9.546261e+05 2002-03-07
113  1.652126e+06  1.652126e+06 2002-03-21
114  1.501933e+06  1.542350e+00 2002-03-28
115  1.501933e+06  1.542350e+00 2002-04-10
116  1.501933e+06  1.542350e+00 2002-04-15
117  1.501933e+06  1.542350e+00 2002-04-23
118  1.776480e+06  1.776480e+06 2002-05-02
119  1.614981e+06  2.223500e-01 2002-05-07
120  1.614981e+06  2.223500e-01 2002-05-14
121  1.614981e+06  2.223500e-01 2002-05-17
122  1.614981e+06  2.223500e-01 2002-05-23

[123 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
100  1.469525e+06  2.492350e+00 2001-11-26
101  1.469525e+06  2.492350e+00 2001-12-07
102  1.499204e+06  3.264770e+05 2001-12-10
103  1.469525e+06  4.032350e+00 2001-12-17
104  1.469525e+06  4.032350e+00 2001-12-20
105  1.623232e+06  1.326438e+06 2001-12-26
106  1.623232e+06  1.326438e+06 2001-12-27
107  1.623232e+06  1.326438e+06 2002-01-16
108  1.689701e+06  1.689701e+06 2002-01-24
109  1.689701e+06  1.689701e+06 2002-01-28
110  1.689701e+06  1.689701e+06 2002-01-31
111  1.622876e+06  9.546261e+05 2002-02-07
112  1.622876e+06  9.546261e+05 2002-03-07
113  1.652126e+06  1.652126e+06 2002-03-21
114  1.501933e+06  1.542350e+00 2002-03-28
115  1.501933e+06  1.542350e+00 2002-04-10
116  1.501933e+06  1.542350e+00 2002-04-15
117  1.501933e+06  1.542350e+00 2002-04-23
118  1.776480e+06  1.776480e+06 2002-05-02
119  1.614981e+06  2.223500e-01 2002-05-07
120  1.614981e+06  2.223500e-01 2002-05-14
121  1.614981e+06  2.223500e-01 2002-05-17
122  1.614981e+06  2.223500e-01 2002-05-23
123  1.614981e+06  2.223500e-01 2002-06-06
124  1.625820e+06  1.625820e+06 2002-06-13
125  1.625820e+06  1.625820e+06 2002-06-20
126  1.625820e+06  1.625820e+06 2002-06-23
127  1.625820e+06  1.625820e+06 2002-06-27
128  1.625820e+06  1.625820e+06 2002-07-04
129  1.478019e+06  2.820350e+00 2002-07-16

[130 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
103  1.469525e+06  4.032350e+00 2001-12-17
104  1.469525e+06  4.032350e+00 2001-12-20
105  1.623232e+06  1.326438e+06 2001-12-26
106  1.623232e+06  1.326438e+06 2001-12-27
107  1.623232e+06  1.326438e+06 2002-01-16
108  1.689701e+06  1.689701e+06 2002-01-24
109  1.689701e+06  1.689701e+06 2002-01-28
110  1.689701e+06  1.689701e+06 2002-01-31
111  1.622876e+06  9.546261e+05 2002-02-07
112  1.622876e+06  9.546261e+05 2002-03-07
113  1.652126e+06  1.652126e+06 2002-03-21
114  1.501933e+06  1.542350e+00 2002-03-28
115  1.501933e+06  1.542350e+00 2002-04-10
116  1.501933e+06  1.542350e+00 2002-04-15
117  1.501933e+06  1.542350e+00 2002-04-23
118  1.776480e+06  1.776480e+06 2002-05-02
119  1.614981e+06  2.223500e-01 2002-05-07
120  1.614981e+06  2.223500e-01 2002-05-14
121  1.614981e+06  2.223500e-01 2002-05-17
122  1.614981e+06  2.223500e-01 2002-05-23
123  1.614981e+06  2.223500e-01 2002-06-06
124  1.625820e+06  1.625820e+06 2002-06-13
125  1.625820e+06  1.625820e+06 2002-06-20
126  1.625820e+06  1.625820e+06 2002-06-23
127  1.625820e+06  1.625820e+06 2002-06-27
128  1.625820e+06  1.625820e+06 2002-07-04
129  1.478019e+06  2.820350e+00 2002-07-16
130  1.478019e+06  2.820350e+00 2002-08-05
131  1.951179e+06  1.951179e+06 2002-08-19
132  1.778679e+06  5.367882e+04 2002-08-21

[133 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
106  1.623232e+06  1.326438e+06 2001-12-27
107  1.623232e+06  1.326438e+06 2002-01-16
108  1.689701e+06  1.689701e+06 2002-01-24
109  1.689701e+06  1.689701e+06 2002-01-28
110  1.689701e+06  1.689701e+06 2002-01-31
111  1.622876e+06  9.546261e+05 2002-02-07
112  1.622876e+06  9.546261e+05 2002-03-07
113  1.652126e+06  1.652126e+06 2002-03-21
114  1.501933e+06  1.542350e+00 2002-03-28
115  1.501933e+06  1.542350e+00 2002-04-10
116  1.501933e+06  1.542350e+00 2002-04-15
117  1.501933e+06  1.542350e+00 2002-04-23
118  1.776480e+06  1.776480e+06 2002-05-02
119  1.614981e+06  2.223500e-01 2002-05-07
120  1.614981e+06  2.223500e-01 2002-05-14
121  1.614981e+06  2.223500e-01 2002-05-17
122  1.614981e+06  2.223500e-01 2002-05-23
123  1.614981e+06  2.223500e-01 2002-06-06
124  1.625820e+06  1.625820e+06 2002-06-13
125  1.625820e+06  1.625820e+06 2002-06-20
126  1.625820e+06  1.625820e+06 2002-06-23
127  1.625820e+06  1.625820e+06 2002-06-27
128  1.625820e+06  1.625820e+06 2002-07-04
129  1.478019e+06  2.820350e+00 2002-07-16
130  1.478019e+06  2.820350e+00 2002-08-05
131  1.951179e+06  1.951179e+06 2002-08-19
132  1.778679e+06  5.367882e+04 2002-08-21
133  2.678679e+06  2.678679e+06 2002-08-27
134  2.678679e+06  2.678679e+06 2002-09-05
135  2.652554e+06  2.391304e+06 2002-09-06

[136 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
107  1.623232e+06  1.326438e+06 2002-01-16
108  1.689701e+06  1.689701e+06 2002-01-24
109  1.689701e+06  1.689701e+06 2002-01-28
110  1.689701e+06  1.689701e+06 2002-01-31
111  1.622876e+06  9.546261e+05 2002-02-07
112  1.622876e+06  9.546261e+05 2002-03-07
113  1.652126e+06  1.652126e+06 2002-03-21
114  1.501933e+06  1.542350e+00 2002-03-28
115  1.501933e+06  1.542350e+00 2002-04-10
116  1.501933e+06  1.542350e+00 2002-04-15
117  1.501933e+06  1.542350e+00 2002-04-23
118  1.776480e+06  1.776480e+06 2002-05-02
119  1.614981e+06  2.223500e-01 2002-05-07
120  1.614981e+06  2.223500e-01 2002-05-14
121  1.614981e+06  2.223500e-01 2002-05-17
122  1.614981e+06  2.223500e-01 2002-05-23
123  1.614981e+06  2.223500e-01 2002-06-06
124  1.625820e+06  1.625820e+06 2002-06-13
125  1.625820e+06  1.625820e+06 2002-06-20
126  1.625820e+06  1.625820e+06 2002-06-23
127  1.625820e+06  1.625820e+06 2002-06-27
128  1.625820e+06  1.625820e+06 2002-07-04
129  1.478019e+06  2.820350e+00 2002-07-16
130  1.478019e+06  2.820350e+00 2002-08-05
131  1.951179e+06  1.951179e+06 2002-08-19
132  1.778679e+06  5.367882e+04 2002-08-21
133  2.678679e+06  2.678679e+06 2002-08-27
134  2.678679e+06  2.678679e+06 2002-09-05
135  2.652554e+06  2.391304e+06 2002-09-06
136  2.435163e+06  5.323500e-01 2002-09-19

[137 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
108  1.689701e+06  1.689701e+06 2002-01-24
109  1.689701e+06  1.689701e+06 2002-01-28
110  1.689701e+06  1.689701e+06 2002-01-31
111  1.622876e+06  9.546261e+05 2002-02-07
112  1.622876e+06  9.546261e+05 2002-03-07
113  1.652126e+06  1.652126e+06 2002-03-21
114  1.501933e+06  1.542350e+00 2002-03-28
115  1.501933e+06  1.542350e+00 2002-04-10
116  1.501933e+06  1.542350e+00 2002-04-15
117  1.501933e+06  1.542350e+00 2002-04-23
118  1.776480e+06  1.776480e+06 2002-05-02
119  1.614981e+06  2.223500e-01 2002-05-07
120  1.614981e+06  2.223500e-01 2002-05-14
121  1.614981e+06  2.223500e-01 2002-05-17
122  1.614981e+06  2.223500e-01 2002-05-23
123  1.614981e+06  2.223500e-01 2002-06-06
124  1.625820e+06  1.625820e+06 2002-06-13
125  1.625820e+06  1.625820e+06 2002-06-20
126  1.625820e+06  1.625820e+06 2002-06-23
127  1.625820e+06  1.625820e+06 2002-06-27
128  1.625820e+06  1.625820e+06 2002-07-04
129  1.478019e+06  2.820350e+00 2002-07-16
130  1.478019e+06  2.820350e+00 2002-08-05
131  1.951179e+06  1.951179e+06 2002-08-19
132  1.778679e+06  5.367882e+04 2002-08-21
133  2.678679e+06  2.678679e+06 2002-08-27
134  2.678679e+06  2.678679e+06 2002-09-05
135  2.652554e+06  2.391304e+06 2002-09-06
136  2.435163e+06  5.323500e-01 2002-09-19
137  2.435163e+06  5.323500e-01 2002-09-23

[138 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
109  1.689701e+06  1.689701e+06 2002-01-28
110  1.689701e+06  1.689701e+06 2002-01-31
111  1.622876e+06  9.546261e+05 2002-02-07
112  1.622876e+06  9.546261e+05 2002-03-07
113  1.652126e+06  1.652126e+06 2002-03-21
114  1.501933e+06  1.542350e+00 2002-03-28
115  1.501933e+06  1.542350e+00 2002-04-10
116  1.501933e+06  1.542350e+00 2002-04-15
117  1.501933e+06  1.542350e+00 2002-04-23
118  1.776480e+06  1.776480e+06 2002-05-02
119  1.614981e+06  2.223500e-01 2002-05-07
120  1.614981e+06  2.223500e-01 2002-05-14
121  1.614981e+06  2.223500e-01 2002-05-17
122  1.614981e+06  2.223500e-01 2002-05-23
123  1.614981e+06  2.223500e-01 2002-06-06
124  1.625820e+06  1.625820e+06 2002-06-13
125  1.625820e+06  1.625820e+06 2002-06-20
126  1.625820e+06  1.625820e+06 2002-06-23
127  1.625820e+06  1.625820e+06 2002-06-27
128  1.625820e+06  1.625820e+06 2002-07-04
129  1.478019e+06  2.820350e+00 2002-07-16
130  1.478019e+06  2.820350e+00 2002-08-05
131  1.951179e+06  1.951179e+06 2002-08-19
132  1.778679e+06  5.367882e+04 2002-08-21
133  2.678679e+06  2.678679e+06 2002-08-27
134  2.678679e+06  2.678679e+06 2002-09-05
135  2.652554e+06  2.391304e+06 2002-09-06
136  2.435163e+06  5.323500e-01 2002-09-19
137  2.435163e+06  5.323500e-01 2002-09-23
138  2.435163e+06  5.323500e-01 2002-10-11

[139 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01

            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
160  3.369289e+06  3.369289e+06 2003-03-10
161  3.211789e+06  1.636789e+06 2003-03-18
162  3.211789e+06  1.636789e+06 2003-03-20
163  3.062991e+06  2.103350e+00 2003-03-21
164  3.062991e+06  2.103350e+00 2003-03-23
165  3.062991e+06  2.103350e+00 2003-04-14
166  3.500491e+06  2.012502e+06 2003-04-20
167  3.317536e+06  6.772350e+00 2003-04-23
168  3.644168e+06  1.814627e+06 2003-04-27
169  3.479205e+06  3.122035e+01 2003-04-28
170  3.436455e+06  3.008955e+06 2003-05-09
171  3.436455e+06  3.008955e+06 2003-05-18
172  3.162914e+06  4.410350e+00 2003-05-20
173  3.162914e+06  4.410350e+00 2003-05-27
174  3.162914e+06  4.410350e+00 2003-05-28
175  3.162914e+06  1.099350e+00 2003-06-10
176  3.162914e+06  1.099350e+00 2003-06-11
177  3.335414e+06  6.000011e+05 2003-06-15
178  3.335414e+06  6.000011e+05 2003-06-16
179  3.528339e+06  3.528336e+06 2003-06-30
180  3.207583e+06  2.009935e+01 2003-07-01
181  3.207583e+06  2.009935e+01 2003-07-06
182  3.207583e+06  2.324935e+01 2003-07-15
183  3.207583e+06  2.324935e+01 2003-07-20
184  3.207581e+06  1.865350e+00 2003-07-22
185  3.608526e+06  3.608507e+06 2003-08-04
186  3.280483e+06  2.781535e+01 2003-08-11
187  3.280481e+06  9.390350e+00 2003-08-18
188  3.280492e+06  3.939035e+01 2003-08-25
189  3.280489e+06  1.180235e+01 2003-09-05

[190 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
161  3.211789e+06  1.636789e+06 2003-03-18
162  3.211789e+06  1.636789e+06 2003-03-20
163  3.062991e+06  2.103350e+00 2003-03-21
164  3.062991e+06  2.103350e+00 2003-03-23
165  3.062991e+06  2.103350e+00 2003-04-14
166  3.500491e+06  2.012502e+06 2003-04-20
167  3.317536e+06  6.772350e+00 2003-04-23
168  3.644168e+06  1.814627e+06 2003-04-27
169  3.479205e+06  3.122035e+01 2003-04-28
170  3.436455e+06  3.008955e+06 2003-05-09
171  3.436455e+06  3.008955e+06 2003-05-18
172  3.162914e+06  4.410350e+00 2003-05-20
173  3.162914e+06  4.410350e+00 2003-05-27
174  3.162914e+06  4.410350e+00 2003-05-28
175  3.162914e+06  1.099350e+00 2003-06-10
176  3.162914e+06  1.099350e+00 2003-06-11
177  3.335414e+06  6.000011e+05 2003-06-15
178  3.335414e+06  6.000011e+05 2003-06-16
179  3.528339e+06  3.528336e+06 2003-06-30
180  3.207583e+06  2.009935e+01 2003-07-01
181  3.207583e+06  2.009935e+01 2003-07-06
182  3.207583e+06  2.324935e+01 2003-07-15
183  3.207583e+06  2.324935e+01 2003-07-20
184  3.207581e+06  1.865350e+00 2003-07-22
185  3.608526e+06  3.608507e+06 2003-08-04
186  3.280483e+06  2.781535e+01 2003-08-11
187  3.280481e+06  9.390350e+00 2003-08-18
188  3.280492e+06  3.939035e+01 2003-08-25
189  3.280489e+06  1.180235e+01 2003-09-05
190  3.274239e+06  3.211739e+06 2003-09-15

[191 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
164  3.062991e+06  2.103350e+00 2003-03-23
165  3.062991e+06  2.103350e+00 2003-04-14
166  3.500491e+06  2.012502e+06 2003-04-20
167  3.317536e+06  6.772350e+00 2003-04-23
168  3.644168e+06  1.814627e+06 2003-04-27
169  3.479205e+06  3.122035e+01 2003-04-28
170  3.436455e+06  3.008955e+06 2003-05-09
171  3.436455e+06  3.008955e+06 2003-05-18
172  3.162914e+06  4.410350e+00 2003-05-20
173  3.162914e+06  4.410350e+00 2003-05-27
174  3.162914e+06  4.410350e+00 2003-05-28
175  3.162914e+06  1.099350e+00 2003-06-10
176  3.162914e+06  1.099350e+00 2003-06-11
177  3.335414e+06  6.000011e+05 2003-06-15
178  3.335414e+06  6.000011e+05 2003-06-16
179  3.528339e+06  3.528336e+06 2003-06-30
180  3.207583e+06  2.009935e+01 2003-07-01
181  3.207583e+06  2.009935e+01 2003-07-06
182  3.207583e+06  2.324935e+01 2003-07-15
183  3.207583e+06  2.324935e+01 2003-07-20
184  3.207581e+06  1.865350e+00 2003-07-22
185  3.608526e+06  3.608507e+06 2003-08-04
186  3.280483e+06  2.781535e+01 2003-08-11
187  3.280481e+06  9.390350e+00 2003-08-18
188  3.280492e+06  3.939035e+01 2003-08-25
189  3.280489e+06  1.180235e+01 2003-09-05
190  3.274239e+06  3.211739e+06 2003-09-15
191  3.274239e+06  3.211739e+06 2003-09-21
192  3.274239e+06  3.211739e+06 2003-09-30
193  3.140277e+06  1.738152e+06 2003-10-03

[194 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
165  3.062991e+06  2.103350e+00 2003-04-14
166  3.500491e+06  2.012502e+06 2003-04-20
167  3.317536e+06  6.772350e+00 2003-04-23
168  3.644168e+06  1.814627e+06 2003-04-27
169  3.479205e+06  3.122035e+01 2003-04-28
170  3.436455e+06  3.008955e+06 2003-05-09
171  3.436455e+06  3.008955e+06 2003-05-18
172  3.162914e+06  4.410350e+00 2003-05-20
173  3.162914e+06  4.410350e+00 2003-05-27
174  3.162914e+06  4.410350e+00 2003-05-28
175  3.162914e+06  1.099350e+00 2003-06-10
176  3.162914e+06  1.099350e+00 2003-06-11
177  3.335414e+06  6.000011e+05 2003-06-15
178  3.335414e+06  6.000011e+05 2003-06-16
179  3.528339e+06  3.528336e+06 2003-06-30
180  3.207583e+06  2.009935e+01 2003-07-01
181  3.207583e+06  2.009935e+01 2003-07-06
182  3.207583e+06  2.324935e+01 2003-07-15
183  3.207583e+06  2.324935e+01 2003-07-20
184  3.207581e+06  1.865350e+00 2003-07-22
185  3.608526e+06  3.608507e+06 2003-08-04
186  3.280483e+06  2.781535e+01 2003-08-11
187  3.280481e+06  9.390350e+00 2003-08-18
188  3.280492e+06  3.939035e+01 2003-08-25
189  3.280489e+06  1.180235e+01 2003-09-05
190  3.274239e+06  3.211739e+06 2003-09-15
191  3.274239e+06  3.211739e+06 2003-09-21
192  3.274239e+06  3.211739e+06 2003-09-30
193  3.140277e+06  1.738152e+06 2003-10-03
194  3.042652e+06  6.642766e+05 2003-10-10

[195 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
168  3.644168e+06  1.814627e+06 2003-04-27
169  3.479205e+06  3.122035e+01 2003-04-28
170  3.436455e+06  3.008955e+06 2003-05-09
171  3.436455e+06  3.008955e+06 2003-05-18
172  3.162914e+06  4.410350e+00 2003-05-20
173  3.162914e+06  4.410350e+00 2003-05-27
174  3.162914e+06  4.410350e+00 2003-05-28
175  3.162914e+06  1.099350e+00 2003-06-10
176  3.162914e+06  1.099350e+00 2003-06-11
177  3.335414e+06  6.000011e+05 2003-06-15
178  3.335414e+06  6.000011e+05 2003-06-16
179  3.528339e+06  3.528336e+06 2003-06-30
180  3.207583e+06  2.009935e+01 2003-07-01
181  3.207583e+06  2.009935e+01 2003-07-06
182  3.207583e+06  2.324935e+01 2003-07-15
183  3.207583e+06  2.324935e+01 2003-07-20
184  3.207581e+06  1.865350e+00 2003-07-22
185  3.608526e+06  3.608507e+06 2003-08-04
186  3.280483e+06  2.781535e+01 2003-08-11
187  3.280481e+06  9.390350e+00 2003-08-18
188  3.280492e+06  3.939035e+01 2003-08-25
189  3.280489e+06  1.180235e+01 2003-09-05
190  3.274239e+06  3.211739e+06 2003-09-15
191  3.274239e+06  3.211739e+06 2003-09-21
192  3.274239e+06  3.211739e+06 2003-09-30
193  3.140277e+06  1.738152e+06 2003-10-03
194  3.042652e+06  6.642766e+05 2003-10-10
195  3.042652e+06  6.642766e+05 2003-10-16
196  3.105152e+06  7.892766e+05 2003-10-19
197  3.033401e+06  1.586005e+01 2003-10-30

[198 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
169  3.479205e+06  3.122035e+01 2003-04-28
170  3.436455e+06  3.008955e+06 2003-05-09
171  3.436455e+06  3.008955e+06 2003-05-18
172  3.162914e+06  4.410350e+00 2003-05-20
173  3.162914e+06  4.410350e+00 2003-05-27
174  3.162914e+06  4.410350e+00 2003-05-28
175  3.162914e+06  1.099350e+00 2003-06-10
176  3.162914e+06  1.099350e+00 2003-06-11
177  3.335414e+06  6.000011e+05 2003-06-15
178  3.335414e+06  6.000011e+05 2003-06-16
179  3.528339e+06  3.528336e+06 2003-06-30
180  3.207583e+06  2.009935e+01 2003-07-01
181  3.207583e+06  2.009935e+01 2003-07-06
182  3.207583e+06  2.324935e+01 2003-07-15
183  3.207583e+06  2.324935e+01 2003-07-20
184  3.207581e+06  1.865350e+00 2003-07-22
185  3.608526e+06  3.608507e+06 2003-08-04
186  3.280483e+06  2.781535e+01 2003-08-11
187  3.280481e+06  9.390350e+00 2003-08-18
188  3.280492e+06  3.939035e+01 2003-08-25
189  3.280489e+06  1.180235e+01 2003-09-05
190  3.274239e+06  3.211739e+06 2003-09-15
191  3.274239e+06  3.211739e+06 2003-09-21
192  3.274239e+06  3.211739e+06 2003-09-30
193  3.140277e+06  1.738152e+06 2003-10-03
194  3.042652e+06  6.642766e+05 2003-10-10
195  3.042652e+06  6.642766e+05 2003-10-16
196  3.105152e+06  7.892766e+05 2003-10-19
197  3.033401e+06  1.586005e+01 2003-10-30
198  3.033401e+06  1.586005e+01 2003-11-03

[199 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
170  3.436455e+06  3.008955e+06 2003-05-09
171  3.436455e+06  3.008955e+06 2003-05-18
172  3.162914e+06  4.410350e+00 2003-05-20
173  3.162914e+06  4.410350e+00 2003-05-27
174  3.162914e+06  4.410350e+00 2003-05-28
175  3.162914e+06  1.099350e+00 2003-06-10
176  3.162914e+06  1.099350e+00 2003-06-11
177  3.335414e+06  6.000011e+05 2003-06-15
178  3.335414e+06  6.000011e+05 2003-06-16
179  3.528339e+06  3.528336e+06 2003-06-30
180  3.207583e+06  2.009935e+01 2003-07-01
181  3.207583e+06  2.009935e+01 2003-07-06
182  3.207583e+06  2.324935e+01 2003-07-15
183  3.207583e+06  2.324935e+01 2003-07-20
184  3.207581e+06  1.865350e+00 2003-07-22
185  3.608526e+06  3.608507e+06 2003-08-04
186  3.280483e+06  2.781535e+01 2003-08-11
187  3.280481e+06  9.390350e+00 2003-08-18
188  3.280492e+06  3.939035e+01 2003-08-25
189  3.280489e+06  1.180235e+01 2003-09-05
190  3.274239e+06  3.211739e+06 2003-09-15
191  3.274239e+06  3.211739e+06 2003-09-21
192  3.274239e+06  3.211739e+06 2003-09-30
193  3.140277e+06  1.738152e+06 2003-10-03
194  3.042652e+06  6.642766e+05 2003-10-10
195  3.042652e+06  6.642766e+05 2003-10-16
196  3.105152e+06  7.892766e+05 2003-10-19
197  3.033401e+06  1.586005e+01 2003-10-30
198  3.033401e+06  1.586005e+01 2003-11-03
199  3.033399e+06  2.165050e+00 2003-11-10

[200 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10

[234 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
206  3.186587e+06  4.912753e+05 2003-12-10
207  3.141927e+06  2.605000e-02 2003-12-16
208  3.373017e+06  1.593307e+06 2003-12-25
209  3.373017e+06  1.593307e+06 2004-01-12
210  3.380674e+06  1.921558e+06 2004-01-20
211  3.435193e+06  2.988565e+06 2004-01-21
212  3.455494e+06  3.455494e+06 2004-01-26
213  3.141359e+06  5.516050e+00 2004-01-28
214  3.118859e+06  2.893859e+06 2004-02-06
215  2.855782e+06  1.489605e+01 2004-02-27
216  2.855781e+06  4.605000e-02 2004-03-04
217  2.855781e+06  4.605000e-02 2004-03-07
218  2.855781e+06  4.605000e-02 2004-03-08
219  2.855781e+06  4.605000e-02 2004-03-16
220  2.855781e+06  4.605000e-02 2004-03-17
221  2.893281e+06  2.625000e+05 2004-03-22
222  3.013749e+06  3.013736e+06 2004-03-31
223  2.928124e+06  2.071861e+06 2004-04-06
224  2.928126e+06  2.071876e+06 2004-04-07
225  2.928126e+06  2.071876e+06 2004-04-08
226  2.928126e+06  2.071876e+06 2004-04-16
227  2.928126e+06  2.071876e+06 2004-04-20
228  2.928126e+06  2.071876e+06 2004-05-02
229  2.946876e+06  2.946876e+06 2004-05-20
230  2.946876e+06  2.946876e+06 2004-05-27
231  2.946876e+06  2.946876e+06 2004-06-07
232  2.678979e+06  8.282050e+00 2004-06-15
233  2.678979e+06  8.282050e+00 2004-06-22
234  2.678979e+06  8.282050e+00 2004-07-15
235  2.678979e+06  8.282050e+00 2004-07-27

[236 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
208  3.373017e+06  1.593307e+06 2003-12-25
209  3.373017e+06  1.593307e+06 2004-01-12
210  3.380674e+06  1.921558e+06 2004-01-20
211  3.435193e+06  2.988565e+06 2004-01-21
212  3.455494e+06  3.455494e+06 2004-01-26
213  3.141359e+06  5.516050e+00 2004-01-28
214  3.118859e+06  2.893859e+06 2004-02-06
215  2.855782e+06  1.489605e+01 2004-02-27
216  2.855781e+06  4.605000e-02 2004-03-04
217  2.855781e+06  4.605000e-02 2004-03-07
218  2.855781e+06  4.605000e-02 2004-03-08
219  2.855781e+06  4.605000e-02 2004-03-16
220  2.855781e+06  4.605000e-02 2004-03-17
221  2.893281e+06  2.625000e+05 2004-03-22
222  3.013749e+06  3.013736e+06 2004-03-31
223  2.928124e+06  2.071861e+06 2004-04-06
224  2.928126e+06  2.071876e+06 2004-04-07
225  2.928126e+06  2.071876e+06 2004-04-08
226  2.928126e+06  2.071876e+06 2004-04-16
227  2.928126e+06  2.071876e+06 2004-04-20
228  2.928126e+06  2.071876e+06 2004-05-02
229  2.946876e+06  2.946876e+06 2004-05-20
230  2.946876e+06  2.946876e+06 2004-05-27
231  2.946876e+06  2.946876e+06 2004-06-07
232  2.678979e+06  8.282050e+00 2004-06-15
233  2.678979e+06  8.282050e+00 2004-06-22
234  2.678979e+06  8.282050e+00 2004-07-15
235  2.678979e+06  8.282050e+00 2004-07-27
236  2.967848e+06  2.967848e+06 2004-08-05
237  2.698045e+06  9.782050e+00 2004-08-11

[238 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
209  3.373017e+06  1.593307e+06 2004-01-12
210  3.380674e+06  1.921558e+06 2004-01-20
211  3.435193e+06  2.988565e+06 2004-01-21
212  3.455494e+06  3.455494e+06 2004-01-26
213  3.141359e+06  5.516050e+00 2004-01-28
214  3.118859e+06  2.893859e+06 2004-02-06
215  2.855782e+06  1.489605e+01 2004-02-27
216  2.855781e+06  4.605000e-02 2004-03-04
217  2.855781e+06  4.605000e-02 2004-03-07
218  2.855781e+06  4.605000e-02 2004-03-08
219  2.855781e+06  4.605000e-02 2004-03-16
220  2.855781e+06  4.605000e-02 2004-03-17
221  2.893281e+06  2.625000e+05 2004-03-22
222  3.013749e+06  3.013736e+06 2004-03-31
223  2.928124e+06  2.071861e+06 2004-04-06
224  2.928126e+06  2.071876e+06 2004-04-07
225  2.928126e+06  2.071876e+06 2004-04-08
226  2.928126e+06  2.071876e+06 2004-04-16
227  2.928126e+06  2.071876e+06 2004-04-20
228  2.928126e+06  2.071876e+06 2004-05-02
229  2.946876e+06  2.946876e+06 2004-05-20
230  2.946876e+06  2.946876e+06 2004-05-27
231  2.946876e+06  2.946876e+06 2004-06-07
232  2.678979e+06  8.282050e+00 2004-06-15
233  2.678979e+06  8.282050e+00 2004-06-22
234  2.678979e+06  8.282050e+00 2004-07-15
235  2.678979e+06  8.282050e+00 2004-07-27
236  2.967848e+06  2.967848e+06 2004-08-05
237  2.698045e+06  9.782050e+00 2004-08-11
238  2.698045e+06  9.782050e+00 2004-08-27

[239 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
211  3.435193e+06  2.988565e+06 2004-01-21
212  3.455494e+06  3.455494e+06 2004-01-26
213  3.141359e+06  5.516050e+00 2004-01-28
214  3.118859e+06  2.893859e+06 2004-02-06
215  2.855782e+06  1.489605e+01 2004-02-27
216  2.855781e+06  4.605000e-02 2004-03-04
217  2.855781e+06  4.605000e-02 2004-03-07
218  2.855781e+06  4.605000e-02 2004-03-08
219  2.855781e+06  4.605000e-02 2004-03-16
220  2.855781e+06  4.605000e-02 2004-03-17
221  2.893281e+06  2.625000e+05 2004-03-22
222  3.013749e+06  3.013736e+06 2004-03-31
223  2.928124e+06  2.071861e+06 2004-04-06
224  2.928126e+06  2.071876e+06 2004-04-07
225  2.928126e+06  2.071876e+06 2004-04-08
226  2.928126e+06  2.071876e+06 2004-04-16
227  2.928126e+06  2.071876e+06 2004-04-20
228  2.928126e+06  2.071876e+06 2004-05-02
229  2.946876e+06  2.946876e+06 2004-05-20
230  2.946876e+06  2.946876e+06 2004-05-27
231  2.946876e+06  2.946876e+06 2004-06-07
232  2.678979e+06  8.282050e+00 2004-06-15
233  2.678979e+06  8.282050e+00 2004-06-22
234  2.678979e+06  8.282050e+00 2004-07-15
235  2.678979e+06  8.282050e+00 2004-07-27
236  2.967848e+06  2.967848e+06 2004-08-05
237  2.698045e+06  9.782050e+00 2004-08-11
238  2.698045e+06  9.782050e+00 2004-08-27
239  2.698045e+06  9.782050e+00 2004-08-30
240  2.698045e+06  9.782050e+00 2004-09-03

[241 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
212  3.455494e+06  3.455494e+06 2004-01-26
213  3.141359e+06  5.516050e+00 2004-01-28
214  3.118859e+06  2.893859e+06 2004-02-06
215  2.855782e+06  1.489605e+01 2004-02-27
216  2.855781e+06  4.605000e-02 2004-03-04
217  2.855781e+06  4.605000e-02 2004-03-07
218  2.855781e+06  4.605000e-02 2004-03-08
219  2.855781e+06  4.605000e-02 2004-03-16
220  2.855781e+06  4.605000e-02 2004-03-17
221  2.893281e+06  2.625000e+05 2004-03-22
222  3.013749e+06  3.013736e+06 2004-03-31
223  2.928124e+06  2.071861e+06 2004-04-06
224  2.928126e+06  2.071876e+06 2004-04-07
225  2.928126e+06  2.071876e+06 2004-04-08
226  2.928126e+06  2.071876e+06 2004-04-16
227  2.928126e+06  2.071876e+06 2004-04-20
228  2.928126e+06  2.071876e+06 2004-05-02
229  2.946876e+06  2.946876e+06 2004-05-20
230  2.946876e+06  2.946876e+06 2004-05-27
231  2.946876e+06  2.946876e+06 2004-06-07
232  2.678979e+06  8.282050e+00 2004-06-15
233  2.678979e+06  8.282050e+00 2004-06-22
234  2.678979e+06  8.282050e+00 2004-07-15
235  2.678979e+06  8.282050e+00 2004-07-27
236  2.967848e+06  2.967848e+06 2004-08-05
237  2.698045e+06  9.782050e+00 2004-08-11
238  2.698045e+06  9.782050e+00 2004-08-27
239  2.698045e+06  9.782050e+00 2004-08-30
240  2.698045e+06  9.782050e+00 2004-09-03
241  2.698045e+06  9.782050e+00 2004-09-14

[242 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
214  3.118859e+06  2.893859e+06 2004-02-06
215  2.855782e+06  1.489605e+01 2004-02-27
216  2.855781e+06  4.605000e-02 2004-03-04
217  2.855781e+06  4.605000e-02 2004-03-07
218  2.855781e+06  4.605000e-02 2004-03-08
219  2.855781e+06  4.605000e-02 2004-03-16
220  2.855781e+06  4.605000e-02 2004-03-17
221  2.893281e+06  2.625000e+05 2004-03-22
222  3.013749e+06  3.013736e+06 2004-03-31
223  2.928124e+06  2.071861e+06 2004-04-06
224  2.928126e+06  2.071876e+06 2004-04-07
225  2.928126e+06  2.071876e+06 2004-04-08
226  2.928126e+06  2.071876e+06 2004-04-16
227  2.928126e+06  2.071876e+06 2004-04-20
228  2.928126e+06  2.071876e+06 2004-05-02
229  2.946876e+06  2.946876e+06 2004-05-20
230  2.946876e+06  2.946876e+06 2004-05-27
231  2.946876e+06  2.946876e+06 2004-06-07
232  2.678979e+06  8.282050e+00 2004-06-15
233  2.678979e+06  8.282050e+00 2004-06-22
234  2.678979e+06  8.282050e+00 2004-07-15
235  2.678979e+06  8.282050e+00 2004-07-27
236  2.967848e+06  2.967848e+06 2004-08-05
237  2.698045e+06  9.782050e+00 2004-08-11
238  2.698045e+06  9.782050e+00 2004-08-27
239  2.698045e+06  9.782050e+00 2004-08-30
240  2.698045e+06  9.782050e+00 2004-09-03
241  2.698045e+06  9.782050e+00 2004-09-14
242  3.252960e+06  3.252960e+06 2004-09-15
243  3.145147e+06  2.067022e+06 2004-09-28

[244 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
216  2.855781e+06  4.605000e-02 2004-03-04
217  2.855781e+06  4.605000e-02 2004-03-07
218  2.855781e+06  4.605000e-02 2004-03-08
219  2.855781e+06  4.605000e-02 2004-03-16
220  2.855781e+06  4.605000e-02 2004-03-17
221  2.893281e+06  2.625000e+05 2004-03-22
222  3.013749e+06  3.013736e+06 2004-03-31
223  2.928124e+06  2.071861e+06 2004-04-06
224  2.928126e+06  2.071876e+06 2004-04-07
225  2.928126e+06  2.071876e+06 2004-04-08
226  2.928126e+06  2.071876e+06 2004-04-16
227  2.928126e+06  2.071876e+06 2004-04-20
228  2.928126e+06  2.071876e+06 2004-05-02
229  2.946876e+06  2.946876e+06 2004-05-20
230  2.946876e+06  2.946876e+06 2004-05-27
231  2.946876e+06  2.946876e+06 2004-06-07
232  2.678979e+06  8.282050e+00 2004-06-15
233  2.678979e+06  8.282050e+00 2004-06-22
234  2.678979e+06  8.282050e+00 2004-07-15
235  2.678979e+06  8.282050e+00 2004-07-27
236  2.967848e+06  2.967848e+06 2004-08-05
237  2.698045e+06  9.782050e+00 2004-08-11
238  2.698045e+06  9.782050e+00 2004-08-27
239  2.698045e+06  9.782050e+00 2004-08-30
240  2.698045e+06  9.782050e+00 2004-09-03
241  2.698045e+06  9.782050e+00 2004-09-14
242  3.252960e+06  3.252960e+06 2004-09-15
243  3.145147e+06  2.067022e+06 2004-09-28
244  3.145147e+06  2.067022e+06 2004-10-04
245  2.957237e+06  1.430605e+01 2004-10-07

[246 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01

[256 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
230  2.946876e+06  2.946876e+06 2004-05-27
231  2.946876e+06  2.946876e+06 2004-06-07
232  2.678979e+06  8.282050e+00 2004-06-15
233  2.678979e+06  8.282050e+00 2004-06-22
234  2.678979e+06  8.282050e+00 2004-07-15
235  2.678979e+06  8.282050e+00 2004-07-27
236  2.967848e+06  2.967848e+06 2004-08-05
237  2.698045e+06  9.782050e+00 2004-08-11
238  2.698045e+06  9.782050e+00 2004-08-27
239  2.698045e+06  9.782050e+00 2004-08-30
240  2.698045e+06  9.782050e+00 2004-09-03
241  2.698045e+06  9.782050e+00 2004-09-14
242  3.252960e+06  3.252960e+06 2004-09-15
243  3.145147e+06  2.067022e+06 2004-09-28
244  3.145147e+06  2.067022e+06 2004-10-04
245  2.957237e+06  1.430605e+01 2004-10-07
246  2.957237e+06  1.430605e+01 2004-10-13
247  2.957237e+06  1.430605e+01 2004-10-21
248  2.957237e+06  1.430605e+01 2004-10-27
249  2.957237e+06  1.430605e+01 2004-11-01
250  2.918885e+06  8.946050e+00 2004-11-04
251  2.864779e+06  4.733050e+00 2004-11-10
252  2.864779e+06  4.733050e+00 2004-11-12
253  2.864779e+06  4.733050e+00 2004-11-15
254  2.864779e+06  4.733050e+00 2004-11-16
255  2.864779e+06  4.733050e+00 2004-11-23
256  2.864779e+06  4.733050e+00 2004-11-30
257  2.917440e+06  1.092443e+06 2004-12-09
258  3.245831e+06  3.245831e+06 2004-12-16
259  3.168311e+06  2.393111e+06 2004-12-17

[260 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
234  2.678979e+06  8.282050e+00 2004-07-15
235  2.678979e+06  8.282050e+00 2004-07-27
236  2.967848e+06  2.967848e+06 2004-08-05
237  2.698045e+06  9.782050e+00 2004-08-11
238  2.698045e+06  9.782050e+00 2004-08-27
239  2.698045e+06  9.782050e+00 2004-08-30
240  2.698045e+06  9.782050e+00 2004-09-03
241  2.698045e+06  9.782050e+00 2004-09-14
242  3.252960e+06  3.252960e+06 2004-09-15
243  3.145147e+06  2.067022e+06 2004-09-28
244  3.145147e+06  2.067022e+06 2004-10-04
245  2.957237e+06  1.430605e+01 2004-10-07
246  2.957237e+06  1.430605e+01 2004-10-13
247  2.957237e+06  1.430605e+01 2004-10-21
248  2.957237e+06  1.430605e+01 2004-10-27
249  2.957237e+06  1.430605e+01 2004-11-01
250  2.918885e+06  8.946050e+00 2004-11-04
251  2.864779e+06  4.733050e+00 2004-11-10
252  2.864779e+06  4.733050e+00 2004-11-12
253  2.864779e+06  4.733050e+00 2004-11-15
254  2.864779e+06  4.733050e+00 2004-11-16
255  2.864779e+06  4.733050e+00 2004-11-23
256  2.864779e+06  4.733050e+00 2004-11-30
257  2.917440e+06  1.092443e+06 2004-12-09
258  3.245831e+06  3.245831e+06 2004-12-16
259  3.168311e+06  2.393111e+06 2004-12-17
260  3.168311e+06  2.393111e+06 2004-12-19
261  3.168311e+06  2.393111e+06 2004-12-21
262  3.168311e+06  2.393111e+06 2004-12-26
263  2.950756e+06  4.330500e-01 2004-12-27

[264 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
238  2.698045e+06  9.782050e+00 2004-08-27
239  2.698045e+06  9.782050e+00 2004-08-30
240  2.698045e+06  9.782050e+00 2004-09-03
241  2.698045e+06  9.782050e+00 2004-09-14
242  3.252960e+06  3.252960e+06 2004-09-15
243  3.145147e+06  2.067022e+06 2004-09-28
244  3.145147e+06  2.067022e+06 2004-10-04
245  2.957237e+06  1.430605e+01 2004-10-07
246  2.957237e+06  1.430605e+01 2004-10-13
247  2.957237e+06  1.430605e+01 2004-10-21
248  2.957237e+06  1.430605e+01 2004-10-27
249  2.957237e+06  1.430605e+01 2004-11-01
250  2.918885e+06  8.946050e+00 2004-11-04
251  2.864779e+06  4.733050e+00 2004-11-10
252  2.864779e+06  4.733050e+00 2004-11-12
253  2.864779e+06  4.733050e+00 2004-11-15
254  2.864779e+06  4.733050e+00 2004-11-16
255  2.864779e+06  4.733050e+00 2004-11-23
256  2.864779e+06  4.733050e+00 2004-11-30
257  2.917440e+06  1.092443e+06 2004-12-09
258  3.245831e+06  3.245831e+06 2004-12-16
259  3.168311e+06  2.393111e+06 2004-12-17
260  3.168311e+06  2.393111e+06 2004-12-19
261  3.168311e+06  2.393111e+06 2004-12-21
262  3.168311e+06  2.393111e+06 2004-12-26
263  2.950756e+06  4.330500e-01 2004-12-27
264  2.950756e+06  4.330500e-01 2005-01-02
265  3.188056e+06  1.012500e+06 2005-01-24
266  3.492775e+06  3.492775e+06 2005-02-01
267  3.175252e+06  1.555805e+01 2005-02-03

[268 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
239  2.698045e+06  9.782050e+00 2004-08-30
240  2.698045e+06  9.782050e+00 2004-09-03
241  2.698045e+06  9.782050e+00 2004-09-14
242  3.252960e+06  3.252960e+06 2004-09-15
243  3.145147e+06  2.067022e+06 2004-09-28
244  3.145147e+06  2.067022e+06 2004-10-04
245  2.957237e+06  1.430605e+01 2004-10-07
246  2.957237e+06  1.430605e+01 2004-10-13
247  2.957237e+06  1.430605e+01 2004-10-21
248  2.957237e+06  1.430605e+01 2004-10-27
249  2.957237e+06  1.430605e+01 2004-11-01
250  2.918885e+06  8.946050e+00 2004-11-04
251  2.864779e+06  4.733050e+00 2004-11-10
252  2.864779e+06  4.733050e+00 2004-11-12
253  2.864779e+06  4.733050e+00 2004-11-15
254  2.864779e+06  4.733050e+00 2004-11-16
255  2.864779e+06  4.733050e+00 2004-11-23
256  2.864779e+06  4.733050e+00 2004-11-30
257  2.917440e+06  1.092443e+06 2004-12-09
258  3.245831e+06  3.245831e+06 2004-12-16
259  3.168311e+06  2.393111e+06 2004-12-17
260  3.168311e+06  2.393111e+06 2004-12-19
261  3.168311e+06  2.393111e+06 2004-12-21
262  3.168311e+06  2.393111e+06 2004-12-26
263  2.950756e+06  4.330500e-01 2004-12-27
264  2.950756e+06  4.330500e-01 2005-01-02
265  3.188056e+06  1.012500e+06 2005-01-24
266  3.492775e+06  3.492775e+06 2005-02-01
267  3.175252e+06  1.555805e+01 2005-02-03
268  3.175252e+06  1.555805e+01 2005-02-11

[269 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
244  3.145147e+06  2.067022e+06 2004-10-04
245  2.957237e+06  1.430605e+01 2004-10-07
246  2.957237e+06  1.430605e+01 2004-10-13
247  2.957237e+06  1.430605e+01 2004-10-21
248  2.957237e+06  1.430605e+01 2004-10-27
249  2.957237e+06  1.430605e+01 2004-11-01
250  2.918885e+06  8.946050e+00 2004-11-04
251  2.864779e+06  4.733050e+00 2004-11-10
252  2.864779e+06  4.733050e+00 2004-11-12
253  2.864779e+06  4.733050e+00 2004-11-15
254  2.864779e+06  4.733050e+00 2004-11-16
255  2.864779e+06  4.733050e+00 2004-11-23
256  2.864779e+06  4.733050e+00 2004-11-30
257  2.917440e+06  1.092443e+06 2004-12-09
258  3.245831e+06  3.245831e+06 2004-12-16
259  3.168311e+06  2.393111e+06 2004-12-17
260  3.168311e+06  2.393111e+06 2004-12-19
261  3.168311e+06  2.393111e+06 2004-12-21
262  3.168311e+06  2.393111e+06 2004-12-26
263  2.950756e+06  4.330500e-01 2004-12-27
264  2.950756e+06  4.330500e-01 2005-01-02
265  3.188056e+06  1.012500e+06 2005-01-24
266  3.492775e+06  3.492775e+06 2005-02-01
267  3.175252e+06  1.555805e+01 2005-02-03
268  3.175252e+06  1.555805e+01 2005-02-11
269  3.345078e+06  3.345078e+06 2005-03-10
270  3.345078e+06  3.345078e+06 2005-03-17
271  3.345078e+06  3.345078e+06 2005-03-30
272  3.345078e+06  3.345078e+06 2005-04-05
273  3.174376e+06  1.467352e+06 2005-04-12

[274 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
245  2.957237e+06  1.430605e+01 2004-10-07
246  2.957237e+06  1.430605e+01 2004-10-13
247  2.957237e+06  1.430605e+01 2004-10-21
248  2.957237e+06  1.430605e+01 2004-10-27
249  2.957237e+06  1.430605e+01 2004-11-01
250  2.918885e+06  8.946050e+00 2004-11-04
251  2.864779e+06  4.733050e+00 2004-11-10
252  2.864779e+06  4.733050e+00 2004-11-12
253  2.864779e+06  4.733050e+00 2004-11-15
254  2.864779e+06  4.733050e+00 2004-11-16
255  2.864779e+06  4.733050e+00 2004-11-23
256  2.864779e+06  4.733050e+00 2004-11-30
257  2.917440e+06  1.092443e+06 2004-12-09
258  3.245831e+06  3.245831e+06 2004-12-16
259  3.168311e+06  2.393111e+06 2004-12-17
260  3.168311e+06  2.393111e+06 2004-12-19
261  3.168311e+06  2.393111e+06 2004-12-21
262  3.168311e+06  2.393111e+06 2004-12-26
263  2.950756e+06  4.330500e-01 2004-12-27
264  2.950756e+06  4.330500e-01 2005-01-02
265  3.188056e+06  1.012500e+06 2005-01-24
266  3.492775e+06  3.492775e+06 2005-02-01
267  3.175252e+06  1.555805e+01 2005-02-03
268  3.175252e+06  1.555805e+01 2005-02-11
269  3.345078e+06  3.345078e+06 2005-03-10
270  3.345078e+06  3.345078e+06 2005-03-17
271  3.345078e+06  3.345078e+06 2005-03-30
272  3.345078e+06  3.345078e+06 2005-04-05
273  3.174376e+06  1.467352e+06 2005-04-12
274  3.040986e+06  6.054705e+01 2005-04-18

[275 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
246  2.957237e+06  1.430605e+01 2004-10-13
247  2.957237e+06  1.430605e+01 2004-10-21
248  2.957237e+06  1.430605e+01 2004-10-27
249  2.957237e+06  1.430605e+01 2004-11-01
250  2.918885e+06  8.946050e+00 2004-11-04
251  2.864779e+06  4.733050e+00 2004-11-10
252  2.864779e+06  4.733050e+00 2004-11-12
253  2.864779e+06  4.733050e+00 2004-11-15
254  2.864779e+06  4.733050e+00 2004-11-16
255  2.864779e+06  4.733050e+00 2004-11-23
256  2.864779e+06  4.733050e+00 2004-11-30
257  2.917440e+06  1.092443e+06 2004-12-09
258  3.245831e+06  3.245831e+06 2004-12-16
259  3.168311e+06  2.393111e+06 2004-12-17
260  3.168311e+06  2.393111e+06 2004-12-19
261  3.168311e+06  2.393111e+06 2004-12-21
262  3.168311e+06  2.393111e+06 2004-12-26
263  2.950756e+06  4.330500e-01 2004-12-27
264  2.950756e+06  4.330500e-01 2005-01-02
265  3.188056e+06  1.012500e+06 2005-01-24
266  3.492775e+06  3.492775e+06 2005-02-01
267  3.175252e+06  1.555805e+01 2005-02-03
268  3.175252e+06  1.555805e+01 2005-02-11
269  3.345078e+06  3.345078e+06 2005-03-10
270  3.345078e+06  3.345078e+06 2005-03-17
271  3.345078e+06  3.345078e+06 2005-03-30
272  3.345078e+06  3.345078e+06 2005-04-05
273  3.174376e+06  1.467352e+06 2005-04-12
274  3.040986e+06  6.054705e+01 2005-04-18
275  3.040980e+06  4.051050e+00 2005-04-20

[276 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01

            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
350  2.636561e+06  6.505000e-02 2006-07-10
351  2.636561e+06  6.505000e-02 2006-07-12
352  2.636561e+06  6.505000e-02 2006-07-21
353  2.636561e+06  6.505000e-02 2006-08-03
354  2.636561e+06  6.505000e-02 2006-08-07
355  2.776996e+06  2.776970e+06 2006-08-08
356  2.524547e+06  2.391505e+01 2006-08-11
357  2.524547e+06  5.091505e+01 2006-08-13
358  2.524543e+06  1.723050e+00 2006-08-14
359  2.524543e+06  1.723050e+00 2006-08-15
360  2.524543e+06  1.723050e+00 2006-08-16
361  2.524543e+06  1.723050e+00 2006-08-23
362  2.524543e+06  1.723050e+00 2006-08-25
363  2.524543e+06  1.723050e+00 2006-08-27
364  2.524543e+06  1.723050e+00 2006-08-28
365  2.524543e+06  1.723050e+00 2006-08-29
366  2.524543e+06  1.723050e+00 2006-08-31
367  2.524543e+06  1.723050e+00 2006-09-08
368  2.524543e+06  1.723050e+00 2006-09-11
369  2.644971e+06  2.644927e+06 2006-09-14
370  2.644977e+06  2.644977e+06 2006-09-18
371  2.644977e+06  2.644977e+06 2006-09-19
372  2.644977e+06  2.644977e+06 2006-09-28
373  2.644977e+06  2.644977e+06 2006-10-02
374  2.644977e+06  2.644977e+06 2006-10-05
375  2.644977e+06  2.644977e+06 2006-10-11
376  2.644977e+06  2.644977e+06 2006-10-12
377  2.644977e+06  2.644977e+06 2006-10-18
378  2.404525e+06  3.627050e+00 2006-10-20
379  2.404525e+06  3.627050e+00 2006-11-06

[380 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
352  2.636561e+06  6.505000e-02 2006-07-21
353  2.636561e+06  6.505000e-02 2006-08-03
354  2.636561e+06  6.505000e-02 2006-08-07
355  2.776996e+06  2.776970e+06 2006-08-08
356  2.524547e+06  2.391505e+01 2006-08-11
357  2.524547e+06  5.091505e+01 2006-08-13
358  2.524543e+06  1.723050e+00 2006-08-14
359  2.524543e+06  1.723050e+00 2006-08-15
360  2.524543e+06  1.723050e+00 2006-08-16
361  2.524543e+06  1.723050e+00 2006-08-23
362  2.524543e+06  1.723050e+00 2006-08-25
363  2.524543e+06  1.723050e+00 2006-08-27
364  2.524543e+06  1.723050e+00 2006-08-28
365  2.524543e+06  1.723050e+00 2006-08-29
366  2.524543e+06  1.723050e+00 2006-08-31
367  2.524543e+06  1.723050e+00 2006-09-08
368  2.524543e+06  1.723050e+00 2006-09-11
369  2.644971e+06  2.644927e+06 2006-09-14
370  2.644977e+06  2.644977e+06 2006-09-18
371  2.644977e+06  2.644977e+06 2006-09-19
372  2.644977e+06  2.644977e+06 2006-09-28
373  2.644977e+06  2.644977e+06 2006-10-02
374  2.644977e+06  2.644977e+06 2006-10-05
375  2.644977e+06  2.644977e+06 2006-10-11
376  2.644977e+06  2.644977e+06 2006-10-12
377  2.644977e+06  2.644977e+06 2006-10-18
378  2.404525e+06  3.627050e+00 2006-10-20
379  2.404525e+06  3.627050e+00 2006-11-06
380  2.404525e+06  3.627050e+00 2006-11-16
381  2.404525e+06  3.627050e+00 2006-11-20

[382 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
355  2.776996e+06  2.776970e+06 2006-08-08
356  2.524547e+06  2.391505e+01 2006-08-11
357  2.524547e+06  5.091505e+01 2006-08-13
358  2.524543e+06  1.723050e+00 2006-08-14
359  2.524543e+06  1.723050e+00 2006-08-15
360  2.524543e+06  1.723050e+00 2006-08-16
361  2.524543e+06  1.723050e+00 2006-08-23
362  2.524543e+06  1.723050e+00 2006-08-25
363  2.524543e+06  1.723050e+00 2006-08-27
364  2.524543e+06  1.723050e+00 2006-08-28
365  2.524543e+06  1.723050e+00 2006-08-29
366  2.524543e+06  1.723050e+00 2006-08-31
367  2.524543e+06  1.723050e+00 2006-09-08
368  2.524543e+06  1.723050e+00 2006-09-11
369  2.644971e+06  2.644927e+06 2006-09-14
370  2.644977e+06  2.644977e+06 2006-09-18
371  2.644977e+06  2.644977e+06 2006-09-19
372  2.644977e+06  2.644977e+06 2006-09-28
373  2.644977e+06  2.644977e+06 2006-10-02
374  2.644977e+06  2.644977e+06 2006-10-05
375  2.644977e+06  2.644977e+06 2006-10-11
376  2.644977e+06  2.644977e+06 2006-10-12
377  2.644977e+06  2.644977e+06 2006-10-18
378  2.404525e+06  3.627050e+00 2006-10-20
379  2.404525e+06  3.627050e+00 2006-11-06
380  2.404525e+06  3.627050e+00 2006-11-16
381  2.404525e+06  3.627050e+00 2006-11-20
382  2.404525e+06  3.627050e+00 2006-11-21
383  2.404525e+06  3.627050e+00 2006-11-22
384  2.404525e+06  3.627050e+00 2006-12-04

[385 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
359  2.524543e+06  1.723050e+00 2006-08-15
360  2.524543e+06  1.723050e+00 2006-08-16
361  2.524543e+06  1.723050e+00 2006-08-23
362  2.524543e+06  1.723050e+00 2006-08-25
363  2.524543e+06  1.723050e+00 2006-08-27
364  2.524543e+06  1.723050e+00 2006-08-28
365  2.524543e+06  1.723050e+00 2006-08-29
366  2.524543e+06  1.723050e+00 2006-08-31
367  2.524543e+06  1.723050e+00 2006-09-08
368  2.524543e+06  1.723050e+00 2006-09-11
369  2.644971e+06  2.644927e+06 2006-09-14
370  2.644977e+06  2.644977e+06 2006-09-18
371  2.644977e+06  2.644977e+06 2006-09-19
372  2.644977e+06  2.644977e+06 2006-09-28
373  2.644977e+06  2.644977e+06 2006-10-02
374  2.644977e+06  2.644977e+06 2006-10-05
375  2.644977e+06  2.644977e+06 2006-10-11
376  2.644977e+06  2.644977e+06 2006-10-12
377  2.644977e+06  2.644977e+06 2006-10-18
378  2.404525e+06  3.627050e+00 2006-10-20
379  2.404525e+06  3.627050e+00 2006-11-06
380  2.404525e+06  3.627050e+00 2006-11-16
381  2.404525e+06  3.627050e+00 2006-11-20
382  2.404525e+06  3.627050e+00 2006-11-21
383  2.404525e+06  3.627050e+00 2006-11-22
384  2.404525e+06  3.627050e+00 2006-12-04
385  2.530535e+06  2.530535e+06 2006-12-10
386  2.530535e+06  2.530535e+06 2006-12-11
387  2.530535e+06  2.530535e+06 2006-12-12
388  2.300487e+06  1.748050e+00 2006-12-13

[389 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
360  2.524543e+06  1.723050e+00 2006-08-16
361  2.524543e+06  1.723050e+00 2006-08-23
362  2.524543e+06  1.723050e+00 2006-08-25
363  2.524543e+06  1.723050e+00 2006-08-27
364  2.524543e+06  1.723050e+00 2006-08-28
365  2.524543e+06  1.723050e+00 2006-08-29
366  2.524543e+06  1.723050e+00 2006-08-31
367  2.524543e+06  1.723050e+00 2006-09-08
368  2.524543e+06  1.723050e+00 2006-09-11
369  2.644971e+06  2.644927e+06 2006-09-14
370  2.644977e+06  2.644977e+06 2006-09-18
371  2.644977e+06  2.644977e+06 2006-09-19
372  2.644977e+06  2.644977e+06 2006-09-28
373  2.644977e+06  2.644977e+06 2006-10-02
374  2.644977e+06  2.644977e+06 2006-10-05
375  2.644977e+06  2.644977e+06 2006-10-11
376  2.644977e+06  2.644977e+06 2006-10-12
377  2.644977e+06  2.644977e+06 2006-10-18
378  2.404525e+06  3.627050e+00 2006-10-20
379  2.404525e+06  3.627050e+00 2006-11-06
380  2.404525e+06  3.627050e+00 2006-11-16
381  2.404525e+06  3.627050e+00 2006-11-20
382  2.404525e+06  3.627050e+00 2006-11-21
383  2.404525e+06  3.627050e+00 2006-11-22
384  2.404525e+06  3.627050e+00 2006-12-04
385  2.530535e+06  2.530535e+06 2006-12-10
386  2.530535e+06  2.530535e+06 2006-12-11
387  2.530535e+06  2.530535e+06 2006-12-12
388  2.300487e+06  1.748050e+00 2006-12-13
389  2.300487e+06  1.748050e+00 2006-12-18

[390 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
364  2.524543e+06  1.723050e+00 2006-08-28
365  2.524543e+06  1.723050e+00 2006-08-29
366  2.524543e+06  1.723050e+00 2006-08-31
367  2.524543e+06  1.723050e+00 2006-09-08
368  2.524543e+06  1.723050e+00 2006-09-11
369  2.644971e+06  2.644927e+06 2006-09-14
370  2.644977e+06  2.644977e+06 2006-09-18
371  2.644977e+06  2.644977e+06 2006-09-19
372  2.644977e+06  2.644977e+06 2006-09-28
373  2.644977e+06  2.644977e+06 2006-10-02
374  2.644977e+06  2.644977e+06 2006-10-05
375  2.644977e+06  2.644977e+06 2006-10-11
376  2.644977e+06  2.644977e+06 2006-10-12
377  2.644977e+06  2.644977e+06 2006-10-18
378  2.404525e+06  3.627050e+00 2006-10-20
379  2.404525e+06  3.627050e+00 2006-11-06
380  2.404525e+06  3.627050e+00 2006-11-16
381  2.404525e+06  3.627050e+00 2006-11-20
382  2.404525e+06  3.627050e+00 2006-11-21
383  2.404525e+06  3.627050e+00 2006-11-22
384  2.404525e+06  3.627050e+00 2006-12-04
385  2.530535e+06  2.530535e+06 2006-12-10
386  2.530535e+06  2.530535e+06 2006-12-11
387  2.530535e+06  2.530535e+06 2006-12-12
388  2.300487e+06  1.748050e+00 2006-12-13
389  2.300487e+06  1.748050e+00 2006-12-18
390  2.300487e+06  1.748050e+00 2006-12-20
391  2.300487e+06  1.748050e+00 2006-12-25
392  2.300487e+06  1.748050e+00 2006-12-26
393  2.300487e+06  1.748050e+00 2007-01-03

[394 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
365  2.524543e+06  1.723050e+00 2006-08-29
366  2.524543e+06  1.723050e+00 2006-08-31
367  2.524543e+06  1.723050e+00 2006-09-08
368  2.524543e+06  1.723050e+00 2006-09-11
369  2.644971e+06  2.644927e+06 2006-09-14
370  2.644977e+06  2.644977e+06 2006-09-18
371  2.644977e+06  2.644977e+06 2006-09-19
372  2.644977e+06  2.644977e+06 2006-09-28
373  2.644977e+06  2.644977e+06 2006-10-02
374  2.644977e+06  2.644977e+06 2006-10-05
375  2.644977e+06  2.644977e+06 2006-10-11
376  2.644977e+06  2.644977e+06 2006-10-12
377  2.644977e+06  2.644977e+06 2006-10-18
378  2.404525e+06  3.627050e+00 2006-10-20
379  2.404525e+06  3.627050e+00 2006-11-06
380  2.404525e+06  3.627050e+00 2006-11-16
381  2.404525e+06  3.627050e+00 2006-11-20
382  2.404525e+06  3.627050e+00 2006-11-21
383  2.404525e+06  3.627050e+00 2006-11-22
384  2.404525e+06  3.627050e+00 2006-12-04
385  2.530535e+06  2.530535e+06 2006-12-10
386  2.530535e+06  2.530535e+06 2006-12-11
387  2.530535e+06  2.530535e+06 2006-12-12
388  2.300487e+06  1.748050e+00 2006-12-13
389  2.300487e+06  1.748050e+00 2006-12-18
390  2.300487e+06  1.748050e+00 2006-12-20
391  2.300487e+06  1.748050e+00 2006-12-25
392  2.300487e+06  1.748050e+00 2006-12-26
393  2.300487e+06  1.748050e+00 2007-01-03
394  2.300487e+06  1.748050e+00 2007-01-10

[395 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10

            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
417  1.833014e+06  6.410500e-01 2007-05-15
418  1.833014e+06  6.410500e-01 2007-05-17
419  1.966752e+06  1.966741e+06 2007-05-21
420  1.966753e+06  1.966753e+06 2007-05-27
421  1.787958e+06  2.659050e+00 2007-05-29
422  1.787958e+06  2.659050e+00 2007-05-30
423  1.787958e+06  2.659050e+00 2007-06-01
424  1.787958e+06  2.659050e+00 2007-06-08
425  1.787958e+06  2.659050e+00 2007-06-13
426  1.787958e+06  2.659050e+00 2007-06-14
427  1.787958e+06  2.659050e+00 2007-06-18
428  1.787958e+06  2.659050e+00 2007-06-20
429  1.787958e+06  2.659050e+00 2007-06-21
430  1.787958e+06  2.659050e+00 2007-06-29
431  1.787958e+06  2.659050e+00 2007-07-02
432  1.787958e+06  2.659050e+00 2007-07-03
433  2.128521e+06  2.128521e+06 2007-07-04
434  1.935019e+06  8.590500e-01 2007-07-10
435  1.935019e+06  8.590500e-01 2007-07-16
436  1.935019e+06  8.590500e-01 2007-07-19
437  1.935019e+06  8.590500e-01 2007-07-30
438  1.935019e+06  8.590500e-01 2007-08-01
439  1.935019e+06  8.590500e-01 2007-08-03
440  1.935019e+06  8.590500e-01 2007-08-06
441  1.935019e+06  8.590500e-01 2007-08-08
442  1.935019e+06  8.590500e-01 2007-08-10
443  2.014921e+06  2.014921e+06 2007-08-13
444  1.899921e+06  7.499209e+05 2007-08-14
445  1.831746e+06  1.304050e+00 2007-08-15
446  1.831746e+06  1.304050e+00 2007-08-21

[447 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
419  1.966752e+06  1.966741e+06 2007-05-21
420  1.966753e+06  1.966753e+06 2007-05-27
421  1.787958e+06  2.659050e+00 2007-05-29
422  1.787958e+06  2.659050e+00 2007-05-30
423  1.787958e+06  2.659050e+00 2007-06-01
424  1.787958e+06  2.659050e+00 2007-06-08
425  1.787958e+06  2.659050e+00 2007-06-13
426  1.787958e+06  2.659050e+00 2007-06-14
427  1.787958e+06  2.659050e+00 2007-06-18
428  1.787958e+06  2.659050e+00 2007-06-20
429  1.787958e+06  2.659050e+00 2007-06-21
430  1.787958e+06  2.659050e+00 2007-06-29
431  1.787958e+06  2.659050e+00 2007-07-02
432  1.787958e+06  2.659050e+00 2007-07-03
433  2.128521e+06  2.128521e+06 2007-07-04
434  1.935019e+06  8.590500e-01 2007-07-10
435  1.935019e+06  8.590500e-01 2007-07-16
436  1.935019e+06  8.590500e-01 2007-07-19
437  1.935019e+06  8.590500e-01 2007-07-30
438  1.935019e+06  8.590500e-01 2007-08-01
439  1.935019e+06  8.590500e-01 2007-08-03
440  1.935019e+06  8.590500e-01 2007-08-06
441  1.935019e+06  8.590500e-01 2007-08-08
442  1.935019e+06  8.590500e-01 2007-08-10
443  2.014921e+06  2.014921e+06 2007-08-13
444  1.899921e+06  7.499209e+05 2007-08-14
445  1.831746e+06  1.304050e+00 2007-08-15
446  1.831746e+06  1.304050e+00 2007-08-21
447  1.831746e+06  1.304050e+00 2007-08-22
448  1.831746e+06  1.304050e+00 2007-08-24

[449 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
420  1.966753e+06  1.966753e+06 2007-05-27
421  1.787958e+06  2.659050e+00 2007-05-29
422  1.787958e+06  2.659050e+00 2007-05-30
423  1.787958e+06  2.659050e+00 2007-06-01
424  1.787958e+06  2.659050e+00 2007-06-08
425  1.787958e+06  2.659050e+00 2007-06-13
426  1.787958e+06  2.659050e+00 2007-06-14
427  1.787958e+06  2.659050e+00 2007-06-18
428  1.787958e+06  2.659050e+00 2007-06-20
429  1.787958e+06  2.659050e+00 2007-06-21
430  1.787958e+06  2.659050e+00 2007-06-29
431  1.787958e+06  2.659050e+00 2007-07-02
432  1.787958e+06  2.659050e+00 2007-07-03
433  2.128521e+06  2.128521e+06 2007-07-04
434  1.935019e+06  8.590500e-01 2007-07-10
435  1.935019e+06  8.590500e-01 2007-07-16
436  1.935019e+06  8.590500e-01 2007-07-19
437  1.935019e+06  8.590500e-01 2007-07-30
438  1.935019e+06  8.590500e-01 2007-08-01
439  1.935019e+06  8.590500e-01 2007-08-03
440  1.935019e+06  8.590500e-01 2007-08-06
441  1.935019e+06  8.590500e-01 2007-08-08
442  1.935019e+06  8.590500e-01 2007-08-10
443  2.014921e+06  2.014921e+06 2007-08-13
444  1.899921e+06  7.499209e+05 2007-08-14
445  1.831746e+06  1.304050e+00 2007-08-15
446  1.831746e+06  1.304050e+00 2007-08-21
447  1.831746e+06  1.304050e+00 2007-08-22
448  1.831746e+06  1.304050e+00 2007-08-24
449  1.831746e+06  1.304050e+00 2007-08-30

[450 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
432  1.787958e+06  2.659050e+00 2007-07-03
433  2.128521e+06  2.128521e+06 2007-07-04
434  1.935019e+06  8.590500e-01 2007-07-10
435  1.935019e+06  8.590500e-01 2007-07-16
436  1.935019e+06  8.590500e-01 2007-07-19
437  1.935019e+06  8.590500e-01 2007-07-30
438  1.935019e+06  8.590500e-01 2007-08-01
439  1.935019e+06  8.590500e-01 2007-08-03
440  1.935019e+06  8.590500e-01 2007-08-06
441  1.935019e+06  8.590500e-01 2007-08-08
442  1.935019e+06  8.590500e-01 2007-08-10
443  2.014921e+06  2.014921e+06 2007-08-13
444  1.899921e+06  7.499209e+05 2007-08-14
445  1.831746e+06  1.304050e+00 2007-08-15
446  1.831746e+06  1.304050e+00 2007-08-21
447  1.831746e+06  1.304050e+00 2007-08-22
448  1.831746e+06  1.304050e+00 2007-08-24
449  1.831746e+06  1.304050e+00 2007-08-30
450  1.831746e+06  1.304050e+00 2007-09-04
451  1.831746e+06  1.304050e+00 2007-09-10
452  1.831746e+06  1.304050e+00 2007-09-11
453  1.831746e+06  1.304050e+00 2007-09-16
454  1.831746e+06  1.304050e+00 2007-09-17
455  1.831746e+06  1.304050e+00 2007-09-19
456  1.837475e+06  6.874753e+05 2007-09-20
457  1.837475e+06  6.874753e+05 2007-09-25
458  1.837475e+06  6.874753e+05 2007-09-26
459  1.837475e+06  6.874753e+05 2007-09-27
460  1.987475e+06  1.987475e+06 2007-10-04
461  1.806797e+06  1.073705e+01 2007-11-21

[462 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
434  1.935019e+06  8.590500e-01 2007-07-10
435  1.935019e+06  8.590500e-01 2007-07-16
436  1.935019e+06  8.590500e-01 2007-07-19
437  1.935019e+06  8.590500e-01 2007-07-30
438  1.935019e+06  8.590500e-01 2007-08-01
439  1.935019e+06  8.590500e-01 2007-08-03
440  1.935019e+06  8.590500e-01 2007-08-06
441  1.935019e+06  8.590500e-01 2007-08-08
442  1.935019e+06  8.590500e-01 2007-08-10
443  2.014921e+06  2.014921e+06 2007-08-13
444  1.899921e+06  7.499209e+05 2007-08-14
445  1.831746e+06  1.304050e+00 2007-08-15
446  1.831746e+06  1.304050e+00 2007-08-21
447  1.831746e+06  1.304050e+00 2007-08-22
448  1.831746e+06  1.304050e+00 2007-08-24
449  1.831746e+06  1.304050e+00 2007-08-30
450  1.831746e+06  1.304050e+00 2007-09-04
451  1.831746e+06  1.304050e+00 2007-09-10
452  1.831746e+06  1.304050e+00 2007-09-11
453  1.831746e+06  1.304050e+00 2007-09-16
454  1.831746e+06  1.304050e+00 2007-09-17
455  1.831746e+06  1.304050e+00 2007-09-19
456  1.837475e+06  6.874753e+05 2007-09-20
457  1.837475e+06  6.874753e+05 2007-09-25
458  1.837475e+06  6.874753e+05 2007-09-26
459  1.837475e+06  6.874753e+05 2007-09-27
460  1.987475e+06  1.987475e+06 2007-10-04
461  1.806797e+06  1.073705e+01 2007-11-21
462  2.348665e+06  2.348665e+06 2007-12-25
463  2.135150e+06  1.475050e+00 2008-01-15

[464 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
435  1.935019e+06  8.590500e-01 2007-07-16
436  1.935019e+06  8.590500e-01 2007-07-19
437  1.935019e+06  8.590500e-01 2007-07-30
438  1.935019e+06  8.590500e-01 2007-08-01
439  1.935019e+06  8.590500e-01 2007-08-03
440  1.935019e+06  8.590500e-01 2007-08-06
441  1.935019e+06  8.590500e-01 2007-08-08
442  1.935019e+06  8.590500e-01 2007-08-10
443  2.014921e+06  2.014921e+06 2007-08-13
444  1.899921e+06  7.499209e+05 2007-08-14
445  1.831746e+06  1.304050e+00 2007-08-15
446  1.831746e+06  1.304050e+00 2007-08-21
447  1.831746e+06  1.304050e+00 2007-08-22
448  1.831746e+06  1.304050e+00 2007-08-24
449  1.831746e+06  1.304050e+00 2007-08-30
450  1.831746e+06  1.304050e+00 2007-09-04
451  1.831746e+06  1.304050e+00 2007-09-10
452  1.831746e+06  1.304050e+00 2007-09-11
453  1.831746e+06  1.304050e+00 2007-09-16
454  1.831746e+06  1.304050e+00 2007-09-17
455  1.831746e+06  1.304050e+00 2007-09-19
456  1.837475e+06  6.874753e+05 2007-09-20
457  1.837475e+06  6.874753e+05 2007-09-25
458  1.837475e+06  6.874753e+05 2007-09-26
459  1.837475e+06  6.874753e+05 2007-09-27
460  1.987475e+06  1.987475e+06 2007-10-04
461  1.806797e+06  1.073705e+01 2007-11-21
462  2.348665e+06  2.348665e+06 2007-12-25
463  2.135150e+06  1.475050e+00 2008-01-15
464  2.135150e+06  1.475050e+00 2008-02-12

[465 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
436  1.935019e+06  8.590500e-01 2007-07-19
437  1.935019e+06  8.590500e-01 2007-07-30
438  1.935019e+06  8.590500e-01 2007-08-01
439  1.935019e+06  8.590500e-01 2007-08-03
440  1.935019e+06  8.590500e-01 2007-08-06
441  1.935019e+06  8.590500e-01 2007-08-08
442  1.935019e+06  8.590500e-01 2007-08-10
443  2.014921e+06  2.014921e+06 2007-08-13
444  1.899921e+06  7.499209e+05 2007-08-14
445  1.831746e+06  1.304050e+00 2007-08-15
446  1.831746e+06  1.304050e+00 2007-08-21
447  1.831746e+06  1.304050e+00 2007-08-22
448  1.831746e+06  1.304050e+00 2007-08-24
449  1.831746e+06  1.304050e+00 2007-08-30
450  1.831746e+06  1.304050e+00 2007-09-04
451  1.831746e+06  1.304050e+00 2007-09-10
452  1.831746e+06  1.304050e+00 2007-09-11
453  1.831746e+06  1.304050e+00 2007-09-16
454  1.831746e+06  1.304050e+00 2007-09-17
455  1.831746e+06  1.304050e+00 2007-09-19
456  1.837475e+06  6.874753e+05 2007-09-20
457  1.837475e+06  6.874753e+05 2007-09-25
458  1.837475e+06  6.874753e+05 2007-09-26
459  1.837475e+06  6.874753e+05 2007-09-27
460  1.987475e+06  1.987475e+06 2007-10-04
461  1.806797e+06  1.073705e+01 2007-11-21
462  2.348665e+06  2.348665e+06 2007-12-25
463  2.135150e+06  1.475050e+00 2008-01-15
464  2.135150e+06  1.475050e+00 2008-02-12
465  2.135150e+06  1.475050e+00 2008-02-15

[466 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10

[555 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
526  3.160331e+06  1.505000e-02 2010-01-29
527  3.160331e+06  1.505000e-02 2010-02-19
528  3.396447e+06  3.396434e+06 2010-02-25
529  3.396448e+06  3.396448e+06 2010-03-07
530  3.087681e+06  8.799050e+00 2010-03-11
531  3.087681e+06  8.799050e+00 2010-04-04
532  3.230145e+06  3.230145e+06 2010-04-14
533  2.936498e+06  2.427405e+01 2010-05-10
534  3.183780e+06  3.183780e+06 2010-06-14
535  2.894346e+06  9.148050e+00 2010-06-18
536  2.894346e+06  3.040500e-01 2010-06-30
537  2.894346e+06  3.040500e-01 2010-07-06
538  3.060208e+06  3.060200e+06 2010-07-25
539  2.782009e+06  7.454050e+00 2010-07-29
540  2.782010e+06  1.645405e+01 2010-08-03
541  2.782010e+06  1.645405e+01 2010-08-09
542  2.782010e+06  1.645405e+01 2010-08-10
543  2.972557e+06  2.972557e+06 2010-08-31
544  2.972557e+06  2.972557e+06 2010-09-14
545  2.702326e+06  1.338505e+01 2010-09-15
546  2.702325e+06  4.270500e-01 2010-09-17
547  2.702325e+06  4.270500e-01 2010-09-22
548  2.702325e+06  4.270500e-01 2010-10-08
549  2.821333e+06  2.821322e+06 2010-10-19
550  2.821334e+06  2.821334e+06 2010-10-25
551  2.821334e+06  2.821334e+06 2010-10-26
552  2.564849e+06  2.422050e+00 2010-10-27
553  2.564849e+06  2.422050e+00 2010-11-03
554  2.564849e+06  2.422050e+00 2010-11-08
555  2.564849e+06  2.422050e+00 2010-11-09

[556 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
528  3.396447e+06  3.396434e+06 2010-02-25
529  3.396448e+06  3.396448e+06 2010-03-07
530  3.087681e+06  8.799050e+00 2010-03-11
531  3.087681e+06  8.799050e+00 2010-04-04
532  3.230145e+06  3.230145e+06 2010-04-14
533  2.936498e+06  2.427405e+01 2010-05-10
534  3.183780e+06  3.183780e+06 2010-06-14
535  2.894346e+06  9.148050e+00 2010-06-18
536  2.894346e+06  3.040500e-01 2010-06-30
537  2.894346e+06  3.040500e-01 2010-07-06
538  3.060208e+06  3.060200e+06 2010-07-25
539  2.782009e+06  7.454050e+00 2010-07-29
540  2.782010e+06  1.645405e+01 2010-08-03
541  2.782010e+06  1.645405e+01 2010-08-09
542  2.782010e+06  1.645405e+01 2010-08-10
543  2.972557e+06  2.972557e+06 2010-08-31
544  2.972557e+06  2.972557e+06 2010-09-14
545  2.702326e+06  1.338505e+01 2010-09-15
546  2.702325e+06  4.270500e-01 2010-09-17
547  2.702325e+06  4.270500e-01 2010-09-22
548  2.702325e+06  4.270500e-01 2010-10-08
549  2.821333e+06  2.821322e+06 2010-10-19
550  2.821334e+06  2.821334e+06 2010-10-25
551  2.821334e+06  2.821334e+06 2010-10-26
552  2.564849e+06  2.422050e+00 2010-10-27
553  2.564849e+06  2.422050e+00 2010-11-03
554  2.564849e+06  2.422050e+00 2010-11-08
555  2.564849e+06  2.422050e+00 2010-11-09
556  2.564849e+06  2.422050e+00 2010-11-14
557  2.564849e+06  2.422050e+00 2010-11-18

[558 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
529  3.396448e+06  3.396448e+06 2010-03-07
530  3.087681e+06  8.799050e+00 2010-03-11
531  3.087681e+06  8.799050e+00 2010-04-04
532  3.230145e+06  3.230145e+06 2010-04-14
533  2.936498e+06  2.427405e+01 2010-05-10
534  3.183780e+06  3.183780e+06 2010-06-14
535  2.894346e+06  9.148050e+00 2010-06-18
536  2.894346e+06  3.040500e-01 2010-06-30
537  2.894346e+06  3.040500e-01 2010-07-06
538  3.060208e+06  3.060200e+06 2010-07-25
539  2.782009e+06  7.454050e+00 2010-07-29
540  2.782010e+06  1.645405e+01 2010-08-03
541  2.782010e+06  1.645405e+01 2010-08-09
542  2.782010e+06  1.645405e+01 2010-08-10
543  2.972557e+06  2.972557e+06 2010-08-31
544  2.972557e+06  2.972557e+06 2010-09-14
545  2.702326e+06  1.338505e+01 2010-09-15
546  2.702325e+06  4.270500e-01 2010-09-17
547  2.702325e+06  4.270500e-01 2010-09-22
548  2.702325e+06  4.270500e-01 2010-10-08
549  2.821333e+06  2.821322e+06 2010-10-19
550  2.821334e+06  2.821334e+06 2010-10-25
551  2.821334e+06  2.821334e+06 2010-10-26
552  2.564849e+06  2.422050e+00 2010-10-27
553  2.564849e+06  2.422050e+00 2010-11-03
554  2.564849e+06  2.422050e+00 2010-11-08
555  2.564849e+06  2.422050e+00 2010-11-09
556  2.564849e+06  2.422050e+00 2010-11-14
557  2.564849e+06  2.422050e+00 2010-11-18
558  2.564849e+06  2.422050e+00 2010-12-01

[559 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
533  2.936498e+06  2.427405e+01 2010-05-10
534  3.183780e+06  3.183780e+06 2010-06-14
535  2.894346e+06  9.148050e+00 2010-06-18
536  2.894346e+06  3.040500e-01 2010-06-30
537  2.894346e+06  3.040500e-01 2010-07-06
538  3.060208e+06  3.060200e+06 2010-07-25
539  2.782009e+06  7.454050e+00 2010-07-29
540  2.782010e+06  1.645405e+01 2010-08-03
541  2.782010e+06  1.645405e+01 2010-08-09
542  2.782010e+06  1.645405e+01 2010-08-10
543  2.972557e+06  2.972557e+06 2010-08-31
544  2.972557e+06  2.972557e+06 2010-09-14
545  2.702326e+06  1.338505e+01 2010-09-15
546  2.702325e+06  4.270500e-01 2010-09-17
547  2.702325e+06  4.270500e-01 2010-09-22
548  2.702325e+06  4.270500e-01 2010-10-08
549  2.821333e+06  2.821322e+06 2010-10-19
550  2.821334e+06  2.821334e+06 2010-10-25
551  2.821334e+06  2.821334e+06 2010-10-26
552  2.564849e+06  2.422050e+00 2010-10-27
553  2.564849e+06  2.422050e+00 2010-11-03
554  2.564849e+06  2.422050e+00 2010-11-08
555  2.564849e+06  2.422050e+00 2010-11-09
556  2.564849e+06  2.422050e+00 2010-11-14
557  2.564849e+06  2.422050e+00 2010-11-18
558  2.564849e+06  2.422050e+00 2010-12-01
559  2.564849e+06  2.422050e+00 2010-12-08
560  2.999219e+06  2.999219e+06 2010-12-09
561  2.999219e+06  2.999219e+06 2010-12-14
562  2.726566e+06  3.780605e+01 2010-12-15

[563 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
537  2.894346e+06  3.040500e-01 2010-07-06
538  3.060208e+06  3.060200e+06 2010-07-25
539  2.782009e+06  7.454050e+00 2010-07-29
540  2.782010e+06  1.645405e+01 2010-08-03
541  2.782010e+06  1.645405e+01 2010-08-09
542  2.782010e+06  1.645405e+01 2010-08-10
543  2.972557e+06  2.972557e+06 2010-08-31
544  2.972557e+06  2.972557e+06 2010-09-14
545  2.702326e+06  1.338505e+01 2010-09-15
546  2.702325e+06  4.270500e-01 2010-09-17
547  2.702325e+06  4.270500e-01 2010-09-22
548  2.702325e+06  4.270500e-01 2010-10-08
549  2.821333e+06  2.821322e+06 2010-10-19
550  2.821334e+06  2.821334e+06 2010-10-25
551  2.821334e+06  2.821334e+06 2010-10-26
552  2.564849e+06  2.422050e+00 2010-10-27
553  2.564849e+06  2.422050e+00 2010-11-03
554  2.564849e+06  2.422050e+00 2010-11-08
555  2.564849e+06  2.422050e+00 2010-11-09
556  2.564849e+06  2.422050e+00 2010-11-14
557  2.564849e+06  2.422050e+00 2010-11-18
558  2.564849e+06  2.422050e+00 2010-12-01
559  2.564849e+06  2.422050e+00 2010-12-08
560  2.999219e+06  2.999219e+06 2010-12-09
561  2.999219e+06  2.999219e+06 2010-12-14
562  2.726566e+06  3.780605e+01 2010-12-15
563  2.726566e+06  3.780605e+01 2010-12-23
564  2.726566e+06  3.780605e+01 2011-01-04
565  2.976426e+06  2.976426e+06 2011-01-20
566  2.705848e+06  6.446205e+01 2011-02-09

[567 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
542  2.782010e+06  1.645405e+01 2010-08-10
543  2.972557e+06  2.972557e+06 2010-08-31
544  2.972557e+06  2.972557e+06 2010-09-14
545  2.702326e+06  1.338505e+01 2010-09-15
546  2.702325e+06  4.270500e-01 2010-09-17
547  2.702325e+06  4.270500e-01 2010-09-22
548  2.702325e+06  4.270500e-01 2010-10-08
549  2.821333e+06  2.821322e+06 2010-10-19
550  2.821334e+06  2.821334e+06 2010-10-25
551  2.821334e+06  2.821334e+06 2010-10-26
552  2.564849e+06  2.422050e+00 2010-10-27
553  2.564849e+06  2.422050e+00 2010-11-03
554  2.564849e+06  2.422050e+00 2010-11-08
555  2.564849e+06  2.422050e+00 2010-11-09
556  2.564849e+06  2.422050e+00 2010-11-14
557  2.564849e+06  2.422050e+00 2010-11-18
558  2.564849e+06  2.422050e+00 2010-12-01
559  2.564849e+06  2.422050e+00 2010-12-08
560  2.999219e+06  2.999219e+06 2010-12-09
561  2.999219e+06  2.999219e+06 2010-12-14
562  2.726566e+06  3.780605e+01 2010-12-15
563  2.726566e+06  3.780605e+01 2010-12-23
564  2.726566e+06  3.780605e+01 2011-01-04
565  2.976426e+06  2.976426e+06 2011-01-20
566  2.705848e+06  6.446205e+01 2011-02-09
567  2.705848e+06  6.446205e+01 2011-02-10
568  2.826664e+06  2.826664e+06 2011-03-16
569  2.826664e+06  2.826664e+06 2011-03-17
570  2.826664e+06  2.826664e+06 2011-04-08
571  2.569695e+06  1.216050e+00 2011-04-27

[572 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
545  2.702326e+06  1.338505e+01 2010-09-15
546  2.702325e+06  4.270500e-01 2010-09-17
547  2.702325e+06  4.270500e-01 2010-09-22
548  2.702325e+06  4.270500e-01 2010-10-08
549  2.821333e+06  2.821322e+06 2010-10-19
550  2.821334e+06  2.821334e+06 2010-10-25
551  2.821334e+06  2.821334e+06 2010-10-26
552  2.564849e+06  2.422050e+00 2010-10-27
553  2.564849e+06  2.422050e+00 2010-11-03
554  2.564849e+06  2.422050e+00 2010-11-08
555  2.564849e+06  2.422050e+00 2010-11-09
556  2.564849e+06  2.422050e+00 2010-11-14
557  2.564849e+06  2.422050e+00 2010-11-18
558  2.564849e+06  2.422050e+00 2010-12-01
559  2.564849e+06  2.422050e+00 2010-12-08
560  2.999219e+06  2.999219e+06 2010-12-09
561  2.999219e+06  2.999219e+06 2010-12-14
562  2.726566e+06  3.780605e+01 2010-12-15
563  2.726566e+06  3.780605e+01 2010-12-23
564  2.726566e+06  3.780605e+01 2011-01-04
565  2.976426e+06  2.976426e+06 2011-01-20
566  2.705848e+06  6.446205e+01 2011-02-09
567  2.705848e+06  6.446205e+01 2011-02-10
568  2.826664e+06  2.826664e+06 2011-03-16
569  2.826664e+06  2.826664e+06 2011-03-17
570  2.826664e+06  2.826664e+06 2011-04-08
571  2.569695e+06  1.216050e+00 2011-04-27
572  2.569695e+06  1.216050e+00 2011-05-12
573  2.715938e+06  2.715938e+06 2011-05-31
574  2.469036e+06  1.502405e+01 2011-06-24

[575 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01

            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
632  2.707576e+06  3.420500e-01 2012-12-13
633  2.707576e+06  3.420500e-01 2012-12-18
634  2.707576e+06  3.420500e-01 2012-12-24
635  2.707576e+06  3.420500e-01 2012-12-27
636  2.977708e+06  1.157708e+06 2013-01-09
637  3.473333e+06  3.473333e+06 2013-01-10
638  3.473333e+06  3.473333e+06 2013-01-29
639  3.473333e+06  3.473333e+06 2013-02-20
640  3.473333e+06  3.473333e+06 2013-03-21
641  3.473333e+06  3.473333e+06 2013-03-25
642  3.157576e+06  1.406705e+01 2013-04-03
643  3.157576e+06  1.406705e+01 2013-04-05
644  3.157575e+06  1.571050e+00 2013-04-26
645  3.157575e+06  1.571050e+00 2013-04-28
646  3.392023e+06  3.392012e+06 2013-05-07
647  3.392023e+06  3.392012e+06 2013-05-08
648  3.083660e+06  1.857105e+01 2013-05-21
649  3.083661e+06  3.057105e+01 2013-05-30
650  3.083661e+06  3.057105e+01 2013-06-17
651  3.223826e+06  3.223826e+06 2013-06-24
652  3.223826e+06  3.223826e+06 2013-07-21
653  2.930751e+06  1.049305e+01 2013-07-26
654  2.930751e+06  1.049305e+01 2013-08-12
655  3.007424e+06  3.007424e+06 2013-08-28
656  3.007424e+06  3.007424e+06 2013-09-13
657  3.007424e+06  3.007424e+06 2013-09-16
658  2.734022e+06  5.249050e+00 2013-09-25
659  2.853885e+06  2.853885e+06 2013-10-30
660  2.853885e+06  2.853885e+06 2013-11-05
661  2.594442e+06  8.223050e+00 2013-11-13

[662 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
633  2.707576e+06  3.420500e-01 2012-12-18
634  2.707576e+06  3.420500e-01 2012-12-24
635  2.707576e+06  3.420500e-01 2012-12-27
636  2.977708e+06  1.157708e+06 2013-01-09
637  3.473333e+06  3.473333e+06 2013-01-10
638  3.473333e+06  3.473333e+06 2013-01-29
639  3.473333e+06  3.473333e+06 2013-02-20
640  3.473333e+06  3.473333e+06 2013-03-21
641  3.473333e+06  3.473333e+06 2013-03-25
642  3.157576e+06  1.406705e+01 2013-04-03
643  3.157576e+06  1.406705e+01 2013-04-05
644  3.157575e+06  1.571050e+00 2013-04-26
645  3.157575e+06  1.571050e+00 2013-04-28
646  3.392023e+06  3.392012e+06 2013-05-07
647  3.392023e+06  3.392012e+06 2013-05-08
648  3.083660e+06  1.857105e+01 2013-05-21
649  3.083661e+06  3.057105e+01 2013-05-30
650  3.083661e+06  3.057105e+01 2013-06-17
651  3.223826e+06  3.223826e+06 2013-06-24
652  3.223826e+06  3.223826e+06 2013-07-21
653  2.930751e+06  1.049305e+01 2013-07-26
654  2.930751e+06  1.049305e+01 2013-08-12
655  3.007424e+06  3.007424e+06 2013-08-28
656  3.007424e+06  3.007424e+06 2013-09-13
657  3.007424e+06  3.007424e+06 2013-09-16
658  2.734022e+06  5.249050e+00 2013-09-25
659  2.853885e+06  2.853885e+06 2013-10-30
660  2.853885e+06  2.853885e+06 2013-11-05
661  2.594442e+06  8.223050e+00 2013-11-13
662  2.594442e+06  8.223050e+00 2013-11-25

[663 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
636  2.977708e+06  1.157708e+06 2013-01-09
637  3.473333e+06  3.473333e+06 2013-01-10
638  3.473333e+06  3.473333e+06 2013-01-29
639  3.473333e+06  3.473333e+06 2013-02-20
640  3.473333e+06  3.473333e+06 2013-03-21
641  3.473333e+06  3.473333e+06 2013-03-25
642  3.157576e+06  1.406705e+01 2013-04-03
643  3.157576e+06  1.406705e+01 2013-04-05
644  3.157575e+06  1.571050e+00 2013-04-26
645  3.157575e+06  1.571050e+00 2013-04-28
646  3.392023e+06  3.392012e+06 2013-05-07
647  3.392023e+06  3.392012e+06 2013-05-08
648  3.083660e+06  1.857105e+01 2013-05-21
649  3.083661e+06  3.057105e+01 2013-05-30
650  3.083661e+06  3.057105e+01 2013-06-17
651  3.223826e+06  3.223826e+06 2013-06-24
652  3.223826e+06  3.223826e+06 2013-07-21
653  2.930751e+06  1.049305e+01 2013-07-26
654  2.930751e+06  1.049305e+01 2013-08-12
655  3.007424e+06  3.007424e+06 2013-08-28
656  3.007424e+06  3.007424e+06 2013-09-13
657  3.007424e+06  3.007424e+06 2013-09-16
658  2.734022e+06  5.249050e+00 2013-09-25
659  2.853885e+06  2.853885e+06 2013-10-30
660  2.853885e+06  2.853885e+06 2013-11-05
661  2.594442e+06  8.223050e+00 2013-11-13
662  2.594442e+06  8.223050e+00 2013-11-25
663  3.000688e+06  3.000688e+06 2013-12-17
664  3.000688e+06  3.000688e+06 2013-12-29
665  2.727898e+06  6.083050e+00 2014-01-14

[666 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
638  3.473333e+06  3.473333e+06 2013-01-29
639  3.473333e+06  3.473333e+06 2013-02-20
640  3.473333e+06  3.473333e+06 2013-03-21
641  3.473333e+06  3.473333e+06 2013-03-25
642  3.157576e+06  1.406705e+01 2013-04-03
643  3.157576e+06  1.406705e+01 2013-04-05
644  3.157575e+06  1.571050e+00 2013-04-26
645  3.157575e+06  1.571050e+00 2013-04-28
646  3.392023e+06  3.392012e+06 2013-05-07
647  3.392023e+06  3.392012e+06 2013-05-08
648  3.083660e+06  1.857105e+01 2013-05-21
649  3.083661e+06  3.057105e+01 2013-05-30
650  3.083661e+06  3.057105e+01 2013-06-17
651  3.223826e+06  3.223826e+06 2013-06-24
652  3.223826e+06  3.223826e+06 2013-07-21
653  2.930751e+06  1.049305e+01 2013-07-26
654  2.930751e+06  1.049305e+01 2013-08-12
655  3.007424e+06  3.007424e+06 2013-08-28
656  3.007424e+06  3.007424e+06 2013-09-13
657  3.007424e+06  3.007424e+06 2013-09-16
658  2.734022e+06  5.249050e+00 2013-09-25
659  2.853885e+06  2.853885e+06 2013-10-30
660  2.853885e+06  2.853885e+06 2013-11-05
661  2.594442e+06  8.223050e+00 2013-11-13
662  2.594442e+06  8.223050e+00 2013-11-25
663  3.000688e+06  3.000688e+06 2013-12-17
664  3.000688e+06  3.000688e+06 2013-12-29
665  2.727898e+06  6.083050e+00 2014-01-14
666  2.727898e+06  6.083050e+00 2014-01-31
667  2.727898e+06  6.083050e+00 2014-02-07

[668 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
639  3.473333e+06  3.473333e+06 2013-02-20
640  3.473333e+06  3.473333e+06 2013-03-21
641  3.473333e+06  3.473333e+06 2013-03-25
642  3.157576e+06  1.406705e+01 2013-04-03
643  3.157576e+06  1.406705e+01 2013-04-05
644  3.157575e+06  1.571050e+00 2013-04-26
645  3.157575e+06  1.571050e+00 2013-04-28
646  3.392023e+06  3.392012e+06 2013-05-07
647  3.392023e+06  3.392012e+06 2013-05-08
648  3.083660e+06  1.857105e+01 2013-05-21
649  3.083661e+06  3.057105e+01 2013-05-30
650  3.083661e+06  3.057105e+01 2013-06-17
651  3.223826e+06  3.223826e+06 2013-06-24
652  3.223826e+06  3.223826e+06 2013-07-21
653  2.930751e+06  1.049305e+01 2013-07-26
654  2.930751e+06  1.049305e+01 2013-08-12
655  3.007424e+06  3.007424e+06 2013-08-28
656  3.007424e+06  3.007424e+06 2013-09-13
657  3.007424e+06  3.007424e+06 2013-09-16
658  2.734022e+06  5.249050e+00 2013-09-25
659  2.853885e+06  2.853885e+06 2013-10-30
660  2.853885e+06  2.853885e+06 2013-11-05
661  2.594442e+06  8.223050e+00 2013-11-13
662  2.594442e+06  8.223050e+00 2013-11-25
663  3.000688e+06  3.000688e+06 2013-12-17
664  3.000688e+06  3.000688e+06 2013-12-29
665  2.727898e+06  6.083050e+00 2014-01-14
666  2.727898e+06  6.083050e+00 2014-01-31
667  2.727898e+06  6.083050e+00 2014-02-07
668  2.727898e+06  6.083050e+00 2014-02-10

[669 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
641  3.473333e+06  3.473333e+06 2013-03-25
642  3.157576e+06  1.406705e+01 2013-04-03
643  3.157576e+06  1.406705e+01 2013-04-05
644  3.157575e+06  1.571050e+00 2013-04-26
645  3.157575e+06  1.571050e+00 2013-04-28
646  3.392023e+06  3.392012e+06 2013-05-07
647  3.392023e+06  3.392012e+06 2013-05-08
648  3.083660e+06  1.857105e+01 2013-05-21
649  3.083661e+06  3.057105e+01 2013-05-30
650  3.083661e+06  3.057105e+01 2013-06-17
651  3.223826e+06  3.223826e+06 2013-06-24
652  3.223826e+06  3.223826e+06 2013-07-21
653  2.930751e+06  1.049305e+01 2013-07-26
654  2.930751e+06  1.049305e+01 2013-08-12
655  3.007424e+06  3.007424e+06 2013-08-28
656  3.007424e+06  3.007424e+06 2013-09-13
657  3.007424e+06  3.007424e+06 2013-09-16
658  2.734022e+06  5.249050e+00 2013-09-25
659  2.853885e+06  2.853885e+06 2013-10-30
660  2.853885e+06  2.853885e+06 2013-11-05
661  2.594442e+06  8.223050e+00 2013-11-13
662  2.594442e+06  8.223050e+00 2013-11-25
663  3.000688e+06  3.000688e+06 2013-12-17
664  3.000688e+06  3.000688e+06 2013-12-29
665  2.727898e+06  6.083050e+00 2014-01-14
666  2.727898e+06  6.083050e+00 2014-01-31
667  2.727898e+06  6.083050e+00 2014-02-07
668  2.727898e+06  6.083050e+00 2014-02-10
669  2.868495e+06  2.868495e+06 2014-02-17
670  2.607723e+06  1.095050e+00 2014-02-21

[671 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
643  3.157576e+06  1.406705e+01 2013-04-05
644  3.157575e+06  1.571050e+00 2013-04-26
645  3.157575e+06  1.571050e+00 2013-04-28
646  3.392023e+06  3.392012e+06 2013-05-07
647  3.392023e+06  3.392012e+06 2013-05-08
648  3.083660e+06  1.857105e+01 2013-05-21
649  3.083661e+06  3.057105e+01 2013-05-30
650  3.083661e+06  3.057105e+01 2013-06-17
651  3.223826e+06  3.223826e+06 2013-06-24
652  3.223826e+06  3.223826e+06 2013-07-21
653  2.930751e+06  1.049305e+01 2013-07-26
654  2.930751e+06  1.049305e+01 2013-08-12
655  3.007424e+06  3.007424e+06 2013-08-28
656  3.007424e+06  3.007424e+06 2013-09-13
657  3.007424e+06  3.007424e+06 2013-09-16
658  2.734022e+06  5.249050e+00 2013-09-25
659  2.853885e+06  2.853885e+06 2013-10-30
660  2.853885e+06  2.853885e+06 2013-11-05
661  2.594442e+06  8.223050e+00 2013-11-13
662  2.594442e+06  8.223050e+00 2013-11-25
663  3.000688e+06  3.000688e+06 2013-12-17
664  3.000688e+06  3.000688e+06 2013-12-29
665  2.727898e+06  6.083050e+00 2014-01-14
666  2.727898e+06  6.083050e+00 2014-01-31
667  2.727898e+06  6.083050e+00 2014-02-07
668  2.727898e+06  6.083050e+00 2014-02-10
669  2.868495e+06  2.868495e+06 2014-02-17
670  2.607723e+06  1.095050e+00 2014-02-21
671  2.607723e+06  1.095050e+00 2014-02-26
672  2.607723e+06  1.095050e+00 2014-03-06

[673 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10

            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
696  2.911000e+06  2.525105e+01 2014-11-09
697  2.910999e+06  1.136905e+01 2014-11-12
698  3.389130e+06  3.389117e+06 2014-12-07
699  3.210616e+06  1.425464e+06 2014-12-08
700  3.210616e+06  1.425464e+06 2014-12-09
701  3.210617e+06  1.425477e+06 2014-12-16
702  3.425474e+06  3.425474e+06 2015-01-13
703  3.114068e+06  1.519405e+01 2015-02-09
704  3.114068e+06  1.519405e+01 2015-02-10
705  3.114068e+06  1.519405e+01 2015-02-17
706  3.114068e+06  1.519405e+01 2015-02-23
707  3.307292e+06  2.799167e+06 2015-03-16
708  3.307292e+06  2.799167e+06 2015-03-19
709  3.307292e+06  2.799167e+06 2015-03-26
710  3.307292e+06  2.799167e+06 2015-03-27
711  3.052822e+06  2.304050e+00 2015-04-02
712  3.294697e+06  7.500023e+05 2015-04-21
713  3.294697e+06  7.500023e+05 2015-04-22
714  3.226516e+06  1.218405e+01 2015-04-27
715  3.226515e+06  2.284050e+00 2015-04-28
716  3.226515e+06  2.284050e+00 2015-04-29
717  3.226515e+06  2.284050e+00 2015-05-04
718  3.400737e+06  2.718919e+06 2015-05-05
719  3.153563e+06  6.002050e+00 2015-05-15
720  3.153563e+06  6.002050e+00 2015-05-25
721  3.153563e+06  6.002050e+00 2015-05-28
722  3.153563e+06  6.002050e+00 2015-06-03
723  3.153565e+06  1.700205e+01 2015-06-04
724  3.170331e+06  6.985920e+05 2015-06-07
725  3.106823e+06  1.670050e+00 2015-06-08

[726 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
698  3.389130e+06  3.389117e+06 2014-12-07
699  3.210616e+06  1.425464e+06 2014-12-08
700  3.210616e+06  1.425464e+06 2014-12-09
701  3.210617e+06  1.425477e+06 2014-12-16
702  3.425474e+06  3.425474e+06 2015-01-13
703  3.114068e+06  1.519405e+01 2015-02-09
704  3.114068e+06  1.519405e+01 2015-02-10
705  3.114068e+06  1.519405e+01 2015-02-17
706  3.114068e+06  1.519405e+01 2015-02-23
707  3.307292e+06  2.799167e+06 2015-03-16
708  3.307292e+06  2.799167e+06 2015-03-19
709  3.307292e+06  2.799167e+06 2015-03-26
710  3.307292e+06  2.799167e+06 2015-03-27
711  3.052822e+06  2.304050e+00 2015-04-02
712  3.294697e+06  7.500023e+05 2015-04-21
713  3.294697e+06  7.500023e+05 2015-04-22
714  3.226516e+06  1.218405e+01 2015-04-27
715  3.226515e+06  2.284050e+00 2015-04-28
716  3.226515e+06  2.284050e+00 2015-04-29
717  3.226515e+06  2.284050e+00 2015-05-04
718  3.400737e+06  2.718919e+06 2015-05-05
719  3.153563e+06  6.002050e+00 2015-05-15
720  3.153563e+06  6.002050e+00 2015-05-25
721  3.153563e+06  6.002050e+00 2015-05-28
722  3.153563e+06  6.002050e+00 2015-06-03
723  3.153565e+06  1.700205e+01 2015-06-04
724  3.170331e+06  6.985920e+05 2015-06-07
725  3.106823e+06  1.670050e+00 2015-06-08
726  3.514350e+06  2.879268e+06 2015-06-21
727  3.252599e+06  5.834050e+00 2015-06-26

[728 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
699  3.210616e+06  1.425464e+06 2014-12-08
700  3.210616e+06  1.425464e+06 2014-12-09
701  3.210617e+06  1.425477e+06 2014-12-16
702  3.425474e+06  3.425474e+06 2015-01-13
703  3.114068e+06  1.519405e+01 2015-02-09
704  3.114068e+06  1.519405e+01 2015-02-10
705  3.114068e+06  1.519405e+01 2015-02-17
706  3.114068e+06  1.519405e+01 2015-02-23
707  3.307292e+06  2.799167e+06 2015-03-16
708  3.307292e+06  2.799167e+06 2015-03-19
709  3.307292e+06  2.799167e+06 2015-03-26
710  3.307292e+06  2.799167e+06 2015-03-27
711  3.052822e+06  2.304050e+00 2015-04-02
712  3.294697e+06  7.500023e+05 2015-04-21
713  3.294697e+06  7.500023e+05 2015-04-22
714  3.226516e+06  1.218405e+01 2015-04-27
715  3.226515e+06  2.284050e+00 2015-04-28
716  3.226515e+06  2.284050e+00 2015-04-29
717  3.226515e+06  2.284050e+00 2015-05-04
718  3.400737e+06  2.718919e+06 2015-05-05
719  3.153563e+06  6.002050e+00 2015-05-15
720  3.153563e+06  6.002050e+00 2015-05-25
721  3.153563e+06  6.002050e+00 2015-05-28
722  3.153563e+06  6.002050e+00 2015-06-03
723  3.153565e+06  1.700205e+01 2015-06-04
724  3.170331e+06  6.985920e+05 2015-06-07
725  3.106823e+06  1.670050e+00 2015-06-08
726  3.514350e+06  2.879268e+06 2015-06-21
727  3.252599e+06  5.834050e+00 2015-06-26
728  3.209661e+06  2.780286e+06 2015-06-30

[729 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
701  3.210617e+06  1.425477e+06 2014-12-16
702  3.425474e+06  3.425474e+06 2015-01-13
703  3.114068e+06  1.519405e+01 2015-02-09
704  3.114068e+06  1.519405e+01 2015-02-10
705  3.114068e+06  1.519405e+01 2015-02-17
706  3.114068e+06  1.519405e+01 2015-02-23
707  3.307292e+06  2.799167e+06 2015-03-16
708  3.307292e+06  2.799167e+06 2015-03-19
709  3.307292e+06  2.799167e+06 2015-03-26
710  3.307292e+06  2.799167e+06 2015-03-27
711  3.052822e+06  2.304050e+00 2015-04-02
712  3.294697e+06  7.500023e+05 2015-04-21
713  3.294697e+06  7.500023e+05 2015-04-22
714  3.226516e+06  1.218405e+01 2015-04-27
715  3.226515e+06  2.284050e+00 2015-04-28
716  3.226515e+06  2.284050e+00 2015-04-29
717  3.226515e+06  2.284050e+00 2015-05-04
718  3.400737e+06  2.718919e+06 2015-05-05
719  3.153563e+06  6.002050e+00 2015-05-15
720  3.153563e+06  6.002050e+00 2015-05-25
721  3.153563e+06  6.002050e+00 2015-05-28
722  3.153563e+06  6.002050e+00 2015-06-03
723  3.153565e+06  1.700205e+01 2015-06-04
724  3.170331e+06  6.985920e+05 2015-06-07
725  3.106823e+06  1.670050e+00 2015-06-08
726  3.514350e+06  2.879268e+06 2015-06-21
727  3.252599e+06  5.834050e+00 2015-06-26
728  3.209661e+06  2.780286e+06 2015-06-30
729  3.209661e+06  2.780286e+06 2015-07-03
730  2.956908e+06  5.854050e+00 2015-07-06

[731 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
704  3.114068e+06  1.519405e+01 2015-02-10
705  3.114068e+06  1.519405e+01 2015-02-17
706  3.114068e+06  1.519405e+01 2015-02-23
707  3.307292e+06  2.799167e+06 2015-03-16
708  3.307292e+06  2.799167e+06 2015-03-19
709  3.307292e+06  2.799167e+06 2015-03-26
710  3.307292e+06  2.799167e+06 2015-03-27
711  3.052822e+06  2.304050e+00 2015-04-02
712  3.294697e+06  7.500023e+05 2015-04-21
713  3.294697e+06  7.500023e+05 2015-04-22
714  3.226516e+06  1.218405e+01 2015-04-27
715  3.226515e+06  2.284050e+00 2015-04-28
716  3.226515e+06  2.284050e+00 2015-04-29
717  3.226515e+06  2.284050e+00 2015-05-04
718  3.400737e+06  2.718919e+06 2015-05-05
719  3.153563e+06  6.002050e+00 2015-05-15
720  3.153563e+06  6.002050e+00 2015-05-25
721  3.153563e+06  6.002050e+00 2015-05-28
722  3.153563e+06  6.002050e+00 2015-06-03
723  3.153565e+06  1.700205e+01 2015-06-04
724  3.170331e+06  6.985920e+05 2015-06-07
725  3.106823e+06  1.670050e+00 2015-06-08
726  3.514350e+06  2.879268e+06 2015-06-21
727  3.252599e+06  5.834050e+00 2015-06-26
728  3.209661e+06  2.780286e+06 2015-06-30
729  3.209661e+06  2.780286e+06 2015-07-03
730  2.956908e+06  5.854050e+00 2015-07-06
731  2.956908e+06  5.854050e+00 2015-07-12
732  2.956908e+06  5.854050e+00 2015-07-13
733  3.081511e+06  3.624050e+00 2015-08-03

[734 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
706  3.114068e+06  1.519405e+01 2015-02-23
707  3.307292e+06  2.799167e+06 2015-03-16
708  3.307292e+06  2.799167e+06 2015-03-19
709  3.307292e+06  2.799167e+06 2015-03-26
710  3.307292e+06  2.799167e+06 2015-03-27
711  3.052822e+06  2.304050e+00 2015-04-02
712  3.294697e+06  7.500023e+05 2015-04-21
713  3.294697e+06  7.500023e+05 2015-04-22
714  3.226516e+06  1.218405e+01 2015-04-27
715  3.226515e+06  2.284050e+00 2015-04-28
716  3.226515e+06  2.284050e+00 2015-04-29
717  3.226515e+06  2.284050e+00 2015-05-04
718  3.400737e+06  2.718919e+06 2015-05-05
719  3.153563e+06  6.002050e+00 2015-05-15
720  3.153563e+06  6.002050e+00 2015-05-25
721  3.153563e+06  6.002050e+00 2015-05-28
722  3.153563e+06  6.002050e+00 2015-06-03
723  3.153565e+06  1.700205e+01 2015-06-04
724  3.170331e+06  6.985920e+05 2015-06-07
725  3.106823e+06  1.670050e+00 2015-06-08
726  3.514350e+06  2.879268e+06 2015-06-21
727  3.252599e+06  5.834050e+00 2015-06-26
728  3.209661e+06  2.780286e+06 2015-06-30
729  3.209661e+06  2.780286e+06 2015-07-03
730  2.956908e+06  5.854050e+00 2015-07-06
731  2.956908e+06  5.854050e+00 2015-07-12
732  2.956908e+06  5.854050e+00 2015-07-13
733  3.081511e+06  3.624050e+00 2015-08-03
734  3.127977e+06  2.573998e+06 2015-08-06
735  2.893980e+06  3.223005e+01 2015-08-07

[736 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
707  3.307292e+06  2.799167e+06 2015-03-16
708  3.307292e+06  2.799167e+06 2015-03-19
709  3.307292e+06  2.799167e+06 2015-03-26
710  3.307292e+06  2.799167e+06 2015-03-27
711  3.052822e+06  2.304050e+00 2015-04-02
712  3.294697e+06  7.500023e+05 2015-04-21
713  3.294697e+06  7.500023e+05 2015-04-22
714  3.226516e+06  1.218405e+01 2015-04-27
715  3.226515e+06  2.284050e+00 2015-04-28
716  3.226515e+06  2.284050e+00 2015-04-29
717  3.226515e+06  2.284050e+00 2015-05-04
718  3.400737e+06  2.718919e+06 2015-05-05
719  3.153563e+06  6.002050e+00 2015-05-15
720  3.153563e+06  6.002050e+00 2015-05-25
721  3.153563e+06  6.002050e+00 2015-05-28
722  3.153563e+06  6.002050e+00 2015-06-03
723  3.153565e+06  1.700205e+01 2015-06-04
724  3.170331e+06  6.985920e+05 2015-06-07
725  3.106823e+06  1.670050e+00 2015-06-08
726  3.514350e+06  2.879268e+06 2015-06-21
727  3.252599e+06  5.834050e+00 2015-06-26
728  3.209661e+06  2.780286e+06 2015-06-30
729  3.209661e+06  2.780286e+06 2015-07-03
730  2.956908e+06  5.854050e+00 2015-07-06
731  2.956908e+06  5.854050e+00 2015-07-12
732  2.956908e+06  5.854050e+00 2015-07-13
733  3.081511e+06  3.624050e+00 2015-08-03
734  3.127977e+06  2.573998e+06 2015-08-06
735  2.893980e+06  3.223005e+01 2015-08-07
736  2.893978e+06  6.655050e+00 2015-08-20

[737 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10

[780 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
751  2.788972e+06  9.064050e+00 2015-12-14
752  2.788972e+06  9.064050e+00 2015-12-17
753  2.788972e+06  9.064050e+00 2015-12-22
754  2.788972e+06  9.064050e+00 2015-12-29
755  2.788971e+06  1.331050e+00 2016-01-12
756  2.961261e+06  2.961240e+06 2016-01-13
757  2.961263e+06  2.961256e+06 2016-01-18
758  2.961263e+06  2.961256e+06 2016-01-25
759  2.692059e+06  2.182050e+00 2016-02-05
760  2.692059e+06  2.182050e+00 2016-02-11
761  2.692061e+06  1.168205e+01 2016-02-16
762  2.692061e+06  1.168205e+01 2016-02-22
763  2.748960e+06  2.841215e+04 2016-03-10
764  2.748960e+06  2.841215e+04 2016-03-14
765  2.748960e+06  2.841215e+04 2016-03-17
766  2.748960e+06  2.841215e+04 2016-03-27
767  2.748960e+06  2.841215e+04 2016-03-28
768  2.748960e+06  2.841215e+04 2016-04-11
769  3.028412e+06  3.028412e+06 2016-04-13
770  3.028412e+06  3.028412e+06 2016-04-17
771  3.028412e+06  3.028412e+06 2016-05-01
772  2.753108e+06  6.886580e+01 2016-05-10
773  2.753108e+06  6.886580e+01 2016-05-18
774  2.887937e+06  2.887937e+06 2016-06-14
775  2.887937e+06  2.887937e+06 2016-07-07
776  2.887937e+06  2.887937e+06 2016-07-13
777  2.887937e+06  2.887937e+06 2016-08-10
778  2.887937e+06  2.887937e+06 2016-08-15
779  2.625398e+06  2.615800e+00 2016-08-26
780  2.625398e+06  2.615800e+00 2016-10-17

[781 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
752  2.788972e+06  9.064050e+00 2015-12-17
753  2.788972e+06  9.064050e+00 2015-12-22
754  2.788972e+06  9.064050e+00 2015-12-29
755  2.788971e+06  1.331050e+00 2016-01-12
756  2.961261e+06  2.961240e+06 2016-01-13
757  2.961263e+06  2.961256e+06 2016-01-18
758  2.961263e+06  2.961256e+06 2016-01-25
759  2.692059e+06  2.182050e+00 2016-02-05
760  2.692059e+06  2.182050e+00 2016-02-11
761  2.692061e+06  1.168205e+01 2016-02-16
762  2.692061e+06  1.168205e+01 2016-02-22
763  2.748960e+06  2.841215e+04 2016-03-10
764  2.748960e+06  2.841215e+04 2016-03-14
765  2.748960e+06  2.841215e+04 2016-03-17
766  2.748960e+06  2.841215e+04 2016-03-27
767  2.748960e+06  2.841215e+04 2016-03-28
768  2.748960e+06  2.841215e+04 2016-04-11
769  3.028412e+06  3.028412e+06 2016-04-13
770  3.028412e+06  3.028412e+06 2016-04-17
771  3.028412e+06  3.028412e+06 2016-05-01
772  2.753108e+06  6.886580e+01 2016-05-10
773  2.753108e+06  6.886580e+01 2016-05-18
774  2.887937e+06  2.887937e+06 2016-06-14
775  2.887937e+06  2.887937e+06 2016-07-07
776  2.887937e+06  2.887937e+06 2016-07-13
777  2.887937e+06  2.887937e+06 2016-08-10
778  2.887937e+06  2.887937e+06 2016-08-15
779  2.625398e+06  2.615800e+00 2016-08-26
780  2.625398e+06  2.615800e+00 2016-10-17
781  2.625398e+06  2.615800e+00 2016-10-18

[782 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
753  2.788972e+06  9.064050e+00 2015-12-22
754  2.788972e+06  9.064050e+00 2015-12-29
755  2.788971e+06  1.331050e+00 2016-01-12
756  2.961261e+06  2.961240e+06 2016-01-13
757  2.961263e+06  2.961256e+06 2016-01-18
758  2.961263e+06  2.961256e+06 2016-01-25
759  2.692059e+06  2.182050e+00 2016-02-05
760  2.692059e+06  2.182050e+00 2016-02-11
761  2.692061e+06  1.168205e+01 2016-02-16
762  2.692061e+06  1.168205e+01 2016-02-22
763  2.748960e+06  2.841215e+04 2016-03-10
764  2.748960e+06  2.841215e+04 2016-03-14
765  2.748960e+06  2.841215e+04 2016-03-17
766  2.748960e+06  2.841215e+04 2016-03-27
767  2.748960e+06  2.841215e+04 2016-03-28
768  2.748960e+06  2.841215e+04 2016-04-11
769  3.028412e+06  3.028412e+06 2016-04-13
770  3.028412e+06  3.028412e+06 2016-04-17
771  3.028412e+06  3.028412e+06 2016-05-01
772  2.753108e+06  6.886580e+01 2016-05-10
773  2.753108e+06  6.886580e+01 2016-05-18
774  2.887937e+06  2.887937e+06 2016-06-14
775  2.887937e+06  2.887937e+06 2016-07-07
776  2.887937e+06  2.887937e+06 2016-07-13
777  2.887937e+06  2.887937e+06 2016-08-10
778  2.887937e+06  2.887937e+06 2016-08-15
779  2.625398e+06  2.615800e+00 2016-08-26
780  2.625398e+06  2.615800e+00 2016-10-17
781  2.625398e+06  2.615800e+00 2016-10-18
782  2.527121e+06  2.815800e+00 2016-11-07

[783 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
754  2.788972e+06  9.064050e+00 2015-12-29
755  2.788971e+06  1.331050e+00 2016-01-12
756  2.961261e+06  2.961240e+06 2016-01-13
757  2.961263e+06  2.961256e+06 2016-01-18
758  2.961263e+06  2.961256e+06 2016-01-25
759  2.692059e+06  2.182050e+00 2016-02-05
760  2.692059e+06  2.182050e+00 2016-02-11
761  2.692061e+06  1.168205e+01 2016-02-16
762  2.692061e+06  1.168205e+01 2016-02-22
763  2.748960e+06  2.841215e+04 2016-03-10
764  2.748960e+06  2.841215e+04 2016-03-14
765  2.748960e+06  2.841215e+04 2016-03-17
766  2.748960e+06  2.841215e+04 2016-03-27
767  2.748960e+06  2.841215e+04 2016-03-28
768  2.748960e+06  2.841215e+04 2016-04-11
769  3.028412e+06  3.028412e+06 2016-04-13
770  3.028412e+06  3.028412e+06 2016-04-17
771  3.028412e+06  3.028412e+06 2016-05-01
772  2.753108e+06  6.886580e+01 2016-05-10
773  2.753108e+06  6.886580e+01 2016-05-18
774  2.887937e+06  2.887937e+06 2016-06-14
775  2.887937e+06  2.887937e+06 2016-07-07
776  2.887937e+06  2.887937e+06 2016-07-13
777  2.887937e+06  2.887937e+06 2016-08-10
778  2.887937e+06  2.887937e+06 2016-08-15
779  2.625398e+06  2.615800e+00 2016-08-26
780  2.625398e+06  2.615800e+00 2016-10-17
781  2.625398e+06  2.615800e+00 2016-10-18
782  2.527121e+06  2.815800e+00 2016-11-07
783  2.527121e+06  2.815800e+00 2016-11-16

[784 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
758  2.961263e+06  2.961256e+06 2016-01-25
759  2.692059e+06  2.182050e+00 2016-02-05
760  2.692059e+06  2.182050e+00 2016-02-11
761  2.692061e+06  1.168205e+01 2016-02-16
762  2.692061e+06  1.168205e+01 2016-02-22
763  2.748960e+06  2.841215e+04 2016-03-10
764  2.748960e+06  2.841215e+04 2016-03-14
765  2.748960e+06  2.841215e+04 2016-03-17
766  2.748960e+06  2.841215e+04 2016-03-27
767  2.748960e+06  2.841215e+04 2016-03-28
768  2.748960e+06  2.841215e+04 2016-04-11
769  3.028412e+06  3.028412e+06 2016-04-13
770  3.028412e+06  3.028412e+06 2016-04-17
771  3.028412e+06  3.028412e+06 2016-05-01
772  2.753108e+06  6.886580e+01 2016-05-10
773  2.753108e+06  6.886580e+01 2016-05-18
774  2.887937e+06  2.887937e+06 2016-06-14
775  2.887937e+06  2.887937e+06 2016-07-07
776  2.887937e+06  2.887937e+06 2016-07-13
777  2.887937e+06  2.887937e+06 2016-08-10
778  2.887937e+06  2.887937e+06 2016-08-15
779  2.625398e+06  2.615800e+00 2016-08-26
780  2.625398e+06  2.615800e+00 2016-10-17
781  2.625398e+06  2.615800e+00 2016-10-18
782  2.527121e+06  2.815800e+00 2016-11-07
783  2.527121e+06  2.815800e+00 2016-11-16
784  2.527121e+06  2.815800e+00 2016-11-21
785  2.832118e+06  2.832118e+06 2016-12-13
786  2.832118e+06  2.832118e+06 2016-12-21
787  2.748118e+06  1.908118e+06 2017-01-10

[788 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
759  2.692059e+06  2.182050e+00 2016-02-05
760  2.692059e+06  2.182050e+00 2016-02-11
761  2.692061e+06  1.168205e+01 2016-02-16
762  2.692061e+06  1.168205e+01 2016-02-22
763  2.748960e+06  2.841215e+04 2016-03-10
764  2.748960e+06  2.841215e+04 2016-03-14
765  2.748960e+06  2.841215e+04 2016-03-17
766  2.748960e+06  2.841215e+04 2016-03-27
767  2.748960e+06  2.841215e+04 2016-03-28
768  2.748960e+06  2.841215e+04 2016-04-11
769  3.028412e+06  3.028412e+06 2016-04-13
770  3.028412e+06  3.028412e+06 2016-04-17
771  3.028412e+06  3.028412e+06 2016-05-01
772  2.753108e+06  6.886580e+01 2016-05-10
773  2.753108e+06  6.886580e+01 2016-05-18
774  2.887937e+06  2.887937e+06 2016-06-14
775  2.887937e+06  2.887937e+06 2016-07-07
776  2.887937e+06  2.887937e+06 2016-07-13
777  2.887937e+06  2.887937e+06 2016-08-10
778  2.887937e+06  2.887937e+06 2016-08-15
779  2.625398e+06  2.615800e+00 2016-08-26
780  2.625398e+06  2.615800e+00 2016-10-17
781  2.625398e+06  2.615800e+00 2016-10-18
782  2.527121e+06  2.815800e+00 2016-11-07
783  2.527121e+06  2.815800e+00 2016-11-16
784  2.527121e+06  2.815800e+00 2016-11-21
785  2.832118e+06  2.832118e+06 2016-12-13
786  2.832118e+06  2.832118e+06 2016-12-21
787  2.748118e+06  1.908118e+06 2017-01-10
788  2.579368e+06  5.186782e+04 2017-02-03

[789 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01
25   1.401573e+05  1.318750e+00 2000-08-10
26   1.401573e+05  1.318750e+00 2000-08-18
27   1.401573e+05  1.318750e+00 2000-08-21
28   1.401573e+05  1.318750e+00 2000-09-03
29   1.894013e+05  1.894013e+05 2000-09-05
..            ...           ...        ...
762  2.692061e+06  1.168205e+01 2016-02-22
763  2.748960e+06  2.841215e+04 2016-03-10
764  2.748960e+06  2.841215e+04 2016-03-14
765  2.748960e+06  2.841215e+04 2016-03-17
766  2.748960e+06  2.841215e+04 2016-03-27
767  2.748960e+06  2.841215e+04 2016-03-28
768  2.748960e+06  2.841215e+04 2016-04-11
769  3.028412e+06  3.028412e+06 2016-04-13
770  3.028412e+06  3.028412e+06 2016-04-17
771  3.028412e+06  3.028412e+06 2016-05-01
772  2.753108e+06  6.886580e+01 2016-05-10
773  2.753108e+06  6.886580e+01 2016-05-18
774  2.887937e+06  2.887937e+06 2016-06-14
775  2.887937e+06  2.887937e+06 2016-07-07
776  2.887937e+06  2.887937e+06 2016-07-13
777  2.887937e+06  2.887937e+06 2016-08-10
778  2.887937e+06  2.887937e+06 2016-08-15
779  2.625398e+06  2.615800e+00 2016-08-26
780  2.625398e+06  2.615800e+00 2016-10-17
781  2.625398e+06  2.615800e+00 2016-10-18
782  2.527121e+06  2.815800e+00 2016-11-07
783  2.527121e+06  2.815800e+00 2016-11-16
784  2.527121e+06  2.815800e+00 2016-11-21
785  2.832118e+06  2.832118e+06 2016-12-13
786  2.832118e+06  2.832118e+06 2016-12-21
787  2.748118e+06  1.908118e+06 2017-01-10
788  2.579368e+06  5.186782e+04 2017-02-03
789  2.864368e+06  1.176868e+06 2017-02-14
790  2.964368e+06  2.964368e+06 2017-03-09
791  2.731584e+06  4.037438e+05 2017-04-06

[792 rows x 3 columns]
            value          cash       date
0    1.000000e+05  1.000000e+05 2000-01-01
1    9.090925e+04  1.750000e+00 2000-01-26
2    9.090925e+04  1.750000e+00 2000-02-04
3    9.090925e+04  1.750000e+00 2000-02-24
4    9.090925e+04  1.750000e+00 2000-02-28
5    9.090925e+04  1.750000e+00 2000-02-29
6    9.090925e+04  1.750000e+00 2000-03-01
7    9.881425e+04  9.881425e+04 2000-03-02
8    9.881425e+04  9.881425e+04 2000-03-09
9    8.983150e+04  4.000000e+00 2000-03-21
10   8.983150e+04  4.000000e+00 2000-03-30
11   8.983150e+04  4.000000e+00 2000-04-02
12   8.983150e+04  4.000000e+00 2000-04-04
13   8.983150e+04  4.000000e+00 2000-04-17
14   8.983150e+04  4.000000e+00 2000-04-23
15   8.983150e+04  4.000000e+00 2000-04-24
16   1.497165e+05  1.497165e+05 2000-04-25
17   1.361064e+05  4.918750e+00 2000-05-01
18   1.361064e+05  4.918750e+00 2000-05-21
19   1.361064e+05  4.918750e+00 2000-05-25
20   1.361064e+05  4.918750e+00 2000-06-05
21   1.541729e+05  1.541729e+05 2000-06-06
22   1.541729e+05  1.541729e+05 2000-07-11
23   1.401573e+05  1.318750e+00 2000-07-31
24   1.401573e+05  1.318750e+00 2000-08-01

## Best Case Simulation
Using outlook equals 'high', what is our return for the two strategies

In [9]:
if one_account_limit:
    """ One Account """
    # Calculate worst case for the naive strategy
    high_naive_portfolio = simulate_one_account_limit(10000, 'high', 'naive')
    # Calculate returns
    high_naive_portfolio['return'] = calculate_returns(high_naive_portfolio, 'value')
    high_naive_portfolio['norm return'] = high_naive_portfolio['return'] / high_naive_portfolio.iloc[0]['value']
    # print(high_naive_portfolio)

    # Calculate worst case for the conservative strategy
    high_conservative_portfolio = simulate_one_account_limit(10000, 'high', 'conservative')
    # Calculate returns
    high_conservative_portfolio['return'] = calculate_returns(high_conservative_portfolio, 'value')
    high_conservative_portfolio['norm return'] = high_conservative_portfolio['return'] / high_conservative_portfolio.iloc[0]['value']
    # print(high_conservative_portfolio)

    # Add the two best cases to the portfolios array
    portfolios['hnp'] = high_naive_portfolio
    portfolios['hcp'] = high_conservative_portfolio

## Fill in Dates
Fills in the dates outside of trading dates

In [10]:
# for portfolio_name in portfolios.keys():
    
#     portfolio = portfolios[portfolio_name]
    
#     # Get simulation date range to fill in the values
#     date_range = pd.date_range(start_date, end_date)
    
#     new_portfolio =
#     if one_account_limit:
#         new_portfolio = pd.DataFrame({'value': [], 'cash_invested': [], 'date': date_range})
#     else:
#         new_portfolio = pd.DataFrame({'value': [], 'cash': [], 'date': date_range})

## Absolute Returns
Get the absolute returns for the portfolios.

In [11]:
absolute_portfolios = None
for name, portfolio in portfolios.items():
    portfolio['year'] = pd.DatetimeIndex(portfolio['date']).year.astype(int)
    
    portfolio['change'] = portfolio['value'].shift(-1) - portfolio['value']

    # Calculate annualized returns
    absolute_returns = []
    years = np.sort(portfolio['year'].unique())
    for year in years:
        year_data = portfolio[portfolio['year'] == year]
        start_value = year_data.iloc[0]['value']
        end_value = year_data.tail(1).iloc[0]['value']
        ####
        # TODO: divide by start value once we are full utilizing returns!!!
        ####
        absolute_returns.append(end_value - start_value)
        
    if absolute_portfolios is None:
        absolute_portfolios = pd.DataFrame({name: absolute_returns},
                                            index=years)
    else:
        absolute_portfolios[name] = absolute_returns
                
print(absolute_portfolios)
absolute_portfolios.to_csv('./data/results-mult-account/fee_10_percent_abs_annual_port_rets.csv')

             multi
2000  2.877593e+05
2001  1.261177e+06
2002  1.590789e+06
2003  6.612163e+04
2004 -4.222608e+05
2005 -1.945089e+05
2006 -4.557604e+05
2007  4.817810e+04
2008  5.071264e+05
2009  2.082872e+05
2010 -4.337664e+05
2011  3.821976e+05
2012 -4.011876e+05
2013  2.298018e+04
2014  4.827183e+05
2015 -6.365017e+05
2016  4.314664e+04
2017  3.141258e+05
2018  3.610390e+04

## Annualizing Data
We will now group the data up by year so that we can annualize it and analyze it better, starting in 2000.

In [12]:
annualized_portfolios = None
for name, portfolio in portfolios.items():
    portfolio['year'] = pd.DatetimeIndex(portfolio['date']).year.astype(int)

    # Calculate annualized returns
    annualized_returns = []
    years = np.sort(portfolio['year'].unique())
    for year in years:
        year_data = portfolio[portfolio['year'] == year]
        start_value = year_data.iloc[0]['value']
        end_value = year_data.tail(1).iloc[0]['value']

        # If there is a one account cap for any given tender offer, 
        # we assume that you will only need $50,000 in order to max out a single account
        # for each tender offer. Thus, we divide our change in portfolio value across the
        # year by $50,000, as this would be the principal needed to safely follow this strategy
        if one_account_limit:
            annualized_returns.append((end_value - start_value) / 50000)
        else:
            annualized_returns.append((end_value - start_value) / start_value)
        
    if annualized_portfolios is None:
        annualized_portfolios = pd.DataFrame({name: annualized_returns},
                                            index=years)
    else:
        annualized_portfolios[name] = annualized_returns
                
print(annualized_portfolios)
annualized_portfolios.to_csv('./data/results-mult-account/fee_10_percent_annual_port_rets.csv')

         multi
2000  2.877593
2001  3.483390
2002  0.980014
2003  0.019995
2004 -0.125188
2005 -0.065918
2006 -0.165355
2007  0.020943
2008  0.237513
2009  0.063734
2010 -0.137253
2011  0.140175
2012 -0.129051
2013  0.007717
2014  0.176956
2015 -0.185814
2016  0.015470
2017  0.114306
2018  0.012969

## Analyzing portfolios
We will now calculate things like the standard deviation of returns, sharpe ratios, overall returns, etc.

In [13]:
analysis_data = pd.DataFrame(columns={'strategy', 'final_ret', 'ret_std', 'sharpe_ratio'})

# TODO: Use anualized returns/std deviation to calculate this stuff
for strategy in annualized_portfolios:
    portfolio = annualized_portfolios[strategy]
    
    row = {}
    row['strategy'] = strategy
    
    # Calculate cash needed to maintain a single account:
    
    # Calculate final return
    final_ret = 1
    for ret in portfolio.values:
        final_ret = final_ret * (1 + ret)
    row['final_ret'] = final_ret - 1
    
    # Calculate standard deviations
    row['ret_std'] = portfolio.std()
    
    # Calculate Sharpe Ratio using MEAN 20 YEAR TREASURY RATE as risk free rate
#     Sharpe ratio = (return - risk_free_return) / std_dev
    row['sharpe_ratio'] = (row['final_ret'] - .024) / row['ret_std']
    
    
    # Add to analysis dataframe
    analysis_data = analysis_data.append(row, ignore_index=True)

print(analysis_data)

   sharpe_ratio strategy  final_ret   ret_std
0     28.874489    multi  29.518178  1.021461

## Getting Time Series Data
Just save the portfolio data

In [14]:
# for name, portfolio in portfolios.items():
#     if one_account_limit:
#         time_series_data = portfolio.drop(['cash_invested', 'return','norm return'], axis=1).set_index('date')
#     else:
#         time_series_data = portfolio.drop(['cash', 'return','norm return'], axis=1).set_index('date')

#     time_series_data.to_csv('./data/results-mult-account/time_series_data_' + name + '.csv')

## Get Odd lots/Tender lots by month
Just like it sounds

In [33]:
# Get Odd lots by month
odd_lot_data['year'] = pd.DatetimeIndex(odd_lot_data['date']).year.astype(int)
odd_lot_data['month'] = pd.DatetimeIndex(odd_lot_data['date']).month.astype(int)
odd_lots_by_month = odd_lot_data.groupby(['year', 'month']).count()['cik'].reset_index()
odd_lots_by_month.rename({'cik': 'odd lot offers'}, inplace=True, axis=1)
odd_lots_by_month.to_csv('odd_lot_offers_by_month.csv', index=False)
print(odd_lots_by_month)


# Get tender offers by month
tender_offer_data = pd.read_csv('./data/cleaned-data/tender_offer_data.csv')
# Remove any data rows where there have been or duplicates
tender_offer_data.drop_duplicates(subset=['cik', 'date'], inplace = True)
# Make the date columns into actual python datetimes
tender_offer_data['date'] = pd.to_datetime(tender_offer_data['date'])
# Only look at data inside of date range
tender_offer_data = tender_offer_data[(tender_offer_data['date'] > start_date) & (tender_offer_data['date'] < end_date)]

tender_offer_data['year'] = pd.DatetimeIndex(tender_offer_data['date']).year.astype(int)
tender_offer_data['month'] = pd.DatetimeIndex(tender_offer_data['date']).month.astype(int)
tender_offer_data = tender_offer_data.groupby(['year', 'month']).count()['cik'].reset_index()
tender_offer_data.rename({'cik': 'tender offer'}, inplace=True, axis=1)
tender_offer_data.to_csv('tender_offers_by_month.csv', index=False)
print(tender_offer_data)

     year  month  odd lot offers
0    2000      1               2
1    2000      2               3
2    2000      3               3
3    2000      4               2
4    2000      5               1
5    2000      6               1
6    2000      7               1
7    2000      8               4
8    2000      9               5
9    2000     10               3
10   2000     11               3
11   2000     12               5
12   2001      1               1
13   2001      2               3
14   2001      3               2
15   2001      4               4
16   2001      5               2
17   2001      6               2
18   2001      7               4
19   2001      8               3
20   2001      9               1
21   2001     10               1
22   2001     11               4
23   2001     12               3
24   2002      1               1
25   2002      2               1
26   2002      3               1
27   2002      4               3
28   2002      5               4
29   2002      7               1
..    ...    ...             ...
162  2015     10               1
163  2015     11               5
164  2015     12               3
165  2016      1               1
166  2016      2               3
167  2016      3               3
168  2016      4               1
169  2016      5               3
170  2016      7               2
171  2016      8               1
172  2016     10               2
173  2016     11               2
174  2017      1               1
175  2017      2               1
176  2017      4               2
177  2017      5               2
178  2017      6               2
179  2017      8               4
180  2017      9               1
181  2017     11               3
182  2018      1               1
183  2018      2               2
184  2018      3               2
185  2018      4               4
186  2018      5               3
187  2018      7               1
188  2018      8               2
189  2018      9               1
190  2018     10               1
191  2018     11               1

[192 rows x 3 columns]
     year  month  tender offer
0    2000      1             5
1    2000      2            11
2    2000      3            16
3    2000      4            20
4    2000      5            11
5    2000      6            15
6    2000      7            10
7    2000      8            13
8    2000      9            14
9    2000     10            15
10   2000     11            16
11   2000     12            17
12   2001      1            12
13   2001      2            19
14   2001      3            16
15   2001      4            39
16   2001      5            52
17   2001      6            38
18   2001      7            25
19   2001      8            29
20   2001      9            27
21   2001     10            39
22   2001     11            54
23   2001     12            29
24   2002      1            28
25   2002      2            20
26   2002      3            13
27   2002      4            23
28   2002      5            48
29   2002      6            20
..    ...    ...           ...
198  2016      7            27
199  2016      8            51
200  2016      9            77
201  2016     10            29
202  2016     11            44
203  2016     12            76
204  2017      1            31
205  2017      2            41
206  2017      3            70
207  2017      4            25
208  2017      5            58
209  2017      6            60
210  2017      7            18
211  2017      8            68
212  2017      9            53
213  2017     10            34
214  2017     11            46
215  2017     12            57
216  2018      1            26
217  2018      2            57
218  2018      3            52
219  2018      4            33
220  2018      5            49
221  2018      6            61
222  2018      7            23
223  2018      8            63
224  2018      9            53
225  2018     10            24
226  2018     11            53
227  2018     12            48

[228 rows x 3 columns]