# Visualization Code for OddLot

This Jupyter Notebook will hold all of the code for deriving the data in Charon SSG's slide deck.


## Base Code
This base code will be needed for all of the visualizations. So I'm putting it right at the start. This includes things such as importing needed modules and reading in and cleaning the data.

Estimated return is simply shares buying back/outstanding shares, discretized by the increments

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime

# Constants
####
# TODO: get montly treasury rate and average that across year
RISK_FREE_RATE = .0469 # MEAN 20 YEAR TREASURY RATE
####

odd_lot_data = pd.read_csv('./data/cleaned-data/url_data.csv')

# Remove any data rows where there have been errors or duplicates
odd_lot_data.dropna(subset=['exp date', 'trading px'], inplace=True)
odd_lot_data.drop_duplicates(subset=['cik', 'date'], inplace = True)

# Add average price
odd_lot_data['avg'] = (odd_lot_data['high'] - odd_lot_data['low']) / 2 + odd_lot_data['low']

# Make the date columns into actual python datetimes
odd_lot_data['date'] = pd.to_datetime(odd_lot_data['date'])
odd_lot_data['exp date'] = pd.to_datetime(odd_lot_data['exp date'])
odd_lot_data['px date'] = pd.to_datetime(odd_lot_data['px date'])
odd_lot_data['pay date'] = pd.to_datetime(odd_lot_data['exp date']).apply(lambda date: date +  datetime.timedelta(days=6))
# odd_lot_data['year'] = pd.DatetimeIndex(odd_lot_data['date']).year

# Only look at data inside of date range
start_date = pd.to_datetime('20000101', format='%Y%m%d', errors='ignore')
end_date = pd.to_datetime('20181231', format='%Y%m%d', errors='ignore')
odd_lot_data = odd_lot_data[(odd_lot_data['date'] > start_date) & (odd_lot_data['pay date'] < end_date)]
# print(odd_lot_data)

# Cast price cap and share cap as ints
odd_lot_data['price cap'] = odd_lot_data['price cap'].astype(float, errors='ignore') 
odd_lot_data['share cap'] = odd_lot_data['share cap'].astype(float, errors='ignore')
print(odd_lot_data)


odd_lot_data.sort_values('date', inplace=True)
odd_lot_data.reset_index(drop=True, inplace=True)

# Initialize fonts
georgia_font = {'fontname':'Georgia'}

              cik       date  \
0            1750 2015-04-27
1            2135 2006-02-09
2            2491 2011-04-08
3            3370 2007-11-21
4            3545 2018-09-05
5            5117 2005-09-07
6           12978 2005-03-30
7           14693 2003-02-04
8           14846 2010-09-22
9           78749 2007-08-21
10          78890 2006-03-09
11         315858 2018-03-20
13         318154 2011-11-08
14         350698 2006-03-10
15         701288 2001-11-26
17         701288 2003-03-18
18         703351 2006-08-29
19         716459 2000-09-29
20         722104 2006-08-14
21         723209 2006-11-20
22         723209 2007-08-15
23         733269 2006-08-07
24         733269 2018-11-13
25         760498 2007-08-03
26         782842 2011-09-14
27         812482 2008-05-19
28         824803 2003-04-23
30         830656 2004-12-27
32         832488 2015-11-02
33         835540 2008-10-20
..            ...        ...
663  "0001362925" 2016-03-14
668  "0001371446" 2011-08-02
673  "0001371446" 2011-12-01
674  "0001371446" 2012-05-09
675  "0001371446" 2012-11-05
676  "0001371446" 2013-05-21
677  "0001371446" 2014-07-24
679  "0001371489" 2016-03-10
684  "0001380393" 2016-02-05
688  "0001398659" 2014-03-06
689  "0001401564" 2016-07-13
690  "0001402902" 2017-11-20
696  "0001426506" 2014-10-30
698  "0001432150" 2012-03-28
703  "0001434621" 2010-11-18
704  "0001437226" 2012-02-07
706  "0001444363" 2018-10-09
707  "0001452217" 2010-11-08
709  "0001473597" 2014-01-31
710  "0001475841" 2015-07-06
711  "0001476246" 2017-06-23
713  "0001494904" 2012-05-09
714  "0001495479" 2014-11-12
722  "0001509223" 2015-04-02
723  "0001519061" 2016-03-28
725  "0001520566" 2016-02-11
727  "0001569391" 2015-05-04
730  "0001587755" 2016-01-12
731  "0001610114" 2015-12-17
733  "0001675033" 2017-04-06

                                                   url error   exp date  \
0    https://www.sec.gov//Archives/edgar/data/1750/...   NaN 2015-05-22
1    https://www.sec.gov//Archives/edgar/data/2135/...   NaN 2006-03-10
2    https://www.sec.gov//Archives/edgar/data/2491/...   NaN 2011-05-06
3    https://www.sec.gov//Archives/edgar/data/3370/...   NaN 2007-12-19
4    https://www.sec.gov//Archives/edgar/data/3545/...   NaN 2018-10-03
5    https://www.sec.gov//Archives/edgar/data/5117/...   NaN 2005-10-04
6    https://www.sec.gov//Archives/edgar/data/12978...   NaN 2005-04-28
7    https://www.sec.gov//Archives/edgar/data/14693...   NaN 2003-03-04
8    https://www.sec.gov//Archives/edgar/data/14846...   NaN 2010-10-20
9    https://www.sec.gov//Archives/edgar/data/78749...   NaN 2007-09-19
10   https://www.sec.gov//Archives/edgar/data/78890...   NaN 2006-04-06
11   https://www.sec.gov//Archives/edgar/data/31585...   NaN 2018-04-17
13   https://www.sec.gov//Archives/edgar/data/31815...   NaN 2011-12-07
14   https://www.sec.gov//Archives/edgar/data/35069...   NaN 2006-04-12
15   https://www.sec.gov//Archives/edgar/data/70128...   NaN 2001-12-21
17   https://www.sec.gov//Archives/edgar/data/70128...   NaN 2003-04-14
18   https://www.sec.gov//Archives/edgar/data/70335...   NaN 2006-09-26
19   https://www.sec.gov//Archives/edgar/data/71645...   NaN 2000-10-31
20   https://www.sec.gov//Archives/edgar/data/72210...   NaN 2006-09-12
21   https://www.sec.gov//Archives/edgar/data/72320...   NaN 2006-12-19
22   https://www.sec.gov//Archives/edgar/data/72320...   NaN 2007-09-13
23   https://www.sec.gov//Archives/edgar/data/73326...   NaN 2006-09-12
24   https://www.sec.gov//Archives/edgar/data/73326...   NaN 2018-12-12
25   https://www.sec.gov//Archives/edgar/data/76049...   NaN 2007-09-04
26   https://www.sec.gov//Archives/edgar/data/78284...   NaN 2011-11-02
27   https://www.sec.gov//Archives/edgar/data/81248...   NaN 2008-06-20
28   https://www.sec.gov//Archives/edgar/data/82480...   NaN 2003-05-21
30   https://www.sec.gov//Archives/edgar/data/83065...   NaN 2005-01-26
32   https://www.sec.gov//Archives/edgar/data/83248...   NaN 2015-12-01
33   https://www.sec.gov//Archives/edgar/data/83554...   NaN 2008-11-17
..                                                 ...   ...        ...
663  https://www.sec.gov//Archives/edgar/data/13629...   NaN 2016-04-11
668  https://www.sec.gov//Archives/edgar/data/13714...   NaN 2011-08-29
673  https://www.sec.gov//Archives/edgar/data/13714...   NaN 2011-12-28
674  https://www.sec.gov//Archives/edgar/data/13714...   NaN 2012-06-06
675  https://www.sec.gov//Archives/edgar/data/13714...   NaN 2012-12-03
676  https://www.sec.gov//Archives/edgar/data/13714...   NaN 2013-06-18
677  https://www.sec.gov//Archives/edgar/data/13714...   NaN 2014-08-20
679  https://www.sec.gov//Archives/edgar/data/13714...   NaN 2016-04-07
684  https://www.sec.gov//Archives/edgar/data/13803...   NaN 2016-03-04
688  https://www.sec.gov//Archives/edgar/data/13986...   NaN 2014-04-02
689  https://www.sec.gov//Archives/edgar/data/14015...   NaN 2016-08-09
690  https://www.sec.gov//Archives/edgar/data/14029...   NaN 2017-12-19
696  https://www.sec.gov//Archives/edgar/data/14265...   NaN 2014-12-01
698  https://www.sec.gov//Archives/edgar/data/14321...   NaN 2012-04-24
703  https://www.sec.gov//Archives/edgar/data/14346...   NaN 2010-12-17
704  https://www.sec.gov//Archives/edgar/data/14372...   NaN 2012-03-07
706  https://www.sec.gov//Archives/edgar/data/14443...   NaN 2018-11-06
707  https://www.sec.gov//Archives/edgar/data/14522...   NaN 2010-12-08
709  https://www.sec.gov//Archives/edgar/data/14735...   NaN 2014-02-28
710  https://www.sec.gov//Archives/edgar/data/14758...   NaN 2015-07-31
711  https://www.sec.gov//Archives/edgar/data/14762...   NaN 2017-08-02
713  https://www.sec.gov//Archives/edgar/data/14949...   NaN 2012-06-08
714  https://www.sec.gov//Archives/edgar/data/14954...   NaN 2014-12-10
722  https://www.sec.gov//Archives/edgar/data/15092...   NaN 2015-04-29
723  https://www.sec.gov//Archives/edgar/data/15190...   NaN 2016-04-25
725  https://www.sec.gov//Archives/edgar/data/15205...   NaN 2016-03-11
727  https://www.sec.gov//Archives/edgar/data/15693...   NaN 2015-06-02
730  https://www.sec.gov//Archives/edgar/data/15877...   NaN 2016-02-10
731  https://www.sec.gov//Archives/edgar/data/16101...   NaN 2016-01-19
733  https://www.sec.gov//Archives/edgar/data/16750...   NaN 2017-05-05

     trading px    px date  tender px    low   high  increment     price cap  \
0       30.1400 2015-04-24        NaN  29.00  32.00      0.100  1.350000e+08
1       56.2400 2006-01-25        NaN  56.00  63.00      0.250           NaN
2       37.6800 2011-04-07        NaN  34.50  40.00      0.250  4.000000e+08
3       10.7700 2007-11-19        NaN  13.00  15.00      0.250  2.950000e+08
4       32.3000 2018-08-31      34.00    NaN    NaN        NaN           NaN
5        2.4500 2005-09-06       1.92    NaN    NaN        NaN           NaN
6       33.2100 2005-03-29        NaN  30.00  34.00        NaN           NaN
7       64.9000 2003-01-31        NaN  63.00  73.00      0.500           NaN
8        5.1600 2010-09-20       6.30    NaN    NaN        NaN           NaN
9       15.6300 2007-08-20        NaN  16.25  18.50      0.250           NaN
10      47.9800 2005-11-15        NaN  47.50  52.50      0.100           NaN
11       9.1800 2018-03-13       9.25    NaN    NaN        NaN           NaN
13      55.1700 2011-11-07        NaN  54.00  60.00      0.250  5.000000e+09
14      20.8900 2006-03-06      23.00    NaN    NaN        NaN           NaN
15      32.0247 2001-11-20      34.50    NaN    NaN        NaN           NaN
17      18.0000 2003-02-26      23.00    NaN    NaN        NaN           NaN
18      36.8200 2006-08-28        NaN  35.25  38.50      0.250           NaN
19      16.5000 2000-09-25        NaN  18.00  20.00      0.125           NaN
20       5.5900 2006-08-11        NaN   5.80   6.80      0.100           NaN
21      15.0100 2006-11-15      16.25    NaN    NaN        NaN           NaN
22      14.8500 2007-08-10      14.00    NaN    NaN        NaN           NaN
23      24.4900 2006-08-04        NaN  25.00  27.00      0.250           NaN
24      45.8900 2018-11-12        NaN  44.50  49.00      0.100  5.000000e+08
25      40.5900 2007-08-01        NaN  39.50  45.00      0.250           NaN
26       1.0400 2011-09-12        NaN   1.30   1.55      0.050           NaN
27      35.0000 2008-05-13      40.00    NaN    NaN        NaN           NaN
28      15.8700 2003-04-22        NaN  15.00  17.50      0.250           NaN
30       3.0700 2004-12-20       3.50    NaN    NaN        NaN           NaN
32       6.2400 2015-10-30       7.50    NaN    NaN        NaN           NaN
33       3.5100 2008-10-17        NaN   4.00   5.00      0.125           NaN
..          ...        ...        ...    ...    ...        ...           ...
663      3.4300 2016-03-11        NaN   3.20   3.60      0.100  1.500000e+07
668      2.9300 2011-08-01       3.05    NaN    NaN        NaN           NaN
673      2.0300 2011-11-29        NaN   1.80   2.00      0.050           NaN
674      2.6800 2012-05-07        NaN   2.75   3.00      0.050           NaN
675      2.9800 2012-11-02        NaN   3.00   3.25      0.050           NaN
676     22.0000 2013-05-20        NaN  22.50  23.50      0.050           NaN
677     25.3000 2014-07-21        NaN  28.00  29.00      0.200           NaN
679      3.3100 2016-03-09        NaN   3.30   4.00      0.100  1.200000e+07
684      4.0100 2016-02-04        NaN   4.25   4.75      0.050  1.000000e+08
688     16.7100 2014-03-05        NaN  16.50  18.00      0.250  3.000000e+08
689     13.5000 2016-07-11        NaN  13.00  14.00      0.100  4.000000e+07
690      8.3900 2017-11-17        NaN   9.23   9.65      0.060  2.000000e+08
696      2.0700 2014-10-29       2.41    NaN    NaN        NaN  1.609484e+07
698      2.7000 2012-03-27        NaN   2.85   3.10      0.010  2.000000e+06
703      6.8600 2010-11-17        NaN   7.25   7.75      0.100  1.500000e+07
704      4.5700 2012-02-06        NaN   4.65   5.50      0.050           NaN
706      6.9100 2018-10-08        NaN   7.24   7.94      0.050  5.000000e+07
707     27.9700 2010-11-03        NaN  24.50  27.50      0.250  1.300000e+08
709      1.4700 2014-01-30        NaN   1.00   1.54      0.050  3.000000e+07
710     20.6700 2015-07-02        NaN  19.60  22.50      0.100  1.000000e+08
711     39.6500 2017-06-09        NaN  38.00  45.00      0.100           NaN
713     19.3400 2012-05-08        NaN  19.25  22.00      0.250  6.100000e+07
714     14.4400 2014-11-06        NaN  12.50  14.50      0.100  5.000000e+07
722      2.4100 2015-03-31        NaN   2.40   2.75      0.050  5.000000e+07
723     37.8600 2016-03-18      35.63    NaN    NaN        NaN           NaN
725      8.6100 2016-02-10        NaN   8.20   9.40      0.100  1.000000e+08
727     12.8400 2015-04-30        NaN  13.50  14.00      0.100  3.300000e+08
730      7.0300 2016-01-11        NaN   9.00  10.00      0.100  5.000000e+07
731      9.5100 2015-12-16        NaN   9.00  10.00      0.100  3.000000e+07
733     11.0200 2017-03-29        NaN  11.50  12.17      0.110  1.000000e+07

      share cap  shares outstanding     avg   pay date
0           NaN          39661386.0  30.500 2015-05-28
1    55500000.0         118302227.0  59.500 2006-03-16
2           NaN          52916823.0  37.250 2011-05-12
3           NaN         116021508.0  14.000 2007-12-25
4      588235.0           8199957.0     NaN 2018-10-09
5     2864584.0          17204134.0     NaN 2005-10-10
6    23500000.0          93852590.0  32.000 2005-05-04
7     1500000.0          28891260.0  68.000 2003-03-10
8     2500000.0          14080186.0     NaN 2010-10-26
9     6000000.0          31437014.0  17.375 2007-09-25
10   10000000.0          58724211.0  50.000 2006-04-12
11    6486486.0          85709163.0     NaN 2018-04-23
13          NaN         876795191.0  57.000 2011-12-13
14   50000000.0         262705497.0     NaN 2006-04-18
15     500000.0           2079050.0     NaN 2001-12-27
17     350000.0           1838571.0     NaN 2003-04-20
18   11688311.0          82716539.0  36.875 2006-10-02
19    1668329.0          16683294.0  19.000 2000-11-06
20   10000000.0          61870000.0   6.300 2006-09-18
21     246154.0            674191.0     NaN 2006-12-25
22     300000.0            414617.0     NaN 2007-09-19
23   11111111.0          88033832.0  26.000 2006-09-18
24          NaN          78846830.0  46.750 2018-12-18
25     500000.0          15724536.0  42.250 2007-09-10
26   10000000.0         127553267.0   1.425 2011-11-08
27     600000.0           6348781.0     NaN 2008-06-26
28   15000000.0         102194940.0  16.250 2003-05-27
30    5500000.0           6872915.0     NaN 2005-02-01
32    2000000.0          14434887.0     NaN 2015-12-07
33     600000.0           6813007.0   4.500 2008-11-23
..          ...                 ...     ...        ...
663         NaN          51821800.0   3.400 2016-04-17
668   5000000.0          60736007.0     NaN 2011-09-04
673   5000000.0          54784406.0   1.900 2012-01-03
674   4000000.0          55355212.0   2.875 2012-06-12
675   4000000.0          48952185.0   3.125 2012-12-09
676   1250000.0          11805359.0  23.000 2013-06-24
677   1000000.0          10088200.0  28.500 2014-08-26
679         NaN          37292989.0   3.650 2016-04-13
684         NaN         221183518.0   4.500 2016-03-10
688         NaN         231716562.0  17.250 2014-04-08
689         NaN          13327916.0  13.500 2016-08-15
690         NaN         168892385.0   9.440 2017-12-25
696         NaN           8561997.0     NaN 2014-12-07
698         NaN          21587343.0   2.975 2012-04-30
703         NaN          11080929.0   7.500 2010-12-23
704    608000.0           3569102.0   5.075 2012-03-13
706         NaN          44273583.0   7.590 2018-11-12
707         NaN          18255698.0  26.000 2010-12-14
709         NaN          41886915.0   1.270 2014-03-06
710         NaN          35053339.0  21.050 2015-08-06
711   5580000.0          24634512.0  41.500 2017-08-08
713         NaN          16396965.0  20.625 2012-06-14
714         NaN          18656701.0  13.500 2014-12-16
722         NaN         128583734.0   2.575 2015-05-05
723   1165000.0          47177934.0     NaN 2016-05-01
725         NaN         102823731.0   8.800 2016-03-17
727         NaN         109040224.0  13.750 2015-06-08
730         NaN          45219380.0   9.500 2016-02-16
731         NaN          85447551.0   9.500 2016-01-25
733         NaN          12550746.0  11.835 2017-05-11

[485 rows x 16 columns]

## Flag Outliers

If an offer has crazy high return, I've flagged it so that we can take a look at it and make sure the values are correct.

In [2]:
# def calculate_sell_price(row):
#     if np.isnan(row['low']):
#         return row['tender px']
#     else:
#         return row['low']

# sell_prices = odd_lot_data.apply(lambda row: calculate_sell_price(row), axis=1)
# odd_lot_data['buy_low_px_spread'] = sell_prices - odd_lot_data['trading px']
# odd_lot_data['low_norm_return'] = odd_lot_data['buy_low_px_spread'] / odd_lot_data['trading px']

# highest_returns = odd_lot_data.sort_values(by='low_norm_return').tail(15)
# print(highest_returns)

## Simulation Variables
This section will handle any variables that we want to test, so that we can see what their effect is on returns.

In [3]:
### SET SIMULATOR VARIABLES
# Decide whether we are using a one account limit per company
one_account_limit = False
# tender_price_appreciation - how close doed a tender price gets to the low price
tender_price_appreciation = 0 # (increments: [0, .25, .5, .75, 1])
# Failure rates - what percent of tender offers do I have to sell back at market px
failure_rate = 0 # (increments: [0, .05, .1, .25, .5, .75])
failure_penalty_rate = 0 # (increments: [.01, .02, .05, .1])
# The percentage of the share cap we can take at max
share_cap_modifier = 1 # (increments: [1, .5, .25, .1])
# Fee rates - The fee rate for making a transaction

def get_appreciated_price(row):
    result = np.NaN
    if not np.isnan(row['low']):
        if row['low'] > row['trading px']:
            result = round(row['trading px'] + tender_price_appreciation * (row['low'] - row['trading px']), 2)
        else:
            result = row['trading px']
    else:
        if row['tender px'] > row['trading px']:
            result = round(row['trading px'] + tender_price_appreciation * (row['tender px'] - row['trading px']), 2)
        else:
            result = row['trading px']
    return result
#     print(row['low'])
#     print(row['tender px'])
#     print(row['trading px'])
#     print(result)
#     print('~~~~~~')

def get_our_share_cap(row, outlook='avg'):
    # Get sell price
    sell_price = row[outlook]
    if np.isnan(sell_price) or sell_price is None:
        sell_price = row['tender px']
        
    # If there is a share cap and price cap, pick the most limiting of the two given the outlook, as our share cap
    if row['share cap'] is not None and row['price cap'] is not None \
        and not np.isnan(row['share cap']) and not np.isnan(row['price cap']):
        price_share_cap = np.floor(float(row['price cap']) / float(sell_price))

        # Pick the most limiting of the two
        if row['share cap'] < price_share_cap:
            return np.double(row['share cap'] * share_cap_modifier)
        else:
            return price_share_cap * share_cap_modifier
        
    # If there is a no price cap, but there is a share cap, use that as our share cap
    elif row['share cap'] is not None and not np.isnan(row['share cap']):
        return row['share cap'] * share_cap_modifier
    
    # If there is a no share cap, but there is a share cap, use that as our share cap
    elif row['price cap'] is not None and not np.isnan(row['price cap']):
        price_share_cap = np.floor(row['price cap'] / sell_price)
        return price_share_cap * share_cap_modifier
    
    else:
        raise Exception("Must have a value for either the 'share cap' or 'price cap' columns")
        
if tender_price_appreciation > 0:
    odd_lot_data['trading px'] = odd_lot_data.apply(get_appreciated_price, axis=1)
odd_lot_data['our_share_cap'] = odd_lot_data.apply(get_our_share_cap, outlook='avg', axis=1)

## The Naive Strategy
Buy stocks of every tender lot offer, simple. Only do this if there is a one account limit. Multiple accounts will just use our attempted best strategy.

In [4]:
if one_account_limit:
    odd_lot_data['naive'] = 'y'
    print(odd_lot_data['naive'].value_counts())

## The Conservative Strategy
Only buy if the low price is above the initial buy price, ergo you can't ever lose money. Only do this if there is a one account limit. Multiple accounts will just use our attempted best strategy.

In [5]:
def conservative_strategy(row):
    if row['trading px'] <= row['low']:
        return 'y'
    elif row['trading px'] <= row['tender px']:
        return 'y'
    else:
        return 'n'
    
if one_account_limit:
    odd_lot_data['conservative'] = odd_lot_data.apply(lambda row: conservative_strategy(row), axis=1)
    print(odd_lot_data['conservative'].value_counts())

## The Simulator
This code will simulate our return based on what instructions we give it.

In [6]:
# Calculate the return for a row of oddlot data given the outlook
def calculate_odd_lot_return(row, outlook='avg'):
    sell_price = row[outlook]
    if np.isnan(sell_price) or sell_price is None:
        sell_price = row['tender px']
    return (sell_price - row['trading px']) / row['trading px']
    
# Simulate trading of as many stocks as possible at a time
def simulate_no_limit(principal, outlook):
    portfolio = pd.DataFrame({'value': [principal], 
                              'cash': [principal], 
                              'date': [pd.to_datetime('1/01/2000')]})
    # First calculate all returns given outlook
    odd_lot_data['ret'] = odd_lot_data.apply(calculate_odd_lot_return, outlook=outlook, axis=1)
    # Initialize stocks we are holding to 0
    odd_lot_data['stocks_held'] = np.zeros(len(odd_lot_data.index))
    
    trade_dates = odd_lot_data['date'].append(odd_lot_data['pay date']).sort_values().drop_duplicates()
    # Iterrate through every filing and pay day for the odd lot offers
    for trade_date in trade_dates:
        # Calculate the new portfolio value and cash after the day
        new_port_value = portfolio.tail(1)['value'].values[0]
        cash = portfolio.tail(1)['cash'].values[0]
        """ SELLING """
        # Tender any offers for the trade_date
        for odd_lot_index in odd_lot_data[odd_lot_data['pay date'] == trade_date].index:
            # Get the data for the odd_lot_offer
            odd_lot_offer = odd_lot_data.iloc[odd_lot_index]
            
            # If we have no stocks to sell, continue to next stock
            stocks_to_sell = odd_lot_offer['stocks_held']
            if stocks_to_sell == 0:
                "Continuing"
                continue
                
            # Calculate the failed and successful stocks
            failed_stocks = int(round(stocks_to_sell * failure_rate))
            successful_stocks = stocks_to_sell - failed_stocks
            trading_price = odd_lot_offer['trading px']

            # Update overall portfolio value
#             print('new_port_value: ' + str(new_port_value))
            new_port_value += successful_stocks * odd_lot_offer['ret'] * trading_price
            new_port_value -= failed_stocks * failure_penalty_rate * trading_price
#             print('new_port_value: ' + str(new_port_value))
#             print('ret: ' + str(odd_lot_offer['ret']))
            
            # Update cash
#             print('cash: ' + str(cash))
            cash += successful_stocks * (1 + odd_lot_offer['ret']) * trading_price
            cash += failed_stocks * (1 - failure_penalty_rate) * trading_price
#             print('cash: ' + str(cash))
            
            # Update stocks held
#             print(odd_lot_data.iloc[odd_lot_index]['stocks_held'])
            odd_lot_data.at[odd_lot_index, 'stocks_held'] = 0
#             print(odd_lot_data.iloc[odd_lot_index]['stocks_held'])

        
        """ BUYING """
        # Now let's look at any odd lots filed on the trade date and get the one with the highest expected return
        indexes_of_odd_lots_filed = odd_lot_data.index[odd_lot_data['date'] == trade_date]
        best_return = 0
        potential_buy_trade_ind = None
        for ind in indexes_of_odd_lots_filed:
            if odd_lot_data.iloc[ind]['ret'] > best_return:
                potential_buy_trade_ind = ind
                best_return = odd_lot_data.iloc[ind]['ret']
            
        # If there is no buy trade with a greater expected return than 0, then don't invest
        if potential_buy_trade_ind is None:
            portfolio = portfolio.append({'value': new_port_value,
                                          'cash': cash,
                                          'date': trade_date}, 
                                         ignore_index=True,)
            continue
        
        potential_buy_trade = odd_lot_data.iloc[potential_buy_trade_ind]
        stocks_to_buy = 0
        
        # Let's immediately buy this stock if we don't own any other stocks and it's expected return is > 0
        indexes_of_stocks_held = odd_lot_data.index[odd_lot_data['stocks_held'] > 0]
        if not len(indexes_of_stocks_held) > 0 and potential_buy_trade['ret'] > 0:
            stocks_to_buy = min(potential_buy_trade['our_share_cap'], np.floor(cash / potential_buy_trade['trading px']))
            
        # Else if its expected return is greater than 0, first try to sell less valuable stocks, then buy this stock
        elif potential_buy_trade['ret'] > 0:          
            # Next, let's sell any less valuable stocks 
            indexes_of_stocks_to_sell = odd_lot_data.index[(odd_lot_data['ret'] < potential_buy_trade['ret']) & \
                                                          (odd_lot_data['stocks_held'] > 0)]
            for odd_lot_index in indexes_of_stocks_to_sell:
                # If the stock held is less valuable, sell it and buy the more valuable stock
                if odd_lot_data.iloc[odd_lot_index]['ret'] < potential_buy_trade['ret']:
                    # TODO: Consider selling at low, since that may be a more reasonable assumption than
                    # selling at the initial trading px
                    cash += odd_lot_data.iloc[odd_lot_index]['trading px'] * odd_lot_data.iloc[odd_lot_index]['stocks_held']
                    odd_lot_data.at[odd_lot_index, 'stocks_held'] = 0
            
            # Finally, let's buy as many of the new stock as we can
            stocks_to_buy = min(potential_buy_trade['our_share_cap'], np.floor(cash / potential_buy_trade['trading px']))
            
        # Actually buy the stocks
        odd_lot_data.at[potential_buy_trade_ind, 'stocks_held'] = stocks_to_buy
        cash -= stocks_to_buy * odd_lot_data.iloc[potential_buy_trade_ind]['trading px']
                
        portfolio = portfolio.append({'value': new_port_value,
                                      'cash': cash,
                                      'date': trade_date}, 
                                     ignore_index=True,)
    return portfolio


# Simulate trading of 99 stocks at a time (99 stocks is the max for one account in odd lot)
def simulate_one_account_limit(principal, outlook, strategy):
    portfolio = pd.DataFrame({'value': [principal], 
                              'cash_invested': [0], 
                              'date': [pd.to_datetime('1/01/2000')]})
    # First calculate all returns given outlook
    odd_lot_data['ret'] = odd_lot_data.apply(calculate_odd_lot_return, outlook=outlook, axis=1)
    
    trade_dates = odd_lot_data['date'].append(odd_lot_data['pay date']).sort_values().drop_duplicates()
    # Iterrate through every filing and pay day for the odd lot offers
    for trade_date in trade_dates:
#         print("\n\n\n\n" + str(trade_date))
        # Get any trades for that day
        buy_trades = odd_lot_data[(odd_lot_data['date'] == trade_date) & (odd_lot_data[strategy] == 'y')]
        sell_trades = odd_lot_data[(odd_lot_data['pay date'] == trade_date) & (odd_lot_data[strategy] == 'y')]
#         print(buy_trades)
#         print(sell_trades)
        
        # Calculate the new portfolio value and cash after the day
        new_port_value = portfolio.tail(1)['value'].values[0]
        cash_invested = portfolio.tail(1)['cash_invested'].values[0]
        for i, buy_trade in buy_trades.iterrows():
            # In a buy trade, you buy 99 stocks
            cash_invested += 99 * buy_trade['trading px']
        for i, sell_trade in sell_trades.iterrows():
            # Set sell price to whatever outlook we are expecting, if the value is nan, use the tender px
            sell_price = sell_trade[outlook]
            if np.isnan(sell_price) or sell_price is None:
                sell_price = sell_trade['tender px']
            
            if sell_price > sell_trade['trading px']:
                # Sell back % of stocks at market price, i.e. the failure rate
                failed_stocks = int(round(99 * failure_rate))
                successful_stocks = 99 - failed_stocks

                # Update portfolio value after full trade
#                 new_port_value += successful_stocks * sell_price
#                 new_port_value += discounted_stocks * sell_trade['trading px']
                change_in_port_val = (successful_stocks * sell_trade['ret'] * sell_trade['trading px']) \
                                        - failed_stocks * failure_penalty_rate * sell_trade['trading px']
                new_port_value += change_in_port_val
            else:
                # Update portfolio value after full trade
                new_port_value += 99 * sell_trade['ret'] * sell_trade['trading px']
                
            # Sell back the stocks
            cash_invested -= 99 * sell_trade['trading px']
        
        portfolio = portfolio.append({'value': new_port_value,
                                      'cash_invested': cash_invested,
                                      'date': trade_date}, 
                                     ignore_index=True)
    return portfolio


def calculate_returns(portfolio, value_col):
    returns = np.empty(len(portfolio.index))
    for i in range(len(portfolio.index)):
        if i > 0:
            returns[i] = (portfolio.iloc[i][value_col] - portfolio.iloc[i-1][value_col])
        else:
            returns[i] = 0
    return returns

## Worst Case Simulation
Using outlook equals 'low', what is our return for the two strategies. Only do this if we are looking at one account.

In [7]:
portfolios = {}

if one_account_limit:
    """ One Account """
    # Calculate worst case for the naive strategy
    low_naive_portfolio = simulate_one_account_limit(10000, 'low', 'naive')
    # Calculate returns
    low_naive_portfolio['return'] = calculate_returns(low_naive_portfolio, 'value')
    low_naive_portfolio['norm return'] = low_naive_portfolio['return'] / low_naive_portfolio.iloc[0]['value']
#     print(low_naive_portfolio)

    # Calculate worst case for the conservative strategy
    low_conservative_portfolio = simulate_one_account_limit(10000, 'low', 'conservative')
    # Calculate returns
    low_conservative_portfolio['return'] = calculate_returns(low_conservative_portfolio, 'value')
    low_conservative_portfolio['norm return'] = low_conservative_portfolio['return'] / low_conservative_portfolio.iloc[0]['value']
#     print(low_conservative_portfolio)

    # Add the two worst cases to the portfolios array
    portfolios['lnp'] = low_naive_portfolio
    portfolios['lcp'] = low_conservative_portfolio

## Average Case Simulation
Using outlook == 'avg', what is our return for the two strategies

In [8]:
if one_account_limit:
    """ One Account """
    # Calculate worst case for the naive strategy
    avg_naive_portfolio = simulate_one_account_limit(10000, 'avg', 'naive')
    # Calculate returns
    avg_naive_portfolio['return'] = calculate_returns(avg_naive_portfolio, 'value')
    avg_naive_portfolio['norm return'] = avg_naive_portfolio['return'] / avg_naive_portfolio.iloc[0]['value']
    # print(avg_naive_portfolio)

    # Calculate worst case for the conservative strategy
    avg_conservative_portfolio = simulate_one_account_limit(10000, 'avg', 'conservative')
    # Calculate returns
    avg_conservative_portfolio['return'] = calculate_returns(avg_conservative_portfolio, 'value')
    avg_conservative_portfolio['norm return'] = avg_conservative_portfolio['return'] / avg_conservative_portfolio.iloc[0]['value']
    # print(avg_conservative_portfolio)

    # Add the two best cases to the portfolios array
    portfolios['anp'] = avg_naive_portfolio
    portfolios['acp'] = avg_conservative_portfolio
else:
    """ Multiple Account """
    # Calculate worst case for the naive strategy
    multi_account_portfolio = simulate_no_limit(100000, 'avg')
    # Calculate returns
    multi_account_portfolio['return'] = calculate_returns(multi_account_portfolio, 'value')
    multi_account_portfolio['norm return'] = multi_account_portfolio['return'] / multi_account_portfolio.iloc[0]['value']
    portfolios['multi'] = multi_account_portfolio
    # print(avg_naive_portfolio)

value                 100000
cash                  100000
date     2000-01-01 00:00:00
Name: 0, dtype: object
value                 100000
cash                    1.75
date     2000-01-26 00:00:00
Name: 1, dtype: object
value                 100000
cash                       3
date     2000-02-04 00:00:00
Name: 2, dtype: object
value                 100000
cash                      12
date     2000-02-24 00:00:00
Name: 3, dtype: object
value                 100000
cash                      12
date     2000-02-28 00:00:00
Name: 4, dtype: object
value                 100000
cash                      12
date     2000-02-29 00:00:00
Name: 5, dtype: object
value                 100000
cash                    8.08
date     2000-03-01 00:00:00
Name: 6, dtype: object
value                 100000
cash                    8.08
date     2000-03-02 00:00:00
Name: 7, dtype: object
value                 100000
cash                    8.08
date     2000-03-09 00:00:00
Name: 8, dtype: object
value                 100000
cash                     2.5
date     2000-03-21 00:00:00
Name: 9, dtype: object
value                 100000
cash                     2.5
date     2000-03-30 00:00:00
Name: 10, dtype: object
value                 100000
cash                     2.5
date     2000-04-02 00:00:00
Name: 11, dtype: object
value                 100000
cash                     2.5
date     2000-04-04 00:00:00
Name: 12, dtype: object
value                 100000
cash                     2.5
date     2000-04-17 00:00:00
Name: 13, dtype: object
value                 100000
cash                     2.5
date     2000-04-23 00:00:00
Name: 14, dtype: object
value                 100000
cash                     2.5
date     2000-04-24 00:00:00
Name: 15, dtype: object
value                 166665
cash                  166665
date     2000-04-25 00:00:00
Name: 16, dtype: object
value                 166665
cash                   4.125
date     2000-05-01 00:00:00
Name: 17, dtype: object
value                 166665
cash                   4.125
date     2000-05-21 00:00:00
Name: 18, dtype: object
value                 166665
cash                   4.125
date     2000-05-25 00:00:00
Name: 19, dtype: object
value                 166665
cash                       9
date     2000-06-05 00:00:00
Name: 20, dtype: object
value                 166665
cash                       9
date     2000-06-06 00:00:00
Name: 21, dtype: object
value                 198409
cash                  198409
date     2000-07-11 00:00:00
Name: 22, dtype: object
value                 198409
cash                   1.125
date     2000-07-31 00:00:00
Name: 23, dtype: object
value                 198409
cash                   1.125
date     2000-08-01 00:00:00
Name: 24, dtype: object
value                 198409
cash                   1.125
date     2000-08-10 00:00:00
Name: 25, dtype: object
value                 198409
cash                   1.125
date     2000-08-18 00:00:00
Name: 26, dtype: object
value                 198409
cash                   1.125
date     2000-08-21 00:00:00
Name: 27, dtype: object
value                 198409
cash                   1.125
date     2000-09-03 00:00:00
Name: 28, dtype: object
value                 268120
cash                  268120
date     2000-09-05 00:00:00
Name: 29, dtype: object
value                 268120
cash                   2.699
date     2000-09-08 00:00:00
Name: 30, dtype: object
value                 268120
cash                   2.699
date     2000-09-13 00:00:00
Name: 31, dtype: object
value                 268120
cash                   2.699
date     2000-09-21 00:00:00
Name: 32, dtype: object
value                 268120
cash                   2.699
date     2000-09-24 00:00:00
Name: 33, dtype: object
value                 268120
cash                   2.699
date     2000-09-26 00:00:00
Name: 34, dtype: object
value                 268120
cash                   2.699
date     2000-09-29 00:00:00
Name: 35, dtype: object
value                 441538
cash                  441538
date     2000-10-11 00:00:00
Name: 36, dtype: object
value                 441538
cash                   3.449
date     2000-10-23 00:00:00
Name: 37, dtype: object
value                 441538
cash                 51538.2
date     2000-10-27 00:00:00
Name: 38, dtype: object
value                 441538
cash                 51538.2
date     2000-10-30 00:00:00
Name: 39, dtype: object
value                 441538
cash                   4.199
date     2000-10-31 00:00:00
Name: 40, dtype: object
value                 441538
cash                   4.199
date     2000-11-01 00:00:00
Name: 41, dtype: object
value                 441538
cash                   0.449
date     2000-11-06 00:00:00
Name: 42, dtype: object
value                 441538
cash                   0.449
date     2000-11-09 00:00:00
Name: 43, dtype: object
value                 441538
cash                   0.449
date     2000-11-15 00:00:00
Name: 44, dtype: object
value                 441538
cash                   0.449
date     2000-11-28 00:00:00
Name: 45, dtype: object
value                 441538
cash                   0.449
date     2000-12-07 00:00:00
Name: 46, dtype: object
value                 486048
cash                 96048.1
date     2000-12-11 00:00:00
Name: 47, dtype: object
value                 486048
cash                   0.699
date     2000-12-15 00:00:00
Name: 48, dtype: object
value                 486048
cash                   0.699
date     2000-12-20 00:00:00
Name: 49, dtype: object
value                 846048
cash                  426048
date     2000-12-21 00:00:00
Name: 50, dtype: object
value                 846048
cash                   0.074
date     2001-01-16 00:00:00
Name: 51, dtype: object
value                 846048
cash                   0.074
date     2001-01-23 00:00:00
Name: 52, dtype: object
value            1.36355e+06
cash                  937500
date     2001-01-28 00:00:00
Name: 53, dtype: object
value            1.36355e+06
cash                  937500
date     2001-01-29 00:00:00
Name: 54, dtype: object
value            1.36355e+06
cash                  937500
date     2001-02-06 00:00:00
Name: 55, dtype: object
value            1.36355e+06
cash                   0.304
date     2001-02-16 00:00:00
Name: 56, dtype: object
value            1.36355e+06
cash                   0.304
date     2001-02-21 00:00:00
Name: 57, dtype: object
value            1.36355e+06
cash                  113548
date     2001-02-26 00:00:00
Name: 58, dtype: object
value            1.36355e+06
cash                   0.654
date     2001-03-08 00:00:00
Name: 59, dtype: object
value            1.36355e+06
cash                   0.654
date     2001-03-19 00:00:00
Name: 60, dtype: object
value            1.36355e+06
cash                   0.654
date     2001-03-22 00:00:00
Name: 61, dtype: object
value            2.86355e+06
cash                2.75e+06
date     2001-03-29 00:00:00
Name: 62, dtype: object
value            2.86355e+06
cash                   6.881
date     2001-04-03 00:00:00
Name: 63, dtype: object
value            2.86355e+06
cash                   6.881
date     2001-04-12 00:00:00
Name: 64, dtype: object
value            2.86355e+06
cash                   6.881
date     2001-04-13 00:00:00
Name: 65, dtype: object
value            2.86355e+06
cash                   7.074
date     2001-04-16 00:00:00
Name: 66, dtype: object
value            2.86355e+06
cash                   7.074
date     2001-04-17 00:00:00
Name: 67, dtype: object
value            2.86355e+06
cash                   7.074
date     2001-04-23 00:00:00
Name: 68, dtype: object
value            2.86355e+06
cash                   0.644
date     2001-05-09 00:00:00
Name: 69, dtype: object
value            2.86355e+06
cash                   0.644
date     2001-05-10 00:00:00
Name: 70, dtype: object
value            2.86355e+06
cash                  728926
date     2001-05-11 00:00:00
Name: 71, dtype: object
value            2.86355e+06
cash                  728926
date     2001-05-16 00:00:00
Name: 72, dtype: object
value            2.86355e+06
cash                  728926
date     2001-05-21 00:00:00
Name: 73, dtype: object
value            2.86355e+06
cash                   3.974
date     2001-06-01 00:00:00
Name: 74, dtype: object
value            2.86355e+06
cash                   3.974
date     2001-06-12 00:00:00
Name: 75, dtype: object
value            3.55586e+06
cash             2.82694e+06
date     2001-06-17 00:00:00
Name: 76, dtype: object
value            3.55586e+06
cash                   5.074
date     2001-06-28 00:00:00
Name: 77, dtype: object
value            3.55586e+06
cash             1.09833e+06
date     2001-07-02 00:00:00
Name: 78, dtype: object
value            3.55586e+06
cash             1.09833e+06
date     2001-07-05 00:00:00
Name: 79, dtype: object
value            3.55586e+06
cash                  11.824
date     2001-07-10 00:00:00
Name: 80, dtype: object
value            3.55586e+06
cash                   6.874
date     2001-07-19 00:00:00
Name: 81, dtype: object
value            3.55586e+06
cash                   6.874
date     2001-07-26 00:00:00
Name: 82, dtype: object
value            4.13983e+06
cash             3.04151e+06
date     2001-08-05 00:00:00
Name: 83, dtype: object
value            4.13983e+06
cash             3.04151e+06
date     2001-08-06 00:00:00
Name: 84, dtype: object
value            4.13983e+06
cash                   7.074
date     2001-08-07 00:00:00
Name: 85, dtype: object
value            4.13983e+06
cash                   7.074
date     2001-08-13 00:00:00
Name: 86, dtype: object
value            4.13983e+06
cash                   7.074
date     2001-08-15 00:00:00
Name: 87, dtype: object
value            4.13983e+06
cash                   7.074
date     2001-08-21 00:00:00
Name: 88, dtype: object
value            4.13983e+06
cash                   7.074
date     2001-08-22 00:00:00
Name: 89, dtype: object
value            4.13983e+06
cash                   7.074
date     2001-08-29 00:00:00
Name: 90, dtype: object
value            4.13983e+06
cash                   4.024
date     2001-09-10 00:00:00
Name: 91, dtype: object
value            4.13983e+06
cash                   4.024
date     2001-09-18 00:00:00
Name: 92, dtype: object
value            4.13983e+06
cash                   4.024
date     2001-09-24 00:00:00
Name: 93, dtype: object
value            4.13983e+06
cash                   4.024
date     2001-09-27 00:00:00
Name: 94, dtype: object
value            4.13983e+06
cash             1.34483e+06
date     2001-10-10 00:00:00
Name: 95, dtype: object
value            4.13983e+06
cash             1.34483e+06
date     2001-10-14 00:00:00
Name: 96, dtype: object
value            4.13983e+06
cash                   1.074
date     2001-11-05 00:00:00
Name: 97, dtype: object
value            6.50483e+06
cash                5.16e+06
date     2001-11-18 00:00:00
Name: 98, dtype: object
value            6.50483e+06
cash                   5.274
date     2001-11-21 00:00:00
Name: 99, dtype: object
value            6.50483e+06
cash                   4.924
date     2001-11-26 00:00:00
Name: 100, dtype: object
value            6.50483e+06
cash                   4.924
date     2001-12-07 00:00:00
Name: 101, dtype: object
value            6.50483e+06
cash                   4.924
date     2001-12-10 00:00:00
Name: 102, dtype: object
value            6.50483e+06
cash                   0.474
date     2001-12-17 00:00:00
Name: 103, dtype: object
value            6.50483e+06
cash                   0.474
date     2001-12-20 00:00:00
Name: 104, dtype: object
value            6.50483e+06
cash                   0.474
date     2001-12-26 00:00:00
Name: 105, dtype: object
value            6.50483e+06
cash                   0.474
date     2001-12-27 00:00:00
Name: 106, dtype: object
value            6.50483e+06
cash                   0.474
date     2002-01-16 00:00:00
Name: 107, dtype: object
value            7.96164e+06
cash             7.96164e+06
date     2002-01-24 00:00:00
Name: 108, dtype: object
value            7.96164e+06
cash             7.96164e+06
date     2002-01-28 00:00:00
Name: 109, dtype: object
value            7.96164e+06
cash             7.96164e+06
date     2002-01-31 00:00:00
Name: 110, dtype: object
value            7.96164e+06
cash             5.28864e+06
date     2002-02-07 00:00:00
Name: 111, dtype: object
value            7.96164e+06
cash             5.28864e+06
date     2002-03-07 00:00:00
Name: 112, dtype: object
value            8.07864e+06
cash             8.07864e+06
date     2002-03-21 00:00:00
Name: 113, dtype: object
value            8.07864e+06
cash                   4.974
date     2002-03-28 00:00:00
Name: 114, dtype: object
value            8.07864e+06
cash                   4.974
date     2002-04-10 00:00:00
Name: 115, dtype: object
value            8.07864e+06
cash                   4.974
date     2002-04-15 00:00:00
Name: 116, dtype: object
value            8.07864e+06
cash                   1.074
date     2002-04-23 00:00:00
Name: 117, dtype: object
value            8.07864e+06
cash                   1.074
date     2002-05-02 00:00:00
Name: 118, dtype: object
value            8.07864e+06
cash                   1.074
date     2002-05-07 00:00:00
Name: 119, dtype: object
value            8.07864e+06
cash                   1.074
date     2002-05-14 00:00:00
Name: 120, dtype: object
value            8.07864e+06
cash                   1.074
date     2002-05-17 00:00:00
Name: 121, dtype: object
value            8.07864e+06
cash                   1.074
date     2002-05-23 00:00:00
Name: 122, dtype: object
value            9.83114e+06
cash             9.83114e+06
date     2002-06-06 00:00:00
Name: 123, dtype: object
value            9.83114e+06
cash             9.83114e+06
date     2002-06-13 00:00:00
Name: 124, dtype: object
value            9.83114e+06
cash             9.83114e+06
date     2002-06-20 00:00:00
Name: 125, dtype: object
value            9.83114e+06
cash             9.83114e+06
date     2002-06-23 00:00:00
Name: 126, dtype: object
value            9.83114e+06
cash             9.83114e+06
date     2002-06-27 00:00:00
Name: 127, dtype: object
value            9.83114e+06
cash             9.83114e+06
date     2002-07-04 00:00:00
Name: 128, dtype: object
value            9.83114e+06
cash             2.25614e+06
date     2002-07-16 00:00:00
Name: 129, dtype: object
value            9.83114e+06
cash             2.25614e+06
date     2002-08-05 00:00:00
Name: 130, dtype: object
value            1.22561e+07
cash             1.22561e+07
date     2002-08-19 00:00:00
Name: 131, dtype: object
value            1.22561e+07
cash             5.35614e+06
date     2002-08-21 00:00:00
Name: 132, dtype: object
value            1.58561e+07
cash             1.58561e+07
date     2002-08-27 00:00:00
Name: 133, dtype: object
value            1.58561e+07
cash             1.58561e+07
date     2002-09-05 00:00:00
Name: 134, dtype: object
value            1.58561e+07
cash             1.48111e+07
date     2002-09-06 00:00:00
Name: 135, dtype: object
value            1.58561e+07
cash                   5.184
date     2002-09-19 00:00:00
Name: 136, dtype: object
value            1.58561e+07
cash                   5.184
date     2002-09-23 00:00:00
Name: 137, dtype: object
value            1.58561e+07
cash                   5.184
date     2002-10-11 00:00:00
Name: 138, dtype: object
value            1.58561e+07
cash                   5.184
date     2002-10-18 00:00:00
Name: 139, dtype: object
value            2.24711e+07
cash             2.24711e+07
date     2002-10-24 00:00:00
Name: 140, dtype: object
value            2.24711e+07
cash             2.24711e+07
date     2002-10-27 00:00:00
Name: 141, dtype: object
value            2.24711e+07
cash             2.24711e+07
date     2002-10-31 00:00:00
Name: 142, dtype: object
value            2.24711e+07
cash             1.22686e+07
date     2002-11-01 00:00:00
Name: 143, dtype: object
value            2.24711e+07
cash                  16.784
date     2002-11-12 00:00:00
Name: 144, dtype: object
value            2.24711e+07
cash                  16.784
date     2002-11-14 00:00:00
Name: 145, dtype: object
value            2.24711e+07
cash             1.08711e+07
date     2002-11-20 00:00:00
Name: 146, dtype: object
value            2.24711e+07
cash             8.99606e+06
date     2002-11-21 00:00:00
Name: 147, dtype: object
value            2.24711e+07
cash             3.76981e+06
date     2002-11-25 00:00:00
Name: 148, dtype: object
value            2.24711e+07
cash                   2.874
date     2002-11-27 00:00:00
Name: 149, dtype: object
value            2.24711e+07
cash                   2.874
date     2002-12-12 00:00:00
Name: 150, dtype: object
value            2.24711e+07
cash                   2.874
date     2002-12-17 00:00:00
Name: 151, dtype: object
value            2.48711e+07
cash                 1.4e+07
date     2002-12-24 00:00:00
Name: 152, dtype: object
value            2.62348e+07
cash              2.2465e+07
date     2002-12-29 00:00:00
Name: 153, dtype: object
value            2.68791e+07
cash             2.68791e+07
date     2003-01-05 00:00:00
Name: 154, dtype: object
value            2.68791e+07
cash                   9.124
date     2003-01-31 00:00:00
Name: 155, dtype: object
value            2.68791e+07
cash                   9.124
date     2003-02-04 00:00:00
Name: 156, dtype: object
value            2.68791e+07
cash             1.13291e+07
date     2003-02-07 00:00:00
Name: 157, dtype: object
value            2.68791e+07
cash                   3.474
date     2003-02-18 00:00:00
Name: 158, dtype: object
value            2.68791e+07
cash                   3.474
date     2003-03-09 00:00:00
Name: 159, dtype: object
value            2.68791e+07
cash                   3.474
date     2003-03-10 00:00:00
Name: 160, dtype: object
value            2.68791e+07
cash             5.02908e+06
date     2003-03-18 00:00:00
Name: 161, dtype: object
value            3.13291e+07
cash             2.50291e+07
date     2003-03-20 00:00:00
Name: 162, dtype: object
value            3.13291e+07
cash             1.43691e+07
date     2003-03-21 00:00:00
Name: 163, dtype: object
value            3.13291e+07
cash             1.43691e+07
date     2003-03-23 00:00:00
Name: 164, dtype: object
value            3.13291e+07
cash                   0.434
date     2003-04-14 00:00:00
Name: 165, dtype: object
value            3.30791e+07
cash                8.05e+06
date     2003-04-20 00:00:00
Name: 166, dtype: object
value            3.30791e+07
cash                   6.414
date     2003-04-23 00:00:00
Name: 167, dtype: object
value            3.54191e+07
cash                 1.3e+07
date     2003-04-27 00:00:00
Name: 168, dtype: object
value            3.54191e+07
cash                  32.014
date     2003-04-28 00:00:00
Name: 169, dtype: object
value            3.54191e+07
cash             3.37091e+07
date     2003-05-09 00:00:00
Name: 170, dtype: object
value            3.54191e+07
cash             3.37091e+07
date     2003-05-18 00:00:00
Name: 171, dtype: object
value            3.54191e+07
cash             7.90408e+06
date     2003-05-20 00:00:00
Name: 172, dtype: object
value            3.54191e+07
cash             7.90408e+06
date     2003-05-27 00:00:00
Name: 173, dtype: object
value            3.54191e+07
cash             3.28408e+06
date     2003-05-28 00:00:00
Name: 174, dtype: object
value            3.54191e+07
cash                   1.984
date     2003-06-10 00:00:00
Name: 175, dtype: object
value            3.54191e+07
cash                   1.984
date     2003-06-11 00:00:00
Name: 176, dtype: object
value            3.61091e+07
cash                 2.4e+06
date     2003-06-15 00:00:00
Name: 177, dtype: object
value            3.61091e+07
cash                 2.4e+06
date     2003-06-16 00:00:00
Name: 178, dtype: object
value            3.79291e+07
cash              3.0025e+07

Name: 218, dtype: object
value            5.62732e+07
cash             1.58912e+07
date     2004-03-16 00:00:00
Name: 219, dtype: object
value            5.62732e+07
cash                   0.089
date     2004-03-17 00:00:00
Name: 220, dtype: object
value            5.64232e+07
cash                1.05e+06
date     2004-03-22 00:00:00
Name: 221, dtype: object
value            5.64232e+07
cash                1.05e+06
date     2004-03-31 00:00:00
Name: 222, dtype: object
value            5.64232e+07
cash                  32.089
date     2004-04-06 00:00:00
Name: 223, dtype: object
value            6.01732e+07
cash                3.75e+07
date     2004-04-07 00:00:00
Name: 224, dtype: object
value            6.01732e+07
cash                3.75e+07
date     2004-04-08 00:00:00
Name: 225, dtype: object
value            6.01732e+07
cash                3.75e+07
date     2004-04-16 00:00:00
Name: 226, dtype: object
value            6.09182e+07
cash             5.98682e+07
date     2004-04-20 00:00:00
Name: 227, dtype: object
value            6.09182e+07
cash             5.98682e+07
date     2004-05-02 00:00:00
Name: 228, dtype: object
value            6.09412e+07
cash             6.09412e+07
date     2004-05-20 00:00:00
Name: 229, dtype: object
value            6.09412e+07
cash             6.09412e+07
date     2004-05-27 00:00:00
Name: 230, dtype: object
value            6.09412e+07
cash             6.09412e+07
date     2004-06-07 00:00:00
Name: 231, dtype: object
value            6.09412e+07
cash             4.74012e+07
date     2004-06-15 00:00:00
Name: 232, dtype: object
value            6.09412e+07
cash                  10.519
date     2004-06-22 00:00:00
Name: 233, dtype: object
value            6.09412e+07
cash                  10.519
date     2004-07-15 00:00:00
Name: 234, dtype: object
value            6.09412e+07
cash                   2.939
date     2004-07-27 00:00:00
Name: 235, dtype: object
value            6.09412e+07
cash                   2.939
date     2004-08-05 00:00:00
Name: 236, dtype: object
value            6.09412e+07
cash                   2.939
date     2004-08-11 00:00:00
Name: 237, dtype: object
value            6.09412e+07
cash                   2.939
date     2004-08-27 00:00:00
Name: 238, dtype: object
value            7.66877e+07
cash             7.66877e+07
date     2004-08-30 00:00:00
Name: 239, dtype: object
value            7.66877e+07
cash             1.70433e+07
date     2004-09-03 00:00:00
Name: 240, dtype: object
value            7.66877e+07
cash             1.35891e+07
date     2004-09-14 00:00:00
Name: 241, dtype: object
value            7.66877e+07
cash             1.35891e+07
date     2004-09-15 00:00:00
Name: 242, dtype: object
value            7.66877e+07
cash             1.27308e+07
date     2004-09-28 00:00:00
Name: 243, dtype: object
value            7.66877e+07
cash             1.27308e+07
date     2004-10-04 00:00:00
Name: 244, dtype: object
value            8.20433e+07
cash                   3.249
date     2004-10-07 00:00:00
Name: 245, dtype: object
value            8.20433e+07
cash                   3.249
date     2004-10-13 00:00:00
Name: 246, dtype: object
value            8.20433e+07
cash                   3.249
date     2004-10-21 00:00:00
Name: 247, dtype: object
value            8.20433e+07
cash             6.78733e+07
date     2004-10-27 00:00:00
Name: 248, dtype: object
value            8.20433e+07
cash             4.88273e+07
date     2004-11-01 00:00:00
Name: 249, dtype: object
value            8.20433e+07
cash                   5.969
date     2004-11-04 00:00:00
Name: 250, dtype: object
value            8.20433e+07
cash             7.14622e+07
date     2004-11-10 00:00:00
Name: 251, dtype: object
value            8.20433e+07
cash             5.93822e+07
date     2004-11-12 00:00:00
Name: 252, dtype: object
value            8.20433e+07
cash             4.34452e+07
date     2004-11-15 00:00:00
Name: 253, dtype: object
value            8.20433e+07
cash             4.34452e+07
date     2004-11-16 00:00:00
Name: 254, dtype: object
value            8.20433e+07
cash             5.51633e+07
date     2004-11-23 00:00:00
Name: 255, dtype: object
value            8.20433e+07
cash             5.51633e+07
date     2004-11-30 00:00:00
Name: 256, dtype: object
value            8.20433e+07
cash             5.51633e+07
date     2004-12-09 00:00:00
Name: 257, dtype: object
value            8.20433e+07
cash             5.51633e+07
date     2004-12-16 00:00:00
Name: 258, dtype: object
value            8.20433e+07
cash             7.89425e+07
date     2004-12-17 00:00:00
Name: 259, dtype: object
value            8.20433e+07
cash             7.89425e+07
date     2004-12-19 00:00:00
Name: 260, dtype: object
value            8.20433e+07
cash             7.89425e+07
date     2004-12-21 00:00:00
Name: 261, dtype: object
value            8.20433e+07
cash             7.89425e+07
date     2004-12-26 00:00:00
Name: 262, dtype: object
value            8.20433e+07
cash             6.20575e+07
date     2004-12-27 00:00:00
Name: 263, dtype: object
value            8.20433e+07
cash             6.20575e+07
date     2005-01-02 00:00:00
Name: 264, dtype: object
value            8.29925e+07
cash             6.61075e+07
date     2005-01-24 00:00:00
Name: 265, dtype: object
value            8.53575e+07
cash             8.53575e+07
date     2005-02-01 00:00:00
Name: 266, dtype: object
value            8.53575e+07
cash             3.90825e+07
date     2005-02-03 00:00:00
Name: 267, dtype: object
value            8.53575e+07
cash                   1.699
date     2005-02-11 00:00:00
Name: 268, dtype: object
value            8.78325e+07
cash               4.875e+07
date     2005-03-10 00:00:00
Name: 269, dtype: object
value            8.78583e+07
cash             8.78583e+07
date     2005-03-17 00:00:00
Name: 270, dtype: object
value            8.78583e+07
cash             8.78583e+07
date     2005-03-30 00:00:00
Name: 271, dtype: object
value            8.78583e+07
cash             8.78583e+07
date     2005-04-05 00:00:00
Name: 272, dtype: object
value            8.78583e+07
cash             8.10302e+07
date     2005-04-12 00:00:00
Name: 273, dtype: object
value            8.78583e+07
cash                  10.359
date     2005-04-18 00:00:00
Name: 274, dtype: object
value            8.78583e+07
cash                  10.359
date     2005-04-20 00:00:00
Name: 275, dtype: object
value            8.78583e+07
cash                  10.359
date     2005-04-22 00:00:00
Name: 276, dtype: object
value            8.78583e+07
cash                  10.359
date     2005-05-04 00:00:00
Name: 277, dtype: object
value            8.78583e+07
cash                  10.359
date     2005-05-09 00:00:00
Name: 278, dtype: object
value            8.78583e+07
cash                  10.359
date     2005-05-10 00:00:00
Name: 279, dtype: object
value            8.78583e+07
cash                  11.649
date     2005-05-16 00:00:00
Name: 280, dtype: object
value            8.78583e+07
cash                  11.649
date     2005-05-23 00:00:00
Name: 281, dtype: object
value            8.78583e+07
cash                  11.649
date     2005-05-24 00:00:00
Name: 282, dtype: object
value            8.95331e+07
cash                  29.249
date     2005-05-26 00:00:00
Name: 283, dtype: object
value            8.95331e+07
cash                  29.249
date     2005-06-14 00:00:00
Name: 284, dtype: object
value            8.95331e+07
cash                   2.949
date     2005-06-16 00:00:00
Name: 285, dtype: object
value            1.05529e+08
cash             9.70265e+07
date     2005-06-19 00:00:00
Name: 286, dtype: object
value            1.05529e+08
cash             7.20094e+07
date     2005-06-23 00:00:00
Name: 287, dtype: object
value            1.05529e+08
cash             7.20094e+07
date     2005-06-29 00:00:00
Name: 288, dtype: object
value            1.05529e+08
cash                  15.519
date     2005-06-30 00:00:00
Name: 289, dtype: object
value            1.05529e+08
cash                  15.519
date     2005-07-21 00:00:00
Name: 290, dtype: object
value            1.05529e+08
cash                   4.879
date     2005-07-25 00:00:00
Name: 291, dtype: object
value            1.05529e+08
cash             1.01813e+08
date     2005-07-26 00:00:00
Name: 292, dtype: object
value            1.05529e+08
cash             1.01813e+08
date     2005-07-27 00:00:00
Name: 293, dtype: object
value            1.05529e+08
cash             1.01813e+08
date     2005-08-05 00:00:00
Name: 294, dtype: object
value            1.05529e+08
cash             9.18126e+07
date     2005-08-10 00:00:00
Name: 295, dtype: object
value            1.05529e+08
cash             2.75726e+07
date     2005-08-12 00:00:00
Name: 296, dtype: object
value            1.05529e+08
cash             2.75726e+07
date     2005-08-17 00:00:00
Name: 297, dtype: object
value            1.05529e+08
cash             2.75726e+07
date     2005-08-29 00:00:00
Name: 298, dtype: object
value            1.05529e+08
cash                   1.599
date     2005-08-30 00:00:00
Name: 299, dtype: object
value            1.06313e+08
cash                 4.5e+06
date     2005-08-31 00:00:00
Name: 300, dtype: object
value            1.06313e+08
cash                 4.5e+06
date     2005-09-07 00:00:00
Name: 301, dtype: object
value            1.06313e+08
cash                  13.309
date     2005-09-13 00:00:00
Name: 302, dtype: object
value            1.08258e+08
cash             1.19458e+07
date     2005-09-14 00:00:00
Name: 303, dtype: object
value            1.08258e+08
cash             1.19458e+07
date     2005-09-20 00:00:00
Name: 304, dtype: object
value            1.14831e+08
cash             1.10331e+08
date     2005-10-04 00:00:00
Name: 305, dtype: object
value            1.14831e+08
cash             1.10331e+08
date     2005-10-10 00:00:00
Name: 306, dtype: object
value            1.14831e+08
cash             1.10331e+08
date     2005-10-14 00:00:00
Name: 307, dtype: object
value            1.14991e+08
cash             1.14991e+08
date     2005-10-17 00:00:00
Name: 308, dtype: object
value            1.14991e+08
cash             1.14991e+08
date     2005-11-03 00:00:00
Name: 309, dtype: object
value            1.14991e+08
cash                  16.609
date     2005-11-15 00:00:00
Name: 310, dtype: object
value            1.14991e+08
cash                  16.609
date     2005-11-20 00:00:00
Name: 311, dtype: object
value            1.14991e+08
cash                  16.609
date     2005-11-21 00:00:00
Name: 312, dtype: object
value            1.14991e+08
cash                  16.609
date     2005-11-23 00:00:00
Name: 313, dtype: object
value            1.14991e+08
cash             9.23914e+07
date     2005-12-05 00:00:00
Name: 314, dtype: object
value            1.14991e+08
cash             9.23914e+07
date     2005-12-08 00:00:00
Name: 315, dtype: object
value            1.14991e+08
cash             1.10879e+08
date     2005-12-15 00:00:00
Name: 316, dtype: object
value            1.14991e+08
cash             1.02011e+08
date     2005-12-19 00:00:00
Name: 317, dtype: object
value            1.14991e+08
cash             1.02011e+08
date     2005-12-27 00:00:00
Name: 318, dtype: object
value            1.14991e+08
cash             7.53713e+07
date     2005-12-30 00:00:00
Name: 319, dtype: object
value            1.14991e+08
cash             9.22613e+07
date     2006-01-11 00:00:00
Name: 320, dtype: object
value            1.14991e+08
cash             9.22613e+07
date     2006-01-16 00:00:00
Name: 321, dtype: object
value            1.17438e+08
cash             1.07688e+08
date     2006-01-25 00:00:00
Name: 322, dtype: object
value            1.17438e+08
cash             1.07688e+08
date     2006-01-26 00:00:00
Name: 323, dtype: object
value            1.17438e+08
cash             1.07688e+08
date     2006-02-05 00:00:00
Name: 324, dtype: object
value            1.17438e+08
cash             1.07688e+08
date     2006-02-06 00:00:00
Name: 325, dtype: object
value            1.17438e+08
cash                  19.669
date     2006-02-09 00:00:00
Name: 326, dtype: object
value            1.17438e+08
cash             7.68843e+06
date     2006-02-10 00:00:00
Name: 327, dtype: object
value            1.17438e+08
cash             6.57934e+07
date     2006-02-13 00:00:00
Name: 328, dtype: object
value            1.17438e+08
cash             6.57934e+07
date     2006-03-01 00:00:00
Name: 329, dtype: object
value            1.19188e+08
cash             7.72934e+07
date     2006-03-02 00:00:00
Name: 330, dtype: object
value            1.19188e+08
cash                  46.909
date     2006-03-09 00:00:00
Name: 331, dtype: object
value            1.19188e+08
cash                  10.109
date     2006-03-10 00:00:00
Name: 332, dtype: object
value            1.19188e+08
cash                  10.109
date     2006-03-16 00:00:00
Name: 333, dtype: object
value            1.19188e+08
cash                  10.109
date     2006-03-19 00:00:00
Name: 334, dtype: object
value            1.19188e+08
cash             5.11689e+07
date     2006-03-24 00:00:00
Name: 335, dtype: object
value            1.19188e+08
cash             5.11689e+07
date     2006-03-31 00:00:00
Name: 336, dtype: object
value            1.19188e+08
cash             4.46689e+07
date     2006-04-04 00:00:00
Name: 337, dtype: object
value            1.19188e+08
cash             4.46689e+07
date     2006-04-12 00:00:00
Name: 338, dtype: object
value            1.19188e+08
cash             4.46689e+07
date     2006-04-18 00:00:00
Name: 339, dtype: object
value            1.21922e+08
cash             1.70459e+07
date     2006-04-27 00:00:00
Name: 340, dtype: object
value            1.21922e+08
cash             1.70459e+07
date     2006-05-03 00:00:00
Name: 341, dtype: object
value            1.22344e+08
cash             2.39684e+07
date     2006-05-10 00:00:00
Name: 342, dtype: object
value            1.22344e+08
cash                   5.509
date     2006-05-17 00:00:00
Name: 343, dtype: object
value            1.28824e+08
cash              4.8375e+07
date     2006-05-21 00:00:00
Name: 344, dtype: object
value            1.28824e+08
cash                   7.999
date     2006-05-30 00:00:00
Name: 345, dtype: object
value            1.28824e+08
cash                   7.999
date     2006-06-01 00:00:00
Name: 346, dtype: object
value            1.28824e+08
cash                   7.999
date     2006-06-20 00:00:00
Name: 347, dtype: object
value            1.39725e+08
cash             1.39725e+08
date     2006-07-02 00:00:00
Name: 348, dtype: object
value            1.39725e+08
cash             1.06495e+08
date     2006-07-05 00:00:00
Name: 349, dtype: object
value            1.39725e+08
cash                   9.349
date     2006-07-10 00:00:00
Name: 350, dtype: object
value            1.39725e+08
cash                   9.349
date     2006-07-12 00:00:00
Name: 351, dtype: object
value            1.39725e+08
cash                   5.799
date     2006-07-21 00:00:00
Name: 352, dtype: object
value            1.39725e+08
cash             5.31453e+07
date     2006-08-03 00:00:00
Name: 353, dtype: object
value            1.39725e+08
cash                   0.079
date     2006-08-07 00:00:00
Name: 354, dtype: object
value            1.39725e+08
cash                   0.079
date     2006-08-08 00:00:00
Name: 355, dtype: object
value            1.39725e+08
cash                   0.079
date     2006-08-11 00:00:00
Name: 356, dtype: object
value            1.39725e+08
cash                   0.079
date     2006-08-13 00:00:00
Name: 357, dtype: object
value            1.39725e+08
cash             8.38253e+07
date     2006-08-14 00:00:00
Name: 358, dtype: object
value            1.39725e+08
cash                   0.959
date     2006-08-15 00:00:00
Name: 359, dtype: object
value            1.39725e+08
cash                   0.959
date     2006-08-16 00:00:00
Name: 360, dtype: object
value            1.39725e+08
cash                   0.959
date     2006-08-23 00:00:00
Name: 361, dtype: object
value            1.39725e+08
cash                   0.959
date     2006-08-25 00:00:00
Name: 362, dtype: object
value            1.39725e+08
cash                   0.959
date     2006-08-27 00:00:00
Name: 363, dtype: object
value            1.39725e+08
cash                   9.129
date     2006-08-28 00:00:00
Name: 364, dtype: object
value            1.39725e+08
cash                   9.129
date     2006-08-29 00:00:00
Name: 365, dtype: object
value            1.39725e+08
cash             1.36619e+08
date     2006-08-31 00:00:00
Name: 366, dtype: object
value            1.39725e+08
cash             9.84591e+07
date     2006-09-08 00:00:00
Name: 367, dtype: object
value            1.39725e+08
cash             1.17486e+08
date     2006-09-11 00:00:00
Name: 368, dtype: object
value            1.39725e+08
cash             1.17486e+08
date     2006-09-14 00:00:00
Name: 369, dtype: object
value            1.39725e+08
cash             1.17486e+08
date     2006-09-18 00:00:00
Name: 370, dtype: object
value            1.39725e+08
cash             1.17486e+08
date     2006-09-19 00:00:00
Name: 371, dtype: object
value            1.39725e+08
cash             1.17486e+08
date     2006-09-28 00:00:00
Name: 372, dtype: object
value            1.39725e+08
cash             1.17486e+08
date     2006-10-02 00:00:00
Name: 373, dtype: object
value              1.406e+08
cash             1.21467e+08
date     2006-10-05 00:00:00
Name: 374, dtype: object
value              1.406e+08
cash             1.21467e+08
date     2006-10-11 00:00:00
Name: 375, dtype: object
value            1.42023e+08
cash             1.42023e+08
date     2006-10-12 00:00:00
Name: 376, dtype: object
value            1.42023e+08
cash             1.42023e+08
date     2006-10-18 00:00:00
Name: 377, dtype: object
value            1.42023e+08
cash                   4.829
date     2006-10-20 00:00:00
Name: 378, dtype: object
value            1.42023e+08
cash             1.33905e+08
date     2006-11-06 00:00:00
Name: 379, dtype: object
value            1.42023e+08
cash             1.33905e+08
date     2006-11-16 00:00:00
Name: 380, dtype: object
value            1.42023e+08
cash              1.3021e+08
date     2006-11-20 00:00:00
Name: 381, dtype: object
value            1.42023e+08
cash              1.3021e+08
date     2006-11-21 00:00:00
Name: 382, dtype: object
value            1.42023e+08
cash              1.3021e+08
date     2006-11-22 00:00:00
Name: 383, dtype: object
value            1.42023e+08
cash                  18.589
date     2006-12-04 00:00:00
Name: 384, dtype: object
value            1.42023e+08
cash                  18.589
date     2006-12-10 00:00:00
Name: 385, dtype: object
value            1.42023e+08
cash                  18.589
date     2006-12-11 00:00:00
Name: 386, dtype: object
value            1.43905e+08
cash             1.00003e+07
date     2006-12-12 00:00:00
Name: 387, dtype: object
value            1.43905e+08
cash                  32.369
date     2006-12-13 00:00:00
Name: 388, dtype: object
value            1.43905e+08
cash                  35.709
date     2006-12-18 00:00:00
Name: 389, dtype: object
value            1.43905e+08
cash                  35.709
date     2006-12-20 00:00:00
Name: 390, dtype: object
value             1.4421e+08
cash             4.00004e+06
date     2006-12-25 00:00:00
Name: 391, dtype: object
value             1.4421e+08
cash             4.00004e+06
date     2006-12-26 00:00:00
Name: 392, dtype: object
value             1.4421e+08
cash             1.42275e+08
date     2007-01-03 00:00:00
Name: 393, dtype: object
value             1.4421e+08
cash                  36.739
date     2007-01-10 00:00:00
Name: 394, dtype: object
value             1.4421e+08
cash                  36.739
date     2007-01-16 00:00:00
Name: 395, dtype: object
value             1.4421e+08
cash                  36.739
date     2007-01-17 00:00:00
Name: 396, dtype: object
value             1.4421e+08

Name: 448, dtype: object
value            1.50232e+08
cash             6.26109e+06
date     2007-08-30 00:00:00
Name: 449, dtype: object
value            1.50232e+08
cash             6.26109e+06
date     2007-09-04 00:00:00
Name: 450, dtype: object
value            1.50232e+08
cash             6.26109e+06
date     2007-09-10 00:00:00
Name: 451, dtype: object
value            1.50232e+08
cash             6.26109e+06
date     2007-09-11 00:00:00
Name: 452, dtype: object
value            1.50232e+08
cash             6.26109e+06
date     2007-09-16 00:00:00
Name: 453, dtype: object
value            1.50232e+08
cash             6.26109e+06
date     2007-09-17 00:00:00
Name: 454, dtype: object
value            1.50232e+08
cash             6.26109e+06
date     2007-09-19 00:00:00
Name: 455, dtype: object
value            1.50232e+08
cash             6.26109e+06
date     2007-09-20 00:00:00
Name: 456, dtype: object
value            1.60702e+08
cash             1.10511e+08
date     2007-09-25 00:00:00
Name: 457, dtype: object
value            1.60702e+08
cash             1.10511e+08
date     2007-09-26 00:00:00
Name: 458, dtype: object
value            1.60702e+08
cash             1.10511e+08
date     2007-09-27 00:00:00
Name: 459, dtype: object
value            1.63031e+08
cash             1.63031e+08
date     2007-10-04 00:00:00
Name: 460, dtype: object
value            1.63031e+08
cash                   6.159
date     2007-11-21 00:00:00
Name: 461, dtype: object
value            2.11925e+08
cash             2.11925e+08
date     2007-12-25 00:00:00
Name: 462, dtype: object
value            2.11925e+08
cash             1.98512e+08
date     2008-01-15 00:00:00
Name: 463, dtype: object
value            2.11925e+08
cash             1.74212e+08
date     2008-02-12 00:00:00
Name: 464, dtype: object
value            2.11925e+08
cash                  17.759
date     2008-02-15 00:00:00
Name: 465, dtype: object
value            2.16726e+08
cash             1.82144e+07
date     2008-02-19 00:00:00
Name: 466, dtype: object
value            2.16726e+08
cash             1.48798e+08
date     2008-02-20 00:00:00
Name: 467, dtype: object
value            2.16726e+08
cash             1.48798e+08
date     2008-02-21 00:00:00
Name: 468, dtype: object
value            2.16726e+08
cash                  14.599
date     2008-03-10 00:00:00
Name: 469, dtype: object
value            2.16726e+08
cash             2.07126e+08
date     2008-03-13 00:00:00
Name: 470, dtype: object
value            2.16726e+08
cash             2.07126e+08
date     2008-03-17 00:00:00
Name: 471, dtype: object
value            2.16726e+08
cash             2.07126e+08
date     2008-03-23 00:00:00
Name: 472, dtype: object
value            2.16726e+08
cash             2.07126e+08
date     2008-03-24 00:00:00
Name: 473, dtype: object
value            2.16726e+08
cash             2.07126e+08
date     2008-03-26 00:00:00
Name: 474, dtype: object
value            2.16726e+08
cash             2.07126e+08
date     2008-04-13 00:00:00
Name: 475, dtype: object
value            2.20126e+08
cash             2.20126e+08
date     2008-05-04 00:00:00
Name: 476, dtype: object
value            2.20126e+08
cash               1.723e+08
date     2008-05-14 00:00:00
Name: 477, dtype: object
value            2.20126e+08
cash             1.99126e+08
date     2008-05-19 00:00:00
Name: 478, dtype: object
value            2.20126e+08
cash             7.97761e+07
date     2008-06-02 00:00:00
Name: 479, dtype: object
value            2.20126e+08
cash                   7.159
date     2008-06-17 00:00:00
Name: 480, dtype: object
value            2.20126e+08
cash                   7.159
date     2008-06-19 00:00:00
Name: 481, dtype: object
value            2.20126e+08
cash                   7.159
date     2008-06-26 00:00:00
Name: 482, dtype: object
value            2.20126e+08
cash                   7.159
date     2008-06-30 00:00:00
Name: 483, dtype: object
value            2.20126e+08
cash             2.20126e+08
date     2008-07-03 00:00:00
Name: 484, dtype: object
value            2.20126e+08
cash             2.20126e+08
date     2008-07-22 00:00:00
Name: 485, dtype: object
value            2.20126e+08
cash             1.98071e+08
date     2008-07-29 00:00:00
Name: 486, dtype: object
value            2.20126e+08
cash             1.98071e+08
date     2008-08-04 00:00:00
Name: 487, dtype: object
value            2.20126e+08
cash             1.07213e+08
date     2008-08-11 00:00:00
Name: 488, dtype: object
value            2.20126e+08
cash             1.90591e+08
date     2008-08-18 00:00:00
Name: 489, dtype: object
value            2.20126e+08
cash             1.90591e+08
date     2008-08-24 00:00:00
Name: 490, dtype: object
value            2.20126e+08
cash             1.89908e+08
date     2008-08-29 00:00:00
Name: 491, dtype: object
value            2.26071e+08
cash             2.17908e+08
date     2008-09-02 00:00:00
Name: 492, dtype: object
value            2.26071e+08
cash             2.17908e+08
date     2008-09-18 00:00:00
Name: 493, dtype: object
value            2.26071e+08
cash             2.17908e+08
date     2008-09-22 00:00:00
Name: 494, dtype: object
value            2.27908e+08
cash             2.27908e+08
date     2008-10-05 00:00:00
Name: 495, dtype: object
value            2.27908e+08
cash             2.25802e+08
date     2008-10-20 00:00:00
Name: 496, dtype: object
value            2.27908e+08
cash                   1.054
date     2008-10-27 00:00:00
Name: 497, dtype: object
value            2.27908e+08
cash             1.73588e+08
date     2008-11-05 00:00:00
Name: 498, dtype: object
value            2.27908e+08
cash             4.66115e+07
date     2008-11-07 00:00:00
Name: 499, dtype: object
value            2.28502e+08
cash             4.93115e+07
date     2008-11-23 00:00:00
Name: 500, dtype: object
value            2.28502e+08
cash             4.93115e+07
date     2008-12-01 00:00:00
Name: 501, dtype: object
value            2.28502e+08
cash             1.88076e+08
date     2008-12-05 00:00:00
Name: 502, dtype: object
value            2.28502e+08
cash             1.88076e+08
date     2008-12-11 00:00:00
Name: 503, dtype: object
value            2.28502e+08
cash             1.88076e+08
date     2008-12-15 00:00:00
Name: 504, dtype: object
value            2.38076e+08
cash             2.38076e+08
date     2009-01-21 00:00:00
Name: 505, dtype: object
value            2.38076e+08
cash             2.32056e+08
date     2009-03-05 00:00:00
Name: 506, dtype: object
value            2.39756e+08
cash             2.39756e+08
date     2009-04-08 00:00:00
Name: 507, dtype: object
value            2.39756e+08
cash             2.35956e+08
date     2009-05-18 00:00:00
Name: 508, dtype: object
value            2.39756e+08
cash             9.40895e+07
date     2009-06-02 00:00:00
Name: 509, dtype: object
value            2.40206e+08
cash             9.83395e+07
date     2009-06-22 00:00:00
Name: 510, dtype: object
value            2.40313e+08
cash             2.40313e+08
date     2009-07-06 00:00:00
Name: 511, dtype: object
value            2.40313e+08
cash             2.33793e+08
date     2009-08-10 00:00:00
Name: 512, dtype: object
value            2.40313e+08
cash             2.33793e+08
date     2009-08-20 00:00:00
Name: 513, dtype: object
value            2.40313e+08
cash             2.08852e+08
date     2009-09-01 00:00:00
Name: 514, dtype: object
value            2.41793e+08
cash             2.16852e+08
date     2009-09-10 00:00:00
Name: 515, dtype: object
value            2.41793e+08
cash             2.16852e+08
date     2009-09-24 00:00:00
Name: 516, dtype: object
value            2.44352e+08
cash             2.44352e+08
date     2009-10-12 00:00:00
Name: 517, dtype: object
value            2.44352e+08
cash             4.90701e+07
date     2009-11-10 00:00:00
Name: 518, dtype: object
value            2.44352e+08
cash             2.11368e+08
date     2009-11-13 00:00:00
Name: 519, dtype: object
value            2.44352e+08
cash             1.59213e+08
date     2009-11-20 00:00:00
Name: 520, dtype: object
value            2.44352e+08
cash             1.55963e+08
date     2009-12-14 00:00:00
Name: 521, dtype: object
value            2.44352e+08
cash             1.55963e+08
date     2009-12-16 00:00:00
Name: 522, dtype: object
value            2.48746e+08
cash             1.93341e+08
date     2009-12-17 00:00:00
Name: 523, dtype: object
value            2.50591e+08
cash             2.47341e+08
date     2009-12-24 00:00:00
Name: 524, dtype: object
value            2.50616e+08
cash             1.50616e+08
date     2010-01-19 00:00:00
Name: 525, dtype: object
value            2.50616e+08
cash             1.87916e+08
date     2010-01-29 00:00:00
Name: 526, dtype: object
value            2.50616e+08
cash                   5.224
date     2010-02-19 00:00:00
Name: 527, dtype: object
value            2.50616e+08
cash                   5.224
date     2010-02-25 00:00:00
Name: 528, dtype: object
value            2.56916e+08
cash                 6.9e+07
date     2010-03-07 00:00:00
Name: 529, dtype: object
value            2.56916e+08
cash                  10.864
date     2010-03-11 00:00:00
Name: 530, dtype: object
value            2.70835e+08
cash             2.01835e+08
date     2010-04-04 00:00:00
Name: 531, dtype: object
value            2.74019e+08
cash             2.74019e+08
date     2010-04-14 00:00:00
Name: 532, dtype: object
value            2.74019e+08
cash                  23.164
date     2010-05-10 00:00:00
Name: 533, dtype: object
value            2.97094e+08
cash             2.97094e+08
date     2010-06-14 00:00:00
Name: 534, dtype: object
value            2.97094e+08
cash             1.07934e+08
date     2010-06-18 00:00:00
Name: 535, dtype: object
value            2.97094e+08
cash             2.07681e+08
date     2010-06-30 00:00:00
Name: 536, dtype: object
value            2.97094e+08
cash                   6.434
date     2010-07-06 00:00:00
Name: 537, dtype: object
value            2.97094e+08
cash                   6.434
date     2010-07-25 00:00:00
Name: 538, dtype: object
value            2.97094e+08
cash                   6.434
date     2010-07-29 00:00:00
Name: 539, dtype: object
value            2.97094e+08
cash                   6.434
date     2010-08-03 00:00:00
Name: 540, dtype: object
value            3.37479e+08
cash             3.37479e+08
date     2010-08-09 00:00:00
Name: 541, dtype: object
value            3.37479e+08
cash             1.95729e+08
date     2010-08-10 00:00:00
Name: 542, dtype: object
value            3.37479e+08
cash             1.95729e+08
date     2010-08-31 00:00:00
Name: 543, dtype: object
value            3.51729e+08
cash             3.51729e+08
date     2010-09-14 00:00:00
Name: 544, dtype: object
value            3.51729e+08
cash             3.32573e+08
date     2010-09-15 00:00:00
Name: 545, dtype: object
value            3.51729e+08
cash             3.49931e+08
date     2010-09-17 00:00:00
Name: 546, dtype: object
value            3.51729e+08
cash             3.38829e+08
date     2010-09-22 00:00:00
Name: 547, dtype: object
value            3.51729e+08
cash             1.69198e+08
date     2010-10-08 00:00:00
Name: 548, dtype: object
value            3.51729e+08
cash             1.69198e+08
date     2010-10-19 00:00:00
Name: 549, dtype: object
value            3.51729e+08
cash             1.69198e+08
date     2010-10-25 00:00:00
Name: 550, dtype: object
value            3.54579e+08
cash             1.84948e+08
date     2010-10-26 00:00:00
Name: 551, dtype: object
value            3.54579e+08
cash              3.1182e+08
date     2010-10-27 00:00:00
Name: 552, dtype: object
value            3.54579e+08
cash             3.51071e+08
date     2010-11-03 00:00:00
Name: 553, dtype: object
value            3.54579e+08
cash             1.16126e+08
date     2010-11-08 00:00:00
Name: 554, dtype: object
value            3.54579e+08
cash             2.99771e+08
date     2010-11-09 00:00:00
Name: 555, dtype: object
value            3.54579e+08
cash             2.99771e+08
date     2010-11-14 00:00:00
Name: 556, dtype: object
value            3.54579e+08
cash             2.86051e+08
date     2010-11-18 00:00:00
Name: 557, dtype: object
value            3.54579e+08
cash             2.62551e+08
date     2010-12-01 00:00:00
Name: 558, dtype: object
value            3.55821e+08
cash             2.67301e+08
date     2010-12-08 00:00:00
Name: 559, dtype: object
value            3.55821e+08
cash             2.67301e+08
date     2010-12-09 00:00:00
Name: 560, dtype: object
value            3.55821e+08
cash             2.67301e+08
date     2010-12-14 00:00:00
Name: 561, dtype: object
value            3.64521e+08
cash                   8.834
date     2010-12-15 00:00:00
Name: 562, dtype: object
value            3.65801e+08
cash                 1.5e+07
date     2010-12-23 00:00:00
Name: 563, dtype: object
value            3.65801e+08
cash                 1.5e+07
date     2011-01-04 00:00:00
Name: 564, dtype: object
value            3.97949e+08
cash             3.97949e+08
date     2011-01-20 00:00:00
Name: 565, dtype: object
value            3.97949e+08
cash             2.78292e+08
date     2011-02-09 00:00:00
Name: 566, dtype: object
value            3.97949e+08
cash             2.78292e+08
date     2011-02-10 00:00:00
Name: 567, dtype: object
value            4.03292e+08
cash             4.03292e+08
date     2011-03-16 00:00:00
Name: 568, dtype: object
value            4.03292e+08
cash             4.03292e+08
date     2011-03-17 00:00:00
Name: 569, dtype: object
value            4.03292e+08
cash             4.03292e+08
date     2011-04-08 00:00:00
Name: 570, dtype: object
value            4.03292e+08
cash             3.84842e+08
date     2011-04-27 00:00:00
Name: 571, dtype: object
value            4.03292e+08
cash             3.84842e+08
date     2011-05-12 00:00:00
Name: 572, dtype: object
value            4.04342e+08
cash             4.04342e+08
date     2011-05-31 00:00:00
Name: 573, dtype: object
value            4.04342e+08
cash             3.05918e+08
date     2011-06-24 00:00:00
Name: 574, dtype: object
value            4.13918e+08
cash             4.13918e+08
date     2011-07-31 00:00:00
Name: 575, dtype: object
value            4.13918e+08
cash             3.99268e+08
date     2011-08-02 00:00:00
Name: 576, dtype: object
value            4.13918e+08
cash             2.78368e+08
date     2011-08-18 00:00:00
Name: 577, dtype: object
value            4.14518e+08
cash             2.93618e+08
date     2011-09-04 00:00:00
Name: 578, dtype: object
value            4.14518e+08
cash             4.04118e+08
date     2011-09-14 00:00:00
Name: 579, dtype: object
value            4.14518e+08
cash             4.04118e+08
date     2011-09-21 00:00:00
Name: 580, dtype: object
value            4.14518e+08
cash             4.04118e+08
date     2011-10-17 00:00:00
Name: 581, dtype: object
value            4.14518e+08
cash             1.69768e+08
date     2011-11-03 00:00:00
Name: 582, dtype: object
value            4.18368e+08
cash             2.78284e+08
date     2011-11-08 00:00:00
Name: 583, dtype: object
value            4.18368e+08
cash             2.78284e+08
date     2011-11-20 00:00:00
Name: 584, dtype: object
value            4.18368e+08
cash             2.78284e+08
date     2011-12-01 00:00:00
Name: 585, dtype: object
value            4.18368e+08
cash             2.78284e+08
date     2011-12-08 00:00:00
Name: 586, dtype: object
value            4.18368e+08
cash             3.13868e+08
date     2011-12-13 00:00:00
Name: 587, dtype: object
value            4.18368e+08
cash             3.13868e+08
date     2011-12-14 00:00:00
Name: 588, dtype: object
value            4.18368e+08
cash             3.13868e+08
date     2011-12-20 00:00:00
Name: 589, dtype: object
value            4.18368e+08
cash             3.13868e+08
date     2012-01-03 00:00:00
Name: 590, dtype: object
value            4.63868e+08
cash             4.63868e+08
date     2012-01-17 00:00:00
Name: 591, dtype: object
value            4.63868e+08
cash                  21.639
date     2012-01-26 00:00:00
Name: 592, dtype: object
value            4.63868e+08
cash             4.61089e+08
date     2012-02-07 00:00:00
Name: 593, dtype: object
value            4.63868e+08
cash             4.61089e+08
date     2012-02-23 00:00:00
Name: 594, dtype: object
value            4.63868e+08
cash                 191.339
date     2012-02-24 00:00:00
Name: 595, dtype: object
value            4.63868e+08
cash              3.2533e+08
date     2012-02-28 00:00:00
Name: 596, dtype: object
value            4.63868e+08
cash              3.2533e+08
date     2012-02-29 00:00:00
Name: 597, dtype: object
value            4.63868e+08
cash              3.2533e+08
date     2012-03-06 00:00:00
Name: 598, dtype: object
value            4.64175e+08
cash             3.28416e+08
date     2012-03-13 00:00:00
Name: 599, dtype: object
value            4.64175e+08
cash             4.60775e+08
date     2012-03-16 00:00:00
Name: 600, dtype: object
value            4.64175e+08
cash              4.5896e+08
date     2012-03-28 00:00:00
Name: 601, dtype: object
value            4.64175e+08
cash              4.5896e+08
date     2012-04-02 00:00:00
Name: 602, dtype: object
value            4.64175e+08
cash              4.5896e+08
date     2012-04-09 00:00:00
Name: 603, dtype: object
value            4.64975e+08
cash              4.6316e+08
date     2012-04-19 00:00:00
Name: 604, dtype: object
value             4.6516e+08
cash              4.6516e+08
date     2012-04-30 00:00:00
Name: 605, dtype: object
value             4.6516e+08
cash              4.6516e+08
date     2012-05-07 00:00:00
Name: 606, dtype: object
value             4.6516e+08
cash              4.5444e+08
date     2012-05-09 00:00:00
Name: 607, dtype: object
value             4.6516e+08
cash              3.9336e+08
date     2012-05-25 00:00:00
Name: 608, dtype: object
value             4.6516e+08
cash             4.56187e+08
date     2012-05-30 00:00:00
Name: 609, dtype: object
value             4.6516e+08
cash             4.56187e+08
date     2012-06-01 00:00:00
Name: 610, dtype: object
value             4.6516e+08
cash             4.53437e+08
date     2012-06-04 00:00:00
Name: 611, dtype: object
value             4.6516e+08
cash             4.53437e+08
date     2012-06-11 00:00:00
Name: 612, dtype: object
value             4.6516e+08
cash              4.5716e+08
date     2012-06-12 00:00:00
Name: 613, dtype: object
value             4.6516e+08
cash              4.5716e+08
date     2012-06-14 00:00:00
Name: 614, dtype: object
value             4.6516e+08
cash             7.38615e+07
date     2012-06-28 00:00:00
Name: 615, dtype: object
value             4.6516e+08
cash             4.35135e+08
date     2012-07-02 00:00:00
Name: 616, dtype: object
value             4.6516e+08
cash             4.35135e+08
date     2012-07-03 00:00:00
Name: 617, dtype: object
value             4.6516e+08
cash             4.35135e+08
date     2012-07-05 00:00:00
Name: 618, dtype: object
value             4.6716e+08
cash             4.45135e+08
date     2012-07-17 00:00:00
Name: 619, dtype: object
value            4.68135e+08
cash             4.68135e+08
date     2012-08-05 00:00:00
Name: 620, dtype: object
value            4.68135e+08
cash              4.1943e+08
date     2012-08-06 00:00:00
Name: 621, dtype: object
value            4.68135e+08
cash              4.1943e+08
date     2012-08-08 00:00:00
Name: 622, dtype: object
value             4.7443e+08
cash              4.7443e+08
date     2012-09-11 00:00:00
Name: 623, dtype: object
value             4.7443e+08
cash             3.08063e+08
date     2012-10-29 00:00:00
Name: 624, dtype: object
value             4.7443e+08
cash             2.96143e+08
date     2012-11-05 00:00:00
Name: 625, dtype: object
value             4.7443e+08
cash             4.72597e+08
date     2012-11-07 00:00:00
Name: 626, dtype: object
value             4.7443e+08

value            6.44054e+08
cash             6.36913e+08
date     2014-12-09 00:00:00
Name: 700, dtype: object
value            6.44054e+08
cash             6.36913e+08
date     2014-12-16 00:00:00
Name: 701, dtype: object
value            6.44913e+08
cash             6.44913e+08
date     2015-01-13 00:00:00
Name: 702, dtype: object
value            6.44913e+08
cash             4.59448e+08
date     2015-02-09 00:00:00
Name: 703, dtype: object
value            6.44913e+08
cash             3.91441e+08
date     2015-02-10 00:00:00
Name: 704, dtype: object
value            6.44913e+08
cash             6.42993e+08
date     2015-02-17 00:00:00
Name: 705, dtype: object
value            6.44913e+08
cash             4.64596e+08
date     2015-02-23 00:00:00
Name: 706, dtype: object
value            6.44913e+08
cash             6.42881e+08
date     2015-03-16 00:00:00
Name: 707, dtype: object
value            6.44913e+08
cash             6.42881e+08
date     2015-03-19 00:00:00
Name: 708, dtype: object
value            6.44913e+08
cash             6.42881e+08
date     2015-03-26 00:00:00
Name: 709, dtype: object
value            6.44913e+08
cash             6.42881e+08
date     2015-03-27 00:00:00
Name: 710, dtype: object
value            6.44913e+08
cash             5.96085e+08
date     2015-04-02 00:00:00
Name: 711, dtype: object
value            6.45881e+08
cash             5.99085e+08
date     2015-04-21 00:00:00
Name: 712, dtype: object
value            6.45881e+08
cash             5.99085e+08
date     2015-04-22 00:00:00
Name: 713, dtype: object
value            6.45881e+08
cash             2.57485e+08
date     2015-04-27 00:00:00
Name: 714, dtype: object
value            6.45881e+08
cash             6.32381e+08
date     2015-04-28 00:00:00
Name: 715, dtype: object
value            6.45881e+08
cash             6.32381e+08
date     2015-04-29 00:00:00
Name: 716, dtype: object
value            6.45881e+08
cash             3.24221e+08
date     2015-05-04 00:00:00
Name: 717, dtype: object
value            6.45881e+08
cash             3.24221e+08
date     2015-05-05 00:00:00
Name: 718, dtype: object
value            6.45881e+08
cash              5.9375e+08
date     2015-05-15 00:00:00
Name: 719, dtype: object
value            6.45881e+08
cash              5.9375e+08
date     2015-05-25 00:00:00
Name: 720, dtype: object
value            6.45881e+08
cash              5.9375e+08
date     2015-05-28 00:00:00
Name: 721, dtype: object
value            6.45881e+08
cash                   1.199
date     2015-06-03 00:00:00
Name: 722, dtype: object
value            6.48881e+08
cash                  26.799
date     2015-06-04 00:00:00
Name: 723, dtype: object
value            6.48881e+08
cash                  26.799
date     2015-06-07 00:00:00
Name: 724, dtype: object
value            6.48881e+08
cash             5.81877e+08
date     2015-06-08 00:00:00
Name: 725, dtype: object
value             6.5525e+08
cash             6.26877e+08
date     2015-06-21 00:00:00
Name: 726, dtype: object
value             6.5525e+08
cash             6.09117e+08
date     2015-06-26 00:00:00
Name: 727, dtype: object
value             6.5525e+08
cash             6.53533e+08
date     2015-06-30 00:00:00
Name: 728, dtype: object
value             6.5525e+08
cash             6.53533e+08
date     2015-07-03 00:00:00
Name: 729, dtype: object
value             6.5525e+08
cash             5.55338e+08
date     2015-07-06 00:00:00
Name: 730, dtype: object
value             6.5525e+08
cash             5.55338e+08
date     2015-07-12 00:00:00
Name: 731, dtype: object
value             6.5525e+08
cash             5.55338e+08
date     2015-07-13 00:00:00
Name: 732, dtype: object
value             6.5597e+08
cash              5.8247e+08
date     2015-08-03 00:00:00
Name: 733, dtype: object
value             6.5597e+08
cash              5.8247e+08
date     2015-08-06 00:00:00
Name: 734, dtype: object
value             6.5597e+08
cash                  13.479
date     2015-08-07 00:00:00
Name: 735, dtype: object
value             6.5597e+08
cash              5.5922e+08
date     2015-08-20 00:00:00
Name: 736, dtype: object
value             6.5597e+08
cash              2.7772e+08
date     2015-08-24 00:00:00
Name: 737, dtype: object
value             6.5597e+08
cash                  11.059
date     2015-09-02 00:00:00
Name: 738, dtype: object
value             6.5597e+08
cash                  11.059
date     2015-09-09 00:00:00
Name: 739, dtype: object
value             6.6497e+08
cash                8.25e+07
date     2015-09-10 00:00:00
Name: 740, dtype: object
value             6.6672e+08
cash               1.075e+08
date     2015-09-24 00:00:00
Name: 741, dtype: object
value             6.8522e+08
cash               4.075e+08
date     2015-09-28 00:00:00
Name: 742, dtype: object
value            6.99338e+08
cash             6.99338e+08
date     2015-10-08 00:00:00
Name: 743, dtype: object
value            6.99338e+08
cash             6.30465e+08
date     2015-10-30 00:00:00
Name: 744, dtype: object
value            6.99338e+08
cash             6.86858e+08
date     2015-11-02 00:00:00
Name: 745, dtype: object
value            6.99338e+08
cash                  11.929
date     2015-11-13 00:00:00
Name: 746, dtype: object
value            6.99338e+08
cash             6.79359e+08
date     2015-11-17 00:00:00
Name: 747, dtype: object
value            6.99338e+08
cash             4.07164e+08
date     2015-11-24 00:00:00
Name: 748, dtype: object
value            7.01858e+08
cash             4.22164e+08
date     2015-12-07 00:00:00
Name: 749, dtype: object
value            7.01858e+08
cash             3.04437e+08
date     2015-12-08 00:00:00
Name: 750, dtype: object
value            7.01858e+08
cash             6.71226e+08
date     2015-12-14 00:00:00
Name: 751, dtype: object
value            7.01858e+08
cash             6.71226e+08
date     2015-12-17 00:00:00
Name: 752, dtype: object
value            7.01858e+08
cash             6.71226e+08
date     2015-12-22 00:00:00
Name: 753, dtype: object
value            7.01858e+08
cash             6.71226e+08
date     2015-12-29 00:00:00
Name: 754, dtype: object
value            7.01858e+08
cash             6.64858e+08
date     2016-01-12 00:00:00
Name: 755, dtype: object
value            7.01858e+08
cash             6.64858e+08
date     2016-01-13 00:00:00
Name: 756, dtype: object
value            7.01858e+08
cash             6.64858e+08
date     2016-01-18 00:00:00
Name: 757, dtype: object
value            7.01858e+08
cash             6.64858e+08
date     2016-01-25 00:00:00
Name: 758, dtype: object
value            7.01858e+08
cash             5.75747e+08
date     2016-02-05 00:00:00
Name: 759, dtype: object
value            7.01858e+08
cash             4.77906e+08
date     2016-02-11 00:00:00
Name: 760, dtype: object
value            7.14858e+08
cash             5.27906e+08
date     2016-02-16 00:00:00
Name: 761, dtype: object
value            7.14858e+08
cash             5.98505e+08
date     2016-02-22 00:00:00
Name: 762, dtype: object
value            7.25747e+08
cash             7.14865e+08
date     2016-03-10 00:00:00
Name: 763, dtype: object
value            7.25747e+08
cash             7.14865e+08
date     2016-03-14 00:00:00
Name: 764, dtype: object
value            7.25747e+08
cash             7.14865e+08
date     2016-03-17 00:00:00
Name: 765, dtype: object
value            7.25747e+08
cash             7.14865e+08
date     2016-03-27 00:00:00
Name: 766, dtype: object
value            7.25747e+08
cash             7.14865e+08
date     2016-03-28 00:00:00
Name: 767, dtype: object
value            7.25747e+08
cash             7.14865e+08
date     2016-04-11 00:00:00
Name: 768, dtype: object
value            7.26865e+08
cash             7.26865e+08
date     2016-04-13 00:00:00
Name: 769, dtype: object
value            7.26865e+08
cash             7.26865e+08
date     2016-04-17 00:00:00
Name: 770, dtype: object
value            7.26865e+08
cash             7.26865e+08
date     2016-05-01 00:00:00
Name: 771, dtype: object
value            7.26865e+08
cash             6.55366e+08
date     2016-05-10 00:00:00
Name: 772, dtype: object
value            7.26865e+08
cash             6.55366e+08
date     2016-05-18 00:00:00
Name: 773, dtype: object
value            7.30366e+08
cash             7.30366e+08
date     2016-06-14 00:00:00
Name: 774, dtype: object
value            7.30366e+08
cash             7.30366e+08
date     2016-07-07 00:00:00
Name: 775, dtype: object
value            7.30366e+08
cash             7.30366e+08
date     2016-07-13 00:00:00
Name: 776, dtype: object
value            7.30366e+08
cash             7.30366e+08
date     2016-08-10 00:00:00
Name: 777, dtype: object
value            7.30366e+08
cash             7.30366e+08
date     2016-08-15 00:00:00
Name: 778, dtype: object
value            7.30366e+08
cash             7.03166e+08
date     2016-08-26 00:00:00
Name: 779, dtype: object
value            7.30366e+08
cash             4.58614e+08
date     2016-10-17 00:00:00
Name: 780, dtype: object
value            7.30366e+08
cash             6.51766e+08
date     2016-10-18 00:00:00
Name: 781, dtype: object
value            7.30366e+08
cash             5.80382e+08
date     2016-11-07 00:00:00
Name: 782, dtype: object
value            7.30366e+08
cash             4.73622e+08
date     2016-11-16 00:00:00
Name: 783, dtype: object
value            7.40266e+08
cash             5.62122e+08
date     2016-11-21 00:00:00
Name: 784, dtype: object
value            7.48882e+08
cash             6.42122e+08
date     2016-12-13 00:00:00
Name: 785, dtype: object
value            7.52122e+08
cash             7.52122e+08
date     2016-12-21 00:00:00
Name: 786, dtype: object
value            7.52122e+08
cash             7.48762e+08
date     2017-01-10 00:00:00
Name: 787, dtype: object
value            7.52122e+08
cash             7.42012e+08
date     2017-02-03 00:00:00
Name: 788, dtype: object
value            7.53262e+08
cash             7.46512e+08
date     2017-02-14 00:00:00
Name: 789, dtype: object
value            7.53662e+08
cash             7.53662e+08
date     2017-03-09 00:00:00
Name: 790, dtype: object
value            7.53662e+08
cash              7.4435e+08
date     2017-04-06 00:00:00
Name: 791, dtype: object
value            7.53662e+08
cash                  17.759
date     2017-04-27 00:00:00
Name: 792, dtype: object
value            7.53662e+08
cash             7.44976e+08
date     2017-05-08 00:00:00
Name: 793, dtype: object
value            7.53662e+08
cash             7.44976e+08
date     2017-05-11 00:00:00
Name: 794, dtype: object
value            7.53662e+08
cash             7.18962e+08
date     2017-05-26 00:00:00
Name: 795, dtype: object
value            7.53662e+08
cash             7.18962e+08
date     2017-05-30 00:00:00
Name: 796, dtype: object
value            7.53662e+08
cash             7.18962e+08
date     2017-06-11 00:00:00
Name: 797, dtype: object
value            7.53662e+08
cash             4.97715e+08
date     2017-06-23 00:00:00
Name: 798, dtype: object
value            7.53662e+08
cash             4.97715e+08
date     2017-06-26 00:00:00
Name: 799, dtype: object
value            7.58962e+08
cash             5.37715e+08
date     2017-07-02 00:00:00
Name: 800, dtype: object
value            7.58962e+08
cash             5.37715e+08
date     2017-07-31 00:00:00
Name: 801, dtype: object
value            7.69285e+08
cash             7.69285e+08
date     2017-08-08 00:00:00
Name: 802, dtype: object
value            7.69285e+08
cash             7.69285e+08
date     2017-08-11 00:00:00
Name: 803, dtype: object
value            7.69285e+08
cash             7.69285e+08
date     2017-08-17 00:00:00
Name: 804, dtype: object
value            7.69285e+08
cash             1.88503e+08
date     2017-08-21 00:00:00
Name: 805, dtype: object
value            7.69285e+08
cash             7.60765e+08
date     2017-08-25 00:00:00
Name: 806, dtype: object
value            7.69285e+08
cash             7.60765e+08
date     2017-09-14 00:00:00
Name: 807, dtype: object
value            7.69285e+08
cash             7.60765e+08
date     2017-09-20 00:00:00
Name: 808, dtype: object
value            7.69285e+08
cash             7.60765e+08
date     2017-09-25 00:00:00
Name: 809, dtype: object
value            7.69285e+08
cash             6.39685e+08
date     2017-09-27 00:00:00
Name: 810, dtype: object
value            7.69285e+08
cash             6.39685e+08
date     2017-10-01 00:00:00
Name: 811, dtype: object
value            7.92685e+08
cash             7.92685e+08
date     2017-10-31 00:00:00
Name: 812, dtype: object
value            7.92685e+08
cash              6.1493e+08
date     2017-11-20 00:00:00
Name: 813, dtype: object
value            7.92685e+08
cash             6.12602e+08
date     2017-11-21 00:00:00
Name: 814, dtype: object
value            7.92685e+08
cash             6.12602e+08
date     2017-12-24 00:00:00
Name: 815, dtype: object
value             8.1493e+08
cash             8.12602e+08
date     2017-12-25 00:00:00
Name: 816, dtype: object
value            8.15102e+08
cash             8.15102e+08
date     2017-12-27 00:00:00
Name: 817, dtype: object
value            8.15102e+08
cash             3.32981e+08
date     2018-01-10 00:00:00
Name: 818, dtype: object
value            8.15102e+08
cash             8.10727e+08
date     2018-02-02 00:00:00
Name: 819, dtype: object
value            8.15102e+08
cash             7.05804e+08
date     2018-02-13 00:00:00
Name: 820, dtype: object
value            8.15727e+08
cash             7.10804e+08
date     2018-03-15 00:00:00
Name: 821, dtype: object
value            8.15727e+08
cash             8.07705e+08
date     2018-03-16 00:00:00
Name: 822, dtype: object
value            8.15727e+08
cash             7.48159e+08
date     2018-03-20 00:00:00
Name: 823, dtype: object
value            8.15727e+08
cash              4.0462e+08
date     2018-04-10 00:00:00
Name: 824, dtype: object
value            8.15727e+08
cash              4.0462e+08
date     2018-04-18 00:00:00
Name: 825, dtype: object
value            8.20757e+08
cash             4.17672e+08
date     2018-04-22 00:00:00
Name: 826, dtype: object
value            8.20757e+08
cash             4.17672e+08
date     2018-04-23 00:00:00
Name: 827, dtype: object
value            8.20757e+08
cash                  92.689
date     2018-04-26 00:00:00
Name: 828, dtype: object
value            8.20757e+08
cash                  29.219
date     2018-05-01 00:00:00
Name: 829, dtype: object
value            8.20757e+08
cash                  29.219
date     2018-05-08 00:00:00
Name: 830, dtype: object
value            8.20757e+08
cash                  29.219
date     2018-05-13 00:00:00
Name: 831, dtype: object
value            8.20757e+08
cash             8.08078e+08
date     2018-05-18 00:00:00
Name: 832, dtype: object
value            8.20757e+08
cash             8.08078e+08
date     2018-05-22 00:00:00
Name: 833, dtype: object
value            8.20757e+08
cash             8.08078e+08
date     2018-05-29 00:00:00
Name: 834, dtype: object
value            8.20757e+08
cash             8.08078e+08
date     2018-06-04 00:00:00
Name: 835, dtype: object
value            8.20757e+08
cash             8.08078e+08
date     2018-06-11 00:00:00
Name: 836, dtype: object
value            8.24078e+08
cash             8.24078e+08
date     2018-06-21 00:00:00
Name: 837, dtype: object
value            8.24078e+08
cash             8.24078e+08
date     2018-07-03 00:00:00
Name: 838, dtype: object
value            8.24078e+08
cash                   4.049
date     2018-07-31 00:00:00
Name: 839, dtype: object
value            8.24078e+08
cash             7.76268e+08
date     2018-08-07 00:00:00
Name: 840, dtype: object
value            8.24078e+08
cash             8.10102e+08
date     2018-08-22 00:00:00
Name: 841, dtype: object
value            8.24078e+08
cash             8.10102e+08
date     2018-09-02 00:00:00
Name: 842, dtype: object
value            8.24078e+08
cash             7.91102e+08
date     2018-09-05 00:00:00
Name: 843, dtype: object
value            8.24078e+08
cash             7.91102e+08
date     2018-09-12 00:00:00
Name: 844, dtype: object
value            8.25102e+08
cash             8.06102e+08
date     2018-09-25 00:00:00
Name: 845, dtype: object
value            8.26102e+08
cash             7.80581e+08
date     2018-10-09 00:00:00
Name: 846, dtype: object
value            8.30581e+08
cash             8.30581e+08
date     2018-11-12 00:00:00
Name: 847, dtype: object
value            8.30581e+08
cash             3.39779e+08
date     2018-11-13 00:00:00
Name: 848, dtype: object
value            8.39779e+08
cash             8.39779e+08
date     2018-12-18 00:00:00
Name: 849, dtype: object

## Best Case Simulation
Using outlook equals 'high', what is our return for the two strategies

In [9]:
if one_account_limit:
    """ One Account """
    # Calculate worst case for the naive strategy
    high_naive_portfolio = simulate_one_account_limit(10000, 'high', 'naive')
    # Calculate returns
    high_naive_portfolio['return'] = calculate_returns(high_naive_portfolio, 'value')
    high_naive_portfolio['norm return'] = high_naive_portfolio['return'] / high_naive_portfolio.iloc[0]['value']
    # print(high_naive_portfolio)

    # Calculate worst case for the conservative strategy
    high_conservative_portfolio = simulate_one_account_limit(10000, 'high', 'conservative')
    # Calculate returns
    high_conservative_portfolio['return'] = calculate_returns(high_conservative_portfolio, 'value')
    high_conservative_portfolio['norm return'] = high_conservative_portfolio['return'] / high_conservative_portfolio.iloc[0]['value']
    # print(high_conservative_portfolio)

    # Add the two best cases to the portfolios array
    portfolios['hnp'] = high_naive_portfolio
    portfolios['hcp'] = high_conservative_portfolio

## Fill in Dates
Fills in the dates outside of trading dates

In [10]:
# for portfolio_name in portfolios.keys():
    
#     portfolio = portfolios[portfolio_name]
    
#     # Get simulation date range to fill in the values
#     date_range = pd.date_range(start_date, end_date)
    
#     new_portfolio =
#     if one_account_limit:
#         new_portfolio = pd.DataFrame({'value': [], 'cash_invested': [], 'date': date_range})
#     else:
#         new_portfolio = pd.DataFrame({'value': [], 'cash': [], 'date': date_range})

## Absolute Returns
Get the absolute returns for the portfolios.

In [11]:
absolute_portfolios = None
for name, portfolio in portfolios.items():
    portfolio['year'] = pd.DatetimeIndex(portfolio['date']).year.astype(int)
    
    portfolio['change'] = portfolio['value'].shift(-1) - portfolio['value']

    # Calculate annualized returns
    absolute_returns = []
    years = np.sort(portfolio['year'].unique())
    for year in years:
        year_data = portfolio[portfolio['year'] == year]
        start_value = year_data.iloc[0]['value']
        end_value = year_data.tail(1).iloc[0]['value']
        ####
        # TODO: divide by start value once we are full utilizing returns!!!
        ####
        absolute_returns.append(end_value - start_value)
        
    if absolute_portfolios is None:
        absolute_portfolios = pd.DataFrame({name: absolute_returns},
                                            index=years)
    else:
        absolute_portfolios[name] = absolute_returns
                
print(absolute_portfolios)
absolute_portfolios.to_csv('./data/results-mult-account/base_absolute_portfolio_returns.csv')

             multi
2000  7.460481e+05
2001  5.658778e+06
2002  1.972999e+07
2003  2.728728e+07
2004  2.622460e+07
2005  3.294811e+07
2006  2.921881e+07
2007  6.771509e+07
2008  1.657636e+07
2009  1.251442e+07
2010  1.151859e+08
2011  5.256641e+07
2012  5.606211e+07
2013  7.916031e+07
2014  8.346380e+07
2015  5.694452e+07
2016  5.026369e+07
2017  6.298064e+07
2018  2.467679e+07

## Annualizing Data
We will now group the data up by year so that we can annualize it and analyze it better, starting in 2000.

In [12]:
annualized_portfolios = None
for name, portfolio in portfolios.items():
    portfolio['year'] = pd.DatetimeIndex(portfolio['date']).year.astype(int)

    # Calculate annualized returns
    annualized_returns = []
    years = np.sort(portfolio['year'].unique())
    for year in years:
        year_data = portfolio[portfolio['year'] == year]
        start_value = year_data.iloc[0]['value']
        end_value = year_data.tail(1).iloc[0]['value']

        # If there is a one account cap for any given tender offer, 
        # we assume that you will only need $50,000 in order to max out a single account
        # for each tender offer. Thus, we divide our change in portfolio value across the
        # year by $50,000, as this would be the principal needed to safely follow this strategy
        if one_account_limit:
            annualized_returns.append((end_value - start_value) / 50000)
        else:
            annualized_returns.append((end_value - start_value) / start_value)
        
    if annualized_portfolios is None:
        annualized_portfolios = pd.DataFrame({name: annualized_returns},
                                            index=years)
    else:
        annualized_portfolios[name] = annualized_returns
                
print(annualized_portfolios)
annualized_portfolios.to_csv('./data/results-mult-account/base_annualized_portfolio_returns.csv')

         multi
2000  7.460481
2001  6.688483
2002  3.033130
2003  1.015187
2004  0.469818
2005  0.401594
2006  0.254096
2007  0.469558
2008  0.078218
2009  0.052565
2010  0.459612
2011  0.143702
2012  0.134002
2013  0.164427
2014  0.148886
2015  0.088298
2016  0.071615
2017  0.083737
2018  0.030274

## Analyzing portfolios
We will now calculate things like the standard deviation of returns, sharpe ratios, overall returns, etc.

In [13]:
analysis_data = pd.DataFrame(columns={'strategy', 'final_ret', 'ret_std', 'sharpe_ratio'})

# TODO: Use anualized returns/std deviation to calculate this stuff
for strategy in annualized_portfolios:
    portfolio = annualized_portfolios[strategy]
    
    row = {}
    row['strategy'] = strategy
    
    # Calculate cash needed to maintain a single account:
    
    # Calculate final return
    final_ret = 1
    for ret in portfolio.values:
        final_ret = final_ret * (1 + ret)
    row['final_ret'] = final_ret - 1
    
    # Calculate standard deviations
    row['ret_std'] = portfolio.std()
    
    # Calculate Sharpe Ratio using MEAN 20 YEAR TREASURY RATE as risk free rate
#     Sharpe ratio = (return - risk_free_return) / std_dev
    row['sharpe_ratio'] = (row['final_ret'] - .024) / row['ret_std']
    
    
    # Add to analysis dataframe
    analysis_data = analysis_data.append(row, ignore_index=True)

print(analysis_data)

     final_ret   ret_std strategy  sharpe_ratio
0  7511.229678  2.209319    multi   3399.783038

## Getting Time Series Data
Just save the portfolio data

In [14]:
# for name, portfolio in portfolios.items():
#     time_series_data = portfolio.drop(['cash_invested', 'return','norm return'], axis=1).set_index('date')
#     time_series_data.to_csv('./data/results/time_series_data_' + name + '.csv')